.THIS .boldMarginLeft{
    margin-left: 10px;
    font-weight: bold;
}

.cCmp_OppPartnersOrBrokers a.partnerLink{
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    transition: color .1s linear !important;
}
.cCmp_OppPartnersOrBrokers a.partnerLink:hover{
    color: rgb(0, 109, 204);
    text-decoration: underline;
}