.THIS .slds-icon-utility-light-bulb {
    fill : rgb(184, 204, 18);
}
.THIS .slds-icon-utility-like.slds-icon_container{
    border : 3px solid;
}
.THIS .slds-icon-utility-dislike.slds-icon_container{
    border : 3px solid;
}
.THIS .slds-badge{
    background-color: #f7f7ab !important;
}
.THIS .title{
    font-weight: 510 !important;
    font-size: 1.00rem !important;
}
.THIS .text-color{
    color : white;
}