<apex:page id="allClaims" standardController="Claim__c" sidebar="false" showHeader="false" extensions="MyClaimsCtrl" standardStylesheets="false" action="{!getAllClaimDetails}">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
        .my-cliams.claim-tabs-section .tab-all-claim-section th.reserve {
            line-height: 14px;
            max-width: 95px !important;
            min-width: 95px !important;
        }
        .my-cliams.claim-tabs-section .tab-all-claim-section th.paid {
            line-height: 14px;
            max-width: 95px !important;
            min-width: 95px !important;
        }
        .my-cliams.claim-tabs-section .tab-all-claim-section th.total {
            line-height: 14px;
            max-width: 95px !important;
            min-width: 95px !important;
        }
        .my-cliams.claim-tabs-section .tab-detail-container td.reserve,
        .my-cliams.claim-tabs-section .tab-detail-container td.paid,
        .my-cliams.claim-tabs-section .tab-detail-container td.total {
            max-width: 95px !important;
            min-width: 95px !important;
            width: 95px !important;
        }
        .broker-view.tab-all-claim-section td.client-type {
            max-width: 140px !important;
        }
        
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.gard-ref-no,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.gard-ref-no {
            max-width: 115px !important;
            min-width: 115px !important;
            width : 115px !important;
        }
        
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.status,        
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.status {       
            max-width: 60px !important;     
            min-width: 60px !important;     
            width: 60px !important;     
        }
        
        .my-cliams .tab-all-claim-section th.date div.th-container{
         /* padding: 8px 15px 16px 4px !important;
          line-height: 14px !important;*/
        }
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-name,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.client-name {
            max-width: 136px !important;
            min-width: 136px !important;
            width: 136px !important;
        }
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-ref,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.client-ref {
            max-width: 115px !important;
            min-width: 115px !important;
            width: 115px !important;
        }
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-type,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.client-type {
            max-width: 100px !important;
            min-width: 100px !important;
            width: 100px !important;
        }
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.obj-name,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.obj-name {
            max-width: 127px !important;
            min-width: 127px !important;
            width: 127px !important;
        }
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.cover,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.cover {
            /*max-width: 128px !important;*/
            max-width: 100px !important;
            min-width: 100px !important;
            width: 100px !important;
        }
           
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.obj-name,
        .broker-view-page-container .broker-view.tab-all-claim-section.all-claims td.obj-name {
            max-width: 112px !important;
            min-width: 112px !important;
            width: 112px !important;
        }

        .client-view-page-container .my-cliams .claim-type .select-wrapper {
            width: 176px !important;
        }
        .client-view-page-container .my-cliams .claim-type .select-wrapper {
            width: 176px !important;
        }
        .client-view-page-container .my-cliams .claim-type .select-wrapper .btn-group button.multiselect {
            width: 176px !important;
        }
        .client-view-page-container .my-cliams .object .select-wrapper {
            width: 176px !important;
        }
        .client-view-page-container .my-cliams .object .select-wrapper .btn-group button.multiselect {
            width: 176px !important;
        }
        .client-view-page-container .my-cliams .year .select-wrapper {
            width: 122px !important;
        }
        .client-view-page-container .my-cliams .year .select-wrapper .btn-group button.multiselect {
            width: 122px !important;
        }
        .client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section th.obj-name,
        .client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section td.obj-name {
            max-width: 139px !important;
            min-width: 139px !important;
            width: 139px !important;
        }
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims th.cover,
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims td.cover {
            max-width: 140px !important;
            min-width: 140px !important;
        }
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-ref,
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims td.client-ref {
            width: 120px !important;
            max-width: 120px !important;
            min-width: 120px !important;
        }
        .client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section th.client-type,
        .client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section td.client-type{
             width: 123px !important;
            max-width: 123px !important;
            min-width: 123px !important;
        }
        .broker-view.tab-all-claim-section.all-claims th.date,
        .broker-view.tab-all-claim-section.all-claims td.date {
            max-width: 80px !important;
            min-width: 80px !important;
            width: 80px !important;
        }
         .tab-all-claim-section td.reserve, .tab-all-claim-section td.paid, .tab-all-claim-section td.total{
            text-align: right;
        }
        .tab-all-claim-section .pagination {
            margin: 9px -4px 0px 0px;
        }
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims th.date,
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims td.date {
            max-width: 88px !important;
            min-width: 88px !important;
        }
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims th.gard-ref-no,
        .client-view-page-container .broker-view.tab-all-claim-section.all-claims td.gard-ref-no {
            max-width: 120px !important;
            min-width: 120px !important;
            width: 120px !important;
        }
        .client-view-page-container .broker-view.tab-all-claim-section th.status,
        .client-view-page-container .broker-view.tab-all-claim-section td.status {
            max-width: 63px !important;
            min-width: 63px !important;
            width: 63px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section th.obj-name,
        .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section td.obj-name {
            max-width: 112px !important;
            min-width: 112px !important;
            width: 112px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.cover,
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.cover {
            max-width: 100px !important;
            min-width: 100px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section th.client-type,
        .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-all-claim-section td.client-type{
             width: 100px !important;
            max-width: 100px !important;
            min-width: 100px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.date,
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.date {
            max-width: 80px !important;
            min-width: 80px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.status,
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.status {
            max-width: 60px !important; 
            min-width: 60px !important;
            width : 60px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.gard-ref-no,
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.gard-ref-no {
            max-width: 115px !important;
            min-width: 115px !important;
            width : 115px !important;
        } 
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-name,
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.client-name {
            max-width: 136px !important;
            min-width: 136px !important;
            width: 136px !important;
        }
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-ref,
        .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.client-ref {
            max-width: 115px !important;
            min-width: 115px !important;
            width: 115px !important;
        }
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            
            /*.broker-view-page-container .broker-view.tab-all-claim-section.all-claims th.client-ref {
                max-width: 104px !important;
                min-width: 104px !important;
                width: 104px !important;
            }*/
       }
    .save-filter-popup .popup-form-container input[type="text"] {
      width: 346px;
    }
    th div.th-container{
        padding: 11px 5px 10px 7px;
    }
     .client-view-page-container .record-detail-dwnld-section{
        width: 70px !important;
    }
    .client-view-page-container .tab-all-claim-section .pagination{
        margin: 10px 30px 0 !important;
    }
    .client-view-page-container .record-details{
        margin-right: 17px !important;
    }  
</style>
<script>
  js$=jQuery.noConflict();
  jQuery(document).ready(function(){
  var pageOld = jQuery('.page-no.pager-section > input[type="text"]').val();
    jQuery('.main-menu-links').removeClass('active');
    jQuery('.main-menu-links.myclaims').addClass('active');
   jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                if (eInner.keyCode == 13) { 
                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();                      
                       if(enterPage <= {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)} && enterPage != 0){                              
                             jQuery('.overley, .loading').show();                         
                             changePageNumberAll();                             
                             return false;
                         }
                         else{
                             jQuery('.page-no.pager-section > input[type="text"]').val('1');
                             changePageNumberAll();                            
                             return false;
                         }
                    }    
                    
      }); 
      jQuery('.client-view-page-container .my-cliams .tab-all-claim-section .claims-filters-container .object ul.dropdown-menu.multiselect-container li').each( function(){
                if (jQuery(this).children('a').children('label').children('span.select-options').attr('alt')) {
                                var singleSelOptn = jQuery(this).children('a').children('label').children('span.select-options').attr('alt');
                                if (singleSelOptn.length > 15) {
                                                jQuery(this).children('a').children().children('span.select-options').html(singleSelOptn.substring(0, 15) + '...');
                                }
                                else {
                                                jQuery(this).children('a').children().children('span.select-options').html(singleSelOptn);
                                }
                }
});
  });
 </script>
 <!-- Browser requirement popup section starts -->
 <div class="inner-overley-save-filter">
 <div class="save-filter-popup">
     <div class="popup-close"></div>
     <div class="popup-infos home-page-browser-popup-infos">
         <div class="home-page-browser-info-pop-wrapper">
             <div class="pop-up-title">Saved filters</div>
             <div class="popup-form-container">
                 <apex:form id="company-info-form">
                     <div class="contact-field">
                         <div class="add-fields">
                             <div class="feedback-comment">
                                 <label for="fb-comments" class="feedback-label">Enter a filter name:</label>
                                 <input type="text" name="" id="savedFN" value="" onkeyup="limitText(this,80);" onkeypress="limitText(this,80);"/>
                             </div>
                             <div class="contact-field-holder contact-pref-fields" style="float:left;margin: 0 !important;font-size: 12px;"><label>(Max 80 characters)</label></div>
                         </div>
                         <div class="form-submit-section">
                            <apex:commandButton styleClass="form-btn" value="Done" onComplete="validateFilterName();" rerender="test"/>
                            <apex:commandButton styleClass="form-btn" value="Cancel" onComplete="finalClosePopup();" rerender="test"/>
                         </div>
                        
                     </div>
                 </apex:form>
             </div>
         </div>
     </div>
 </div>
 </div>
 <!-- Browser requirement popup section ends -->
  <apex:composition template="PageFrame" >
        <apex:define name="content" >  
      <div  class="content">
       <div class="content-wrapper"> 
       <div class="page-title">My claims</div>
             <div class="tab-section-container">
             
                    <div class="report-new-claim-button">
                    <apex:outputLink value="/apex/ReportClaimsP2" styleClass="form-btn" >New claim</apex:outputLink>
                    </div>
                 <!--3581 Starts-->
                    <div class="tab-button-section claims-tab-holder">
                        <div class="open-claims single-tab deselected"><apex:outputLink value="/apex/OpenClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Open,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Open,LEN($Label.MyGard_ClaimStatus_Open)-1))} claims</apex:outputLink></div>
                        <div class="all-claims single-tab selected"> <apex:outputLink value="/apex/AllClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_All,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_All,LEN($Label.MyGard_ClaimStatus_All)-1))} claims<div class="update-cover-wrapper-activated"></div></apex:outputLink> </div>
                        <div class="reported-claims single-tab deselected"><apex:outputLink value="/apex/ReportedIncident">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Pending,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Pending,LEN($Label.MyGard_ClaimStatus_Pending)-1))} claims</apex:outputLink></div>
                        <div class="draft-claims single-tab deselected"><apex:outputLink value="/apex/DraftClaims">{! UPPER(LEFT($Label.MyGard_ClaimStatus_Draft,1)) & LOWER(RIGHT($Label.MyGard_ClaimStatus_Draft,LEN($Label.MyGard_ClaimStatus_Draft)-1))} claims</apex:outputLink></div>
                        <div class="forms single-tab deselected"><apex:outputLink value="/apex/DisplayForms">Forms</apex:outputLink></div>
                    </div>
                 <!--3581 Ends-->
                  <div class="tab-details-section gard-contact claim-tabs-section my-cliams">
                      <div class="tab-detail-columns">
                      <div class="tab-all-claim-section tab-table-wrapper tab-detail-container broker-view all-claims" style="display:block;" >
                      <div class="form-field-scrol-container free-content-area">
        <apex:form id="theFrm">
                
                <apex:actionFunction action="{!createFavourites}" name="createFavs" rerender="editObjectPopUp">
                    <apex:param name="savedName" value="" assignTo="{!newFilterName}" />
                </apex:actionFunction>
                <apex:actionFunction action="{!deleteFavourites}" name="deleteFavs" rerender="editObjectPopUp"/> 
                <apex:actionFunction action="{!fetchFavourites}" name="fetchFavs" rerender="editObjectPopUp"/>
                <apex:actionFunction action="{!getAllClaimDetails}" name="sortingFunction" reRender="ListView1" oncomplete="jQuery('.overley,.loading').hide();">
                    <apex:param value="" name="column" assignTo="{!orderByNew}" ></apex:param>
                </apex:actionFunction>   
                <div class="claims-filters-container">
                <apex:outputPanel id="filterSection">
                    <div class="claim-filter-sections client" style="display:{!IF((hasMultipleClients),'block;','none;')}"><!--4302 replaced style="display:{!IF((userType=='Broker'),'block;','none;')}"-->
                    <label for="filter-field">Client</label> 
                         <div class="select-wrapper"> 
                            <apex:outputPanel id="filterClient">                                      
                             <apex:selectList value="{!selectedClient}" multiselect="true" styleClass="filter-field multiselect">
                                 <apex:selectOptions value="{!clientLst}"/> 
                             </apex:selectList> 
                            </apex:outputPanel>
                         </div>
                    </div>
                    <div class="claim-filter-sections object">
                    <label for="filter-field">Object</label>
                        <div class="select-wrapper">                                    
                                <apex:selectList value="{!selectedObj}" multiselect="true" styleClass="filter-field multiselect">
                                    <apex:selectOptions value="{!objectName}"/>
                                </apex:selectList>
                        </div>
                    </div>
                    <div class="claim-filter-sections cover">
                    <label for="filter-field">Cover</label>
                        <div class="select-wrapper">                                   
                            <apex:selectList value="{!selectedCover}" multiselect="true" styleClass="filter-field multiselect">
                                <apex:selectOptions value="{!coverLst}"/>
                            </apex:selectList>
                         </div>
                    </div>
                    <div class="claim-filter-sections claim-type">
                    <label for="filter-field">Claim type</label>
                        <div class="select-wrapper">                                      
                                 <apex:selectList value="{!selectedClaimType}" multiselect="true" styleClass="filter-field multiselect">
                                     <apex:selectOptions value="{!claimTypeLst}"/> 
                                 </apex:selectList> 
                         </div>
                    </div>
                    
                    <div class="claim-filter-sections year">
                    <label for="filter-field">Year</label>
                        <div class="select-wrapper">                                   
                             <apex:selectList value="{!selectedYear}" multiselect="true" styleClass="filter-field multiselect">
                                 <apex:selectOptions value="{!yearLst}"/>
                             </apex:selectList>   
                         </div>                                                                           
                    </div>
                    <div class="claim-filter-sections filter">
                        <apex:commandButton value="Go" action="{!filterRecords}" reRender="ListView1,filterSection,filterScript" styleClass="tab-filter-btn" style="border:none;" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" /> 
                    </div>
                    <div class="claim-filter-sections filter clear">
                        <apex:commandButton action="{!clearOptionsAllClaims}" styleClass="form-btn doc-clear-filter-buton" value="Clear"/>
                    </div>
                    
                     </apex:outputPanel>     
                    <div class="claim-filter-sections save-filter">
                        <span class="save-filter-star"></span>
                    </div>                   
                  <script>
                    jQuery( document ).ready(function() {                       
                        var favFlag = '{!isFav}';
                        if(favFlag=='true'){                          
                           
                            jQuery('.save-filter .save-filter-star').addClass('favved');  
                             jQuery('.save-filter .save-filter-star').attr('title','Remove filter');
                        }else{                           
                            jQuery('.save-filter .save-filter-star').removeClass('favved');
                             jQuery('.save-filter .save-filter-star').attr('title','Save filter');
                        }
                    });
                    jQuery('.save-filter .save-filter-star').click( function(){  
                        jQuery(".error-validation-msg").remove();                                                                     
                        if(jQuery(this).hasClass('favved')){                                                                                           
                            deleteFavs(); 
                            jQuery(this).removeClass('favved');
                             jQuery('.save-filter .save-filter-star').attr('title','Save filter');
                        }
                        else{                                                
                            jQuery('.inner-overley-save-filter').show();
                            jQuery('.save-filter-popup').show();
                            jQuery('#savedFN').val('');                             
                        }           
                    });
                    
                    /* added for enter on text box */
                    jQuery('#savedFN').bind('keypress', function (eInner){
                            if (eInner.keyCode == 13) {
                                var savedName = jQuery('#savedFN').val();
                                if(savedName!=null && savedName!=''){
                                    jQuery('.save-filter .save-filter-star').addClass('favved');                                                            
                                    jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                    createFavs(savedName); 
                                    jQuery('.save-filter .save-filter-star').attr('title','Remove filter');
                                }else{
                                    var msgError = '<div class="error-validation-msg" style="margin: 0 !important;width: 160px;float: left;">Please select a filter name.</div>';                  
                                    jQuery('#savedFN').parent().after(msgError);    
                                }  
                    }
                    });
                    /* End for enter on text box */

                    jQuery('.save-filter-popup .form-btn').click( function(){
                        jQuery(".error-validation-msg").remove();                      
                        var btn = jQuery(this).attr('value');
                        
                        if(btn=='Done'){                           
                            var savedName = jQuery('#savedFN').val();
                            if(savedName!=null && savedName!=''){
                                jQuery('.save-filter .save-filter-star').addClass('favved');
                                                           
                                jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                createFavs(savedName);
                                 jQuery('.save-filter .save-filter-star').attr('title','Save filter');
                            }else{
                                var msgError = '<div class="error-validation-msg" style="margin: 0 !important;width: 160px;float: left;">Please select a filter name.</div>';                  
                                jQuery('#savedFN').parent().after(msgError);    
                            }                             
                        }else{                        
                            
        
                        }                           
                    });
                    function validateFilterName(){
                        var savedName = jQuery('#savedFN').val();                                  
                        if((typeof savedName != typeof  undefined) && (savedName == '' || savedName == null || savedName == ' ') ){               
                            return false;
                        }else{
                           finalClosePopup();                                       
                           return true;                                    
                        }                                  
                    }
                    jQuery('.save-filter-popup .popup-close').click( function(){
                        finalClosePopup();  
                    });
                    function finalClosePopup(){
                       
                        jQuery('.inner-overley-save-filter').hide();
                        jQuery('.save-filter-popup').hide();
                        jQuery('body').css({
                            'overflow-y': 'scroll'
                        }); 
                    }
                    jQuery('.tab-filter-btn').click( function(){
                      
                        jQuery('.save-filter .save-filter-star').removeClass('favved');  
                         jQuery('.save-filter .save-filter-star').attr('title','Save filter');                            
                    });
                    </script>      
              </div>
              <apex:outputPanel id="ListView1">
              <apex:outputPanel rendered="{!IF(lstClaim.size>0,true,false)}">
               
                <div class="client-list-section">
                    <table>
                        <thead>
                            <tr>
                                 <th class="client-name"  style="display:{!IF(hasMultipleClients,'block;','none;')}" onclick="jQuery('.overley,.loading').show();sortingFunction('Contract_for_review__r.Client__r.Name');"><!--4302 replaced style="display:{!IF(userType=='Broker','block;','none;')}"-->
                                        <div class="th-container">Client
                                            <div class="item-sort">
                                                <div class="{!IF(orderByNew=='Contract_for_review__r.Client__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                            </div>
                                        </div>
                                    </th>
                                   <th class="obj-name" onclick="jQuery('.overley,.loading').show();sortingFunction('Object__r.Name');">
                                    <div class="th-container">Object
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Object__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                           
                                        </div>
                                    </div>
                                </th>
                                <th class="cover" onclick="jQuery('.overley,.loading').show();sortingFunction('Risk_Coverage__r.Name');">
                                    <div class="th-container">Cover
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Risk_Coverage__r.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                        </div>
                                    </div>
                                </th>
                                <th class="client-type" onclick="jQuery('.overley,.loading').show();sortingFunction('Claim_Type__c');">
                                    <div class="th-container">Claim type
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Claim_Type__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                            
                                        </div>
                                    </div>
                                </th>
                                <th class="date" onclick="jQuery('.overley,.loading').show();sortingFunction('event_date__c');">
                                    <div class="th-container">Event date
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='event_date__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                          
                                        </div>
                                    </div>
                                </th>
                                <th class="policy-year" onclick="jQuery('.overley,.loading').show();sortingFunction('Contract_for_Review__r.Policy_Year__c');">
                                    <div class="th-container">Policy year
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Contract_for_Review__r.Policy_Year__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                          
                                        </div>
                                    </div>
                                </th>
                                <th class="reserve" onclick="jQuery('.overley,.loading').show();sortingFunction('Reserve_100__c');">
                                    <div class="th-container">Reserve <br/>$ 100%
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Reserve_100__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                           
                                        </div>
                                    </div>
                                </th>
                                <th class="paid" onclick="jQuery('.overley,.loading').show();sortingFunction('Paid_100__c');">
                                    <div class="th-container">Paid <br/>$ 100%
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Paid_100__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                           
                                        </div>
                                    </div>
                                </th>
                                <th class="total" onclick="jQuery('.overley,.loading').show();sortingFunction('Total_100__c');">
                                    <div class="th-container">Total <br/>$ 100%
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Total_100__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                           
                                        </div>
                                    </div>
                                </th>
                                <th class="gard-ref-no" onclick="jQuery('.overley,.loading').show();sortingFunction('Claim_Reference_Number__c');">
                                    <div class="th-container">Gard claim reference
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Claim_Reference_Number__c',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                      
                                        </div>
                                    </div>
                                </th>
                                <th class="client-ref">
                                   <div class="th-container">Client claim reference
                                        
                                    </div>
                                </th>
                                
                                
                                <th class="status" onclick="jQuery('.overley,.loading').show();sortingFunction('Status');">
                                   <div class="th-container">Status
                                        <div class="item-sort">
                                            <div class="{!IF(orderByNew=='Status',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                         
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                         <apex:variable value="{!0}" var="rowNum"/>
                        <apex:repeat value="{!lstClaim}" var="claim">
                            <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                <td class="client-name {!IF(CONTAINS(shareClientName,claim.Account__r.Name),'shared-client-name','')}" style="display:{!if(hasMultipleClients,'compact;','none;')}">{!claim.Account__r.Name}</td><!--4302 replaced style="display:{!if(usertype=='Broker','compact;','none;')}"-->
                                <td class="obj-name"> <apex:outputText value="{!HTMLENCODE(claim.Object__r.Name)}" escape="false" /></td>
                                <td class="cover"> <apex:outputText value="{!HTMLENCODE(claim.Risk_Coverage__r.Product_Name__c)}" escape="false" /></td>
                                <td class="client-type"> <apex:outputText value="{!HTMLENCODE(claim.Claim_Type__c)}" escape="false" /></td>
                               <!-- <td>
                                    <apex:commandLink action="{!showCaseDetails}">
                                        {!claim.Version_Key__c}
                                        <apex:param assignTo="{!claimId}" name="claimId" value="{!claim.id}"/>
                                    </apex:commandLink>
                                </td> -->
                                <td class="date">
                                    <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                        <apex:param value="{!claim.Event_Date__c}" /> 
                                    </apex:outputText>
                                </td>
                                <!-- Policy year-->
                                <td class="policy-year">
                                    <apex:outputText value="{!claim.Contract_for_Review__r.Policy_Year__c}"/>
                                </td>
                                <td class="reserve">
                                     <apex:outputText value="{0, number, ###,##0}">
                                      <apex:param value="{!claim.Reserve_100__c}"/>
                                     </apex:outputText>
                                </td>
                                <td class="paid">
                                    <apex:outputText value="{0, number, ###,##0}">
                                      <apex:param value="{!claim.Paid_100__c}"/>
                                     </apex:outputText>
                                 </td>
                                <td class="total">
                                    <apex:outputText value="{0, number, ###,##0}">
                                      <apex:param value="{!claim.Total_100__c}"/>
                                     </apex:outputText>
                                 </td>
                                 <td class="gard-ref-no">
                                    <apex:commandLink action="{!showCaseDetails}" target="_blank"> <!-- added target="_blank" for Sf-3692  -->
                                         <apex:outputText value="{!HTMLENCODE(claim.Claim_Reference_Number__c)}" escape="false" />
                                        <apex:param assignTo="{!claimId}" name="claimId" value="{!claim.id}"/>
                                    </apex:commandLink>
                                </td>
                                <td class="client-ref"> <apex:outputText value="{!HTMLENCODE(claim.Member_reference__c)}" escape="false" /></td>
                                
                               <!-- <td class="client-ref">{!claim.Risk_Coverage__r.Claims_Lead__c}</td>-->
                                
                                
                                <td class="status"> <apex:outputText value="{!IF( claim.Status__c=='Pending' , $Label.MyGard_ClaimStatus_Pending , IF(claim.Status__c=='Draft', $Label.MyGard_ClaimStatus_Draft ,claim.Status__c ) )}" escape="false" /></td> <!--3581-->
                            </tr>
                            <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                          </apex:repeat>
                       </tbody>
                    </table>
                </div>
                <div class="record-detail-dwnld-section">                               
                    <div class="global-print-dwnld">
                        <apex:commandButton value="" title="Export to Excel" action="{!exportToExcel}" styleClass="global-dwnld" onClick="ga('send', 'event', 'Download', 'Excel', 'All claims');"/>
                        <apex:commandButton value="" title="Print" action="{!printData}" styleClass="global-print"/>
                    </div>
                </div>                
             <!-- Pagination section start-->
                <div class="pagination" style="display:{!IF(submissionSetCon.resultSize > submissionSetCon.PageSize,'block;','none;')}">
                <div class="record-details">Showing total records: <span class="record-starting">{!((pageNum-1)*10)+1}</span> – <span class="record-end">{!IF(pageNum*10<submissionSetCon.resultSize,pageNum*10,submissionSetCon.resultSize)}</span> of <span class="record-total">{!submissionSetCon.resultSize}</span></div>
                <div class="pagination-wrapper">
                    <!--<div class="item-per-page">Total: {!submissionSetCon.resultSize}</div>-->
                    <div class="pager">
                    
                        <apex:commandButton action="{!first}" rendered="{!submissionSetCon.HasPrevious}" reRender="ListView1" styleClass="pager-prev pager-section extream-first activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                              
                        <apex:outputpanel styleClass="pager-prev pager-section extream-first deactivated" rendered="{!NOT(submissionSetCon.HasPrevious)}"/>   
                                                                                                     
                        <apex:commandLink action="{!Previous}" rendered="{!submissionSetCon.HasPrevious}" reRender="ListView1" styleClass="pager-prev pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />                                            
                        <apex:outputPanel styleClass="pager-prev pager-section deactivated" rendered="{!NOT(submissionSetCon.HasPrevious)}" />
                        <div class="page-no pager-section"><apex:inputText value="{!pageNum}" /></div>
                        <apex:actionFunction name="changePageNumberAll" action="{!setpageNumber}" reRender="ListView1" oncomplete="jQuery('.overley, .loading').hide();"/>  
                        <div class="page-of pager-of-section">of {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)}</div>
                        <!--<div class="page-no pager-section">{!IF(submissionSetCon.PageNumber == 1,1,((submissionSetCon.PageNumber -1) * submissionSetCon.PageSize)+1)}</div>
                        <div class="page-no pager-section">{!IF(submissionSetCon.PageNumber * submissionSetCon.pageSize > submissionSetCon.resultSize,submissionSetCon.resultSize,submissionSetCon.PageNumber * submissionSetCon.pageSize)}</div>-->
                        <apex:outputPanel styleClass="pager-next pager-section deactivated" rendered="{!NOT(submissionSetCon.HasNext)}" />                                                    
                        <apex:commandLink rendered="{!submissionSetCon.HasNext}" action="{!Next}" reRender="ListView1" styleClass="pager-next pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />
                        
                        <apex:commandButton action="{!last}" rendered="{!submissionSetCon.HasNext}" reRender="ListView1" styleClass="pager-next pager-section extream-last activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                        <apex:outputPanel styleClass="pager-next pager-section extream-last deactivated" rendered="{!NOT(submissionSetCon.HasNext)}" />
                    </div>
                </div>
            </div>
             <!-- Pagination section end-->
             <script>
                      /* Restricts the number, arrow, backspace and delete button for the pagination */
                    jQuery('.page-no.pager-section > input[type="text"]').keypress( function(event){
                        return validatePagination(event);
                    });
                /* Restricts the number, arrow, backspace and delete button for the pagination */
                   jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                                if (eInner.keyCode == 13) { 
                                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();                                      
                                       if(enterPage <= {!CEILING(submissionSetCon.resultSize/submissionSetCon.PageSize)} && enterPage != 0){
                                             
                                             jQuery('.overley, .loading').show();                         
                                             changePageNumberAll();                             
                                             return false;
                                         }
                                         else{
                                             jQuery('.page-no.pager-section > input[type="text"]').val('1');
                                             changePageNumberAll();                                             
                                             return false;
                                         }
                                    }    
                                    
                      });                     
                  /* tooltrip for client-name start*/
                jQuery('td.client-name').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 18) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 16) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-name end*/
                /* tooltrip for gard-ref-no start*/
                jQuery('td.gard-ref-no a').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 13) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 11) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                 /*tooltrip for gard-ref-no end*/
                 jQuery('td.gard-ref-no a').mouseenter( function(){
                jQuery('.custom-tooltip').remove();
                if(jQuery(this).attr('alt')) {
                    jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                }
                });
                jQuery('td.gard-ref-no a').mouseleave( function(){
                            jQuery('.custom-tooltip').remove();
                });
                /* tooltrip for client-type start*/
                /* tooltrip for client-type start*/
                jQuery('.broker-view-page-container td.client-type').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 13) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 11) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-type end*/
                 /* tooltrip for obj-name start*/
                jQuery('.broker-view-page-container td.obj-name').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 14) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 12) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for obj-name end*/
                /* tooltrip for cover start*/
                jQuery('.broker-view-page-container td.cover').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 12) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 11) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for cover end*/
                /* tooltrip for client-claim-ref start*/
                jQuery('td.client-ref').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 14) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 12) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-claim-ref end*/
                /*  ######## Client view tool trip start    */
                    /* tooltrip for client-claim-ref start*/
                jQuery('.client-view-page-container td.client-ref').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 14) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 12) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-claim-ref end*/
                /* tooltrip for client-type start*/
                jQuery('.client-view-page-container td.client-type').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 22) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 20) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for client-type end*/
            
                /* tooltrip for obj-name start*/
                jQuery('.client-view-page-container td.obj-name').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 15) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 13) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for obj-name end*/
            
                /* tooltrip for cover start*/
                jQuery('.client-view-page-container td.cover').each( function(){
                    var formsName = jQuery.trim(jQuery(this).text());
                    if (formsName.length > 16) {
                        jQuery(this).addClass('selectpicker-long-option');
                        jQuery(this).attr('alt', formsName);
                        jQuery(this).html(formsName.substring(0, 14) + '...');
                    }
                    else {
                        jQuery(this).html(formsName);
                    }
                });
                /* tooltrip for cover end*/
                    
                 /*  ######## Client view tool trip end */
                /* Provides the tooltip using jquery UI tooltip plugin */
                jQuery('td').mouseenter( function(){
                    jQuery('.custom-tooltip').remove();
                    if(jQuery(this).attr('alt')) {
                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                    }
                });
                jQuery('td').mouseleave( function(){
                    jQuery('.custom-tooltip').remove();
                });
                
                /* Provides the tooltip using jquery UI tooltip plugin */
                 </script>
             </apex:outputPanel>
             <!-- If No data avilable start-->
                        <apex:outputPanel rendered="{!IF(lstClaim.size<=0,true,false)}">
                                     <div class="no-data-found">
                                        No records available.
                                    </div> 
                        </apex:outputPanel> 
                     <!-- If No data avilable end--> 
            </apex:outputPanel>
                  
               <apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClients" immediate="true" onComplete="resetClientFields();">
                    <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
            </apex:actionFunction>
           
        </apex:form>
                        </div>
                        </div>   
                            
                        </div>
                    </div>
             </div>             
          </div>
         </div>
        
                 
        </apex:define>
    </apex:composition>
    <script>
        jQuery( document ).ready(function() {                      
            
            /*Added for Global Client Start */
            var favFlag = '{!isFav}';
            if(favFlag=='true'){
                var globalClient = '{!strGlobalClient}';
                 if(globalClient!=null && globalClient!=''){
                     var optionValues = [];
                     var options = jQuery('select[id$="site-search:globalClient"] option');              
                     if(options!=null){                         
                         jQuery.each(options,function (index, value) {
                             optionValues.push(jQuery(this).val());  
                         });                          
                         var counterAll = 0;
                         var counterSelected = 0;
                         jQuery.each(optionValues,function (index, value) {
                             counterAll++;
                             if(globalClient.indexOf(value) != -1){
                                 counterSelected++;                                 
                                 jQuery("[value='"+value+"']").attr('checked','true');
                                 jQuery("[value='"+value+"']").attr('selected','true');
                             }else{
                                 jQuery("[value='"+value+"']").prop('checked', false);
                                 jQuery("[value='"+value+"']").prop('selected', false); 
                             }                       
                         });
                         if(counterAll==counterSelected){
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('checked',true);
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('selected',true);
                         }else{
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('checked',false);
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('selected',false);
                         }
                         if(globalClient.indexOf(';') != -1){
                             jQuery('.global-user-select-wrapper-section button.multiselect span').text('Multi');
                         }else{
                             if(jQuery("[client-id='"+globalClient+"']").attr('alt')!=null){
                                 jQuery('.global-user-select-wrapper-section button.multiselect span').text(jQuery("[client-id='"+globalClient+"']").attr('alt'));
                             }else{
                                 jQuery('.global-user-select-wrapper-section button.multiselect span').text(jQuery("[client-id='"+globalClient+"']").text());
                             }
                             
                         }
                     }       
                 }else if(globalClient==''){
                     var optionValues = [];
                     var options = jQuery('select[id$="site-search:globalClient"] option');              
                     if(options!=null){                      
                         jQuery.each(options,function (index, value) {
                             optionValues.push(jQuery(this).val());  
                         });
                         jQuery.each(optionValues,function (index, value) {                                                      
                             jQuery("[value='"+value+"']").prop('checked', false);
                             jQuery("[value='"+value+"']").prop('selected', false);                                                     
                         });
                         jQuery('.global-user-select-wrapper-section button.multiselect span').text('Select client');
                     }  
                 }  
            } 
            /*Added for Global Client End */                              
            jQuery('.from-btn').click( function(){
                var checked = jQuery('select[id$="site-search:globalClient"]').val();
                var allSelectedClients='';                
                if(checked!=null){
                    jQuery.each(checked,function (index, value) {

                        if(index=='0'){                     
                            allSelectedClients = value; 
                        }else{                      
                            allSelectedClients = allSelectedClients + ';' + value;
                        }                                            
                    });                      
                }
                fetchSelectedClients(allSelectedClients);                                                                                
            });                             
            
        }); 
        
        function resetClientFields(){
            var clientFilters = jQuery('.claims-filters-container .client select option');
            var clientValues = [];
            if(clientFilters!=null){
                jQuery.each(clientFilters,function (index, value) {
                    clientValues.push(jQuery(this).val());  
                });
                jQuery.each(clientValues,function (index, value) {                                                       
                     jQuery("[value='"+value+"']").prop('checked', false);
                     jQuery("[value='"+value+"']").prop('selected', false);                                                     
                });
                jQuery('.claims-filters-container .client .btn-group button').text('');
                jQuery('.claims-filters-container .client .btn-group button').attr('title','');
            }
        } 
        
        function limitText(limitField,limitNum) {
            if (limitField.value.length >= limitNum) {
                limitField.value = limitField.value.substring(0, limitNum);
            }            
        }                  
   </script>  
   <apex:outputPanel id="filterScript">
                                   <script>
                                    jQuery('.gard-contact.claim-tabs-section .multiselect').multiselect({
                                        includeSelectAllOption: true,
                                        nonSelectedText: '',
                                        selectAllText: '<span>Check all</span>',
                                        enableFiltering: true,
                                        disableIfEmpty: true,
                                        filterBehavior: 'text',
                                        enableCaseInsensitiveFiltering: true,
                                        label: function(element) {
                                            var optionStr = jQuery(element).text();
                                            optionStr = jQuery.trim(optionStr);
                                            if (jQuery(element).parents('.request-forms').length > 0) {
                                                if (optionStr.length > 25) {
                                                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                                                }
                                                else {
                                                    return '<span class="select-options">' + optionStr + '</span>';
                                                }
                                            }
                                            if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                                                if (optionStr.length > 25) {
                                                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                                                }
                                                else {
                                                    return '<span class="select-options">' + optionStr + '</span>';
                                                }
                                            }
                                            else {
                                                if (optionStr.length > 19) {
                                                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                                                }
                                                else {
                                                    return '<span class="select-options">' + optionStr + '</span>';
                                                }
                                            }
                                        },
                                        buttonText: function(options, select) {
                                            if (options.length == 0) {
                                                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                                                    return ' <span>Select client</span>';
                                                }
                                                else {
                                                    return ' <b class="caret"></b>';
                                                }
                                            }
                                            else {
                                                if (options.length == 1) {
                                                    var labels = [];
                                                    options.each(function() {
                                                        if (jQuery(this).attr('label') !== undefined) {
                                                            labels.push(jQuery(this).attr('label'));
                                                        }
                                                        else {
                                                            var btnstr = jQuery(this).html();
                                                            if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                                                if (btnstr.length > 28) {
                                                                    labels.push(btnstr.substring(0, 26) + '...');
                                                                }
                                                                else {
                                                                    labels.push(btnstr);
                                                                }
                                                            }
                                                            else {
                                                                if (btnstr.length > 18) {
                                                                    labels.push(btnstr.substring(0, 18) + '...');
                                                                }
                                                                else {
                                                                    labels.push(btnstr);
                                                                }
                                                            }
                                                        }
                                                    });
                                                    return '<span>' + labels + '</span>';
                                                }
                                                else {
                                                    if (options.length > 1) {
                                                        /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                                                        return '<span>Multi</span> <b class="caret"></b>';
                                                    }
                                                }
                                            }
                                        }
                                    });
                                    /* new multiselect end */
                                    /* Default search by any word selection for the pick-list search option */
                                    //var incrementer = 1;
                                    jQuery('.claim-filter-sections .search-by-option-container').each( function(){
                                                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                    jQuery(this).html(searchOptions);
                                                    incrementer++;
                                    });
                                    /* Default search by any word selection for the pick-list search option */
                                
                                    
                                    /* Controls the opening/closing feature for the search by popup. */
                                    jQuery('.claim-filter-sections .search-by-icon-button').click( function(){
                                                    jQuery(this).children().show();
                                    });
                                    var searchByElement = jQuery('.claim-filter-sections .search-by-icon-button');
                                    jQuery(document).bind('mouseup', function (e){
                                                    if (searchByElement.has(e.target).length === 0) {
                                                                    jQuery(searchByElement).children().hide();
                                                    }
                                    });
                                    /* Controls the opening/closing feature for the search by popup. */
                                
                                    /* Controls the search by option popup for the single pick-list */
                                    jQuery('.claim-filter-sections .bs-searchbox').each( function(){
                                                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                    jQuery(this).append(searchOptions);
                                                    incrementer++;
                                    });
                                    jQuery('.claim-filter-sections .bs-searchbox .search-by-icon-button').click( function(e){
                                                    e.stopPropagation();
                                                    jQuery(this).children().show();
                                    });
                                    var searchByElementSingle = jQuery('.claim-filter-sections.client .bs-searchbox .search-by-icon-button');
                                    jQuery(document).bind('mousedown', function (e){
                                                    if (searchByElementSingle.has(e.target).length === 0) {
                                                                    jQuery(searchByElementSingle).children().hide();
                                                    }
                                    });                                  
                                     jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
                                        mouseWheelPixels: 20,
                                        scrollEasing: "linear",
                                        scrollInertia: 0
                                    });
                                
                                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                jQuery('.mCSB_draggerContainer').click( function(e){
                                    e.stopPropagation();
                                });
                                /* added for shared client style in client dropdown start */
                                jQuery('.tab-all-claim-section .claim-filter-sections.client .checkbox span.select-options').each(function(){
                                var shid = '{!shareClientName}';
                                console.log('sharedClientName:'+shid);
                                if(shid.indexOf(jQuery(this).attr('alt')) >=0 || shid.indexOf(jQuery(this).text().trim()) >=0 ){jQuery(this).addClass('share-class');}
                                });
                                /* added for shared client style in client dropdown end */
                                   </script>                                 
               </apex:outputPanel>
</apex:page>