<apex:page standardController="Case" sidebar="false" showHeader="false" extensions="ServiceRequestsCtrl" standardStylesheets="false" action="{!getOpenRequestDetails}">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

 <style>
     button.Zebra_DatePicker_Icon {
         left: 168px !important;
     }
     .tab-open-claim-section td.client-ref {
        max-width: 103px !important;
    }
     .my-cliams.claim-tabs-section .tab-open-claim-section th.case-status {
        line-height: 18px;
        max-width: 80px !important;
        min-width: 80px !important;
    }
    .my-cliams.claim-tabs-section .tab-open-claim-section th.paid {
        line-height: 14px;
        max-width: 95px !important;
        min-width: 95px !important;
    }
    .my-cliams.claim-tabs-section .tab-open-claim-section th.total {
        line-height: 14px;
        max-width: 95px !important;
        min-width: 95px !important;
    }
    .my-cliams.claim-tabs-section .tab-open-claim-section td.case-status,
    .my-cliams.claim-tabs-section .tab-open-claim-section td.paid,
    .my-cliams.claim-tabs-section .tab-open-claim-section td.total {
        max-width: 80px !important;
        min-width: 80px !important;
        width: 80px !important;
    }
    .my-cliams.claim-tabs-section .tab-open-claim-section th.closure-date,
    .my-cliams.claim-tabs-section .tab-open-claim-section td.closure-date {
        min-width: 159px !important;
        max-width: 159px !important;
        width: 159px !important;
    }
    .broker-view-page-container .broker-view.tab-open-claim-section th.raised-date {
        max-width: 190px !important;
        min-width: 190px !important;
        width: 190px !important;
    }

     .broker-view-page-container .broker-view.tab-open-claim-section th.client-name,
     .broker-view-page-container .broker-view.tab-open-claim-section td.client-name {
         max-width: 180px !important;
         min-width: 180px !important;
         width: 180px !important;
     }
    .broker-view-page-container .broker-view.tab-open-claim-section th.client-ref,
    .broker-view-page-container .broker-view.tab-open-claim-section td.client-ref {
        max-width: 100px !important;
        min-width: 100px !important;
        width: 103px !important;
    }
     .broker-view-page-container .broker-view.tab-open-claim-section th.gard-ref-no,
     .broker-view-page-container .broker-view.tab-open-claim-section td.gard-ref-no {
        max-width: 144px !important;
        min-width: 144px !important;
        width: 144px !important;
    }
    .broker-view-page-container .broker-view.tab-open-claim-section th.raised-date,
    .broker-view-page-container .broker-view.tab-open-claim-section td.raised-date {      
        max-width: 110px !important;
        min-width: 110px !important;
        width: 110px !important;
    }
    .broker-view-page-container .broker-view.tab-open-claim-section th.request-type,
    .broker-view-page-container .broker-view.tab-open-claim-section td.request-type {
       
        max-width: 150px !important;
        width: 150px !important;
        min-width: 150px !important;
    }
    .broker-view-page-container .broker-view.tab-open-claim-section th.request-id,
    .broker-view-page-container .broker-view.tab-open-claim-section td.request-id {        
        max-width: 100px !important;
        min-width: 100px !important;
        width: 100px !important;
    }
    .broker-view-page-container .broker-view.tab-open-claim-section th.owner-name,
    .broker-view-page-container .broker-view.tab-open-claim-section td.owner-name {        
        max-width: 140px !important;
        min-width: 140px !important;
        width: 140px !important;
    }
    .tab-open-claim-section th.owner-name,
    .tab-open-claim-section td.owner-name {        
        max-width: 140px !important;
        min-width: 140px !important;
        width: 140px !important;
    }
    .tab-open-claim-section th.owner-name .th-container {
        padding: 6px 5px 5px 7px;
        line-height: 28px;
    }
     
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.request-type,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.request-type {
         max-width: 230px !important;
         min-width: 230px !important;
     }
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.client-ref,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.client-ref{
         width: 120px !important;
         max-width: 120px !important;
         min-width: 120px !important;
     }
     <!-- .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.request-id,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.request-id {
         max-width: 140px !important;
         min-width: 140px !important;
     } -->
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.client-ref,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.client-ref,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.gard-ref-no,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.gard-ref-no,
     .client-view-page-container .broker-view.tab-all-claim-section.all-claims th.gard-ref-no,
     .client-view-page-container .broker-view.tab-all-claim-section.all-claims td.gard-ref-no {
         max-width: 147px !important;
         min-width: 147px !important;
     }
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.raised-date,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.raised-date,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.request-id,
     .client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.request-id {
         max-width: 140px !important;
         min-width: 140px !important;
     }
     .client-view-page-container.multiple-client-view-page-container .broker-view.tab-open-claim-section th.client-name,
     .client-view-page-container.multiple-client-view-page-container .broker-view.tab-open-claim-section td.client-name {
         max-width: 212px !important;
         min-width: 212px !important;
         width: 212px !important;
     }
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.request-type,
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.request-type {
         max-width: 230px !important;
         min-width: 230px !important;
     }
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.client-ref,
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.client-ref{
         max-width: 100px !important;
         min-width: 100px !important;
     }
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.gard-ref-no,
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.gard-ref-no,
     .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims th.gard-ref-no,
     .client-view-page-container.multiple-client-view-page-container .broker-view.tab-all-claim-section.all-claims td.gard-ref-no {
         max-width: 144px !important;
         min-width: 144px !important;
     }
    .client-view-page-container.multiple-client-view-page-container .broker-view.tab-open-claim-section th.raised-date,
    .client-view-page-container.multiple-client-view-page-container .broker-view.tab-open-claim-section td.raised-date {      
        max-width: 120px !important;
        min-width: 120px !important;
        width: 120px !important;
    }
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section th.request-id,
     .client-view-page-container.multiple-client-view-page-container .my-cliams.claim-tabs-section .tab-open-claim-section td.request-id {
         max-width: 170px !important;
         min-width: 170px !important;
     }
     .my-cliams .tab-open-claim-section th.closure-date div.th-container
     {
     padding: 6px 21px 5px 4px !important;
     line-height: 28px !important;
     }
     
     @media screen and (-webkit-min-device-pixel-ratio:0) {
     
     }
    .save-filter-popup .popup-form-container input[type="text"] {
      width: 346px;
    }
    th div.th-container{
        padding: 11px 5px 10px 7px;
    }
 </style>
 <script>
  js$=jQuery.noConflict();
  jQuery(document).ready(function(){
  var pageOld = jQuery('.page-no.pager-section > input[type="text"]').val();
   jQuery('#PgOpen input[type="text"]').bind('keypress', function (eInner){   
                if (eInner.keyCode == 13) { 
                    enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();
                       
                       if(enterPage <= {!CEILING(submissionSetConOpen.resultSize/submissionSetConOpen.PageSize)} && enterPage != 0){
                             
                             jQuery('.overley, .loading').show();                         
                             changePageNumberOpen();                             
                             return false;
                         }
                         else{
                         jQuery('.page-no.pager-section > input[type="text"]').val('1');
                             changePageNumberOpen();                             
                             return false;
                         }
                    }    
                    
      }); 
       jQuery('.main-menu-links').removeClass('active');
     jQuery('.main-menu-links.myclaims').addClass('active');
     
      jQuery('.client-view-page-container .my-cliams .tab-open-claim-section .claims-filters-container .object ul.dropdown-menu.multiselect-container li').each( function(){
                if (jQuery(this).children('a').children('label').children('span.select-options').attr('alt')) {
                                var singleSelOptn = jQuery(this).children('a').children('label').children('span.select-options').attr('alt');
                                if (singleSelOptn.length > 15) {
                                                jQuery(this).children('a').children().children('span.select-options').html(singleSelOptn.substring(0, 15) + '...');
                                }
                                else {
                                                jQuery(this).children('a').children().children('span.select-options').html(singleSelOptn);
                                }
                }
});

  });
 </script>
 <!-- Browser requirement popup section starts -->
 <div class="inner-overley-save-filter">
 <div class="save-filter-popup">
     <div class="popup-close"></div>
     <div class="popup-infos home-page-browser-popup-infos">
         <div class="home-page-browser-info-pop-wrapper">
             <div class="pop-up-title">Saved filters</div>
             <div class="popup-form-container">
                 <apex:form id="company-info-form">
                     <div class="contact-field">
                         <div class="add-fields">
                             <div class="feedback-comment">
                                 <label for="fb-comments" class="feedback-label">Enter a filter name:</label>
                                 <input type="text" name="" id="savedFN" value="" onkeyup="limitText(this,80);" onkeypress="limitText(this,80);"/>
                             </div>
                             <div class="contact-field-holder contact-pref-fields" style="float:left;margin: 0 !important;font-size: 12px;"><label>(Max 80 characters)</label></div>
                         </div>
                         <div class="form-submit-section">
                            <apex:commandButton styleClass="form-btn" value="Done" onComplete="validateFilterName();" rerender="test"/>
                            <apex:commandButton styleClass="form-btn" value="Cancel" onComplete="finalClosePopup();" rerender="test"/>
                         </div>
                        
                     </div>
                 </apex:form>
             </div>
         </div>
     </div>
 </div>
 </div>
 <!-- Browser requirement popup section ends -->
    <apex:composition template="PageFrame" >
        <apex:define name="content" > 
      <div  class="content">
       <div class="content-wrapper"> 
       <div class="page-title">My requests</div>
             <div class="tab-section-container">
                    
                 <!--3581 Starts-->
                    <div class="tab-button-section claims-tab-holder">
                        <div class="open-claims single-tab deselected" id="openReq"><apex:outputLink value="/apex/OpenServiceRequests">Open<div class="update-cover-wrapper-activated"></div></apex:outputLink></div>
                        <div class="all-claims single-tab selected" id="closedReq"> <apex:outputLink value="/apex/ClosedServiceRequests">Closed</apex:outputLink><div class="update-cover-wrapper-activated" style="display:block;"></div></div>
                    </div>
                 <!--3581 Ends-->
                  <div class="tab-details-section gard-contact claim-tabs-section my-cliams">
                      <div class="tab-detail-columns">
                      <div class="tab-open-claim-section tab-table-wrapper tab-detail-container broker-view">
                            <div class="form-field-scrol-container free-content-area">
                            <apex:form id="theFrm">
                                <apex:actionFunction action="{!ownerPopup}" name="getOwnerInfo" rerender="requestOwnerWrPopUp" status="renderMeStatus" >
                                    <apex:param name="ownerId" value="" assignTo="{!ownerId}" />
                                </apex:actionFunction>
                                <apex:actionStatus id="renderMeStatus" onstop="showPopup()"/>
                                <apex:actionFunction action="{!ownerQueuePopup}" name="getOwnerQueueInfo" rerender="requestOwnerQueuePopUp" status="renderMeStatusQueue" oncomplete="jQuery('.popup-loader').hide();">
                                    <apex:param name="ownerId" value="" assignTo="{!ownerQueueId}" />   
                                </apex:actionFunction>
                                <apex:actionStatus id="renderMeStatusQueue" onstop="showQueuePopup()"/>
                                <apex:actionFunction action="{!createFavourites}" name="createFavs" rerender="editObjectPopUp">
                                    <apex:param name="savedName" value="" assignTo="{!newFilterName}"/>
                                </apex:actionFunction>
                                <apex:actionFunction action="{!deleteFavourites}" name="deleteFavs" rerender="editObjectPopUp"/>
                                <apex:actionFunction action="{!fetchFavourites}" name="fetchFavs" rerender="editObjectPopUp"/>
                                <apex:actionFunction action="{!getOpenRequestDetails}" name="sortingFunction" reRender="ListView1" oncomplete="jQuery('.overley,.loading').hide();">
                                    <apex:param value="" name="column" assignTo="{!orderByNew}" ></apex:param>
                                </apex:actionFunction>
                                <apex:actionFunction name="downloadRequestVcard" action="{!downloadVcard}"/>
                                <apex:outputPanel id="requestOwnerWrPopUp">
                                      <script> 
                                            
                                            function gaTrackDownload() {
                                                ga('send', 'event', 'Download', 'vCard', 'My portfolio');
                                            }
                                            
                                           function showPopup(){     
                                            var em =document.getElementById('{!JSENCODE(pointingId)}');             
                                            jQuery('.overley').hide();
                                              jQuery(em).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><div class="cont-detail-area"><a title="Download vcard" class="vcard-download" onclick="downloadRequestVcard(); gaTrackDownload();">v</a><div alt="Land line" class="first-add tel-num claim-handler-each" x-ms-format-detection="none"><span class="add-phn-field-icon"></span>{!JSINHTMLENCODE(OwnerInfo.Phone__c)}</div><div alt="Mobile" class="first-add mobile claim-handler-each" x-ms-format-detection="none"><span class="add-phn-field-icon mobile-icon"></span>{!JSINHTMLENCODE(OwnerInfo.MobilePhone__c)}</div><div alt="Email" class="first-add info-email claim-handler-each"><span class="add-field-icon"></span><a href="mailto:{!JSINHTMLENCODE(OwnerInfo.Email__c)}">{!JSINHTMLENCODE(OwnerInfo.Email__c)}</a></div><div alt="Location" class="first-add location claim-handler-each"><span class="topic"></span>{!JSINHTMLENCODE(OwnerInfo.Office_city__c)}</div></div></div></div>');
                                                 /* JS for the auto trimming of underwriter popup long email */
                                            jQuery('.underwriter-popup .cont-detail-area .info-email a').each( function(){          
                                                            var emailText = jQuery(this).text();
                                                            if (emailText.length > 33) {                       
                                                                            jQuery(this).addClass('selectpicker-long-option');
                                                                            jQuery(this).attr('alt', emailText);
                                                                            jQuery(this).html(emailText.substring(0, 32) + '...');
                                                            }
                                                            else {
                                                                            jQuery(this).html(emailText);
                                                            }
                                            });
                                            /* JS for the auto trimming of underwriter popup long email */    
                                            /* Provides the tooltip using jquery UI tooltip plugin */
                                            jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseenter( function(){
                                                jQuery('.custom-tooltip').remove();
                                                if(jQuery(this).attr('alt')) {
                                                    jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                                }
                                            });
                                            jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseleave( function(){
                                                jQuery('.custom-tooltip').remove();
                                            });
                                                
                                            /* Provides the tooltip using jquery UI tooltip plugin */ 
                                            
                                            //return false;
                                            
                                              }
                                     </script>
                                </apex:outputPanel>
                                <!-- For Queue popup Starts -->
                                <apex:outputPanel id="requestOwnerQueuePopUp">
                                      <script> 
                                            
                                            function gaTrackDownload() {
                                                ga('send', 'event', 'Download', 'vCard', 'My portfolio');
                                            }
                                            
                                           function showQueuePopup(){     
                                            var em =document.getElementById('{!JSENCODE(pointingId)}');             
                                            jQuery('.overley').hide();
                                              jQuery(em).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper" style="min-height:auto !important;"><div class="cont-detail-area"><div alt="Email" class="first-add info-email claim-handler-each"><span class="add-field-icon"></span><a href="mailto:{!JSINHTMLENCODE(OwnerInfo.Email__c)}">{!JSINHTMLENCODE(queueEmail)}</a></div></div></div></div>');
                                                 /* JS for the auto trimming of underwriter popup long email */
                                            jQuery('.underwriter-popup .cont-detail-area .info-email a').each( function(){          
                                                            var emailText = jQuery(this).text();
                                                            if (emailText.length > 33) {                       
                                                                            jQuery(this).addClass('selectpicker-long-option');
                                                                            jQuery(this).attr('alt', emailText);
                                                                            jQuery(this).html(emailText.substring(0, 32) + '...');
                                                            }
                                                            else {
                                                                            jQuery(this).html(emailText);
                                                            }
                                            });
                                            /* JS for the auto trimming of underwriter popup long email */    
                                            /* Provides the tooltip using jquery UI tooltip plugin */
                                            jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseenter( function(){
                                                jQuery('.custom-tooltip').remove();
                                                if(jQuery(this).attr('alt')) {
                                                    jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                                }
                                            });
                                            jQuery('.underwriter-popup .cont-detail-area .info-email a').mouseleave( function(){
                                                jQuery('.custom-tooltip').remove();
                                            });
                                                
                                            /* Provides the tooltip using jquery UI tooltip plugin */ 
                                            
                                            return false;
                                            
                                              }
                                     </script>
                                </apex:outputPanel>
                                <!-- For Queue popup Ends -->
                                <div class="claims-filters-container">
                                <apex:outputPanel id="filterSection">
                                    <div class="claim-filter-sections client" style="display:{!IF(hasMultipleClients,'block;','none;')}"> <!--4302 replaced style="display:{!IF(userType=='Broker','block;','none;')}"-->
                                        <label for="filter-field">Client</label>
                                         <div class="select-wrapper">
                                            <apex:outputPanel id="filterClient">
                                                 <apex:selectList value="{!selectedClient}" multiselect="true" styleClass="filter-field multiselect">
                                                     <apex:selectOptions value="{!ClientLst}"/>
                                                 </apex:selectList>
                                             </apex:outputPanel>
                                         </div>
                                    </div>                        
                                    <div class="claim-filter-sections object">
                                        <label for="filter-field">Request</label>
                                            <div class="select-wrapper">
                                            <apex:selectList value="{!selectedRequest}" multiselect="true" styleClass="filter-field multiselect">
                                                <apex:selectOptions value="{!RequestLst}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <div class="claim-filter-sections cover">
                                        <label for="filter-field">Status</label>
                                            <div class="select-wrapper">                                    
                                            <apex:selectList value="{!selectedStatus}" multiselect="true" styleClass="filter-field multiselect">
                                                <apex:selectOptions value="{!StatusLst}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <div class="claim-filter-sections date">
                                        <div class="request-form-each-field-section req-effective-date sfdc-popup-calendar small-popup">
                                            <label for="reqest-effective-date">Raised date</label>
                                            <apex:inputText styleClass="dol-field custom-datepicker" id="dol-field" value="{!dateFilter}" html-readonly="true" disabled="{!IF(lstOpenCase.size<=0,true,false)}"/>  
                                        </div>
                                        <script>
                                            /* Control for custom datepicker */
                                              jQuery('.dol-field.custom-datepicker').Zebra_DatePicker({
                                              //direction: true,
                                              format: 'd-m-Y',
                                              first_day_of_week: 0,
                                              //direction: ['01.01.2000', false]
                                            });
                                            jQuery('.custom-datepicker').data('Zebra_DatePicker');   
                                        </script>
                                    </div>
                                    <div class="claim-filter-sections filter">
                                        <apex:commandButton value="Go" action="{!filterRecordsForOpen}" styleClass="tab-filter-btn" reRender="ListView1,filterSection,filterScript" style="border:none;" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />
                                    </div>
                                    <div class="claim-filter-sections filter clear">
                                        <apex:commandButton action="{!clearOptions}" styleClass="form-btn doc-clear-filter-buton" value="Clear"/>
                                    </div>
                                    
                                     </apex:outputPanel>
                                    <div class="claim-filter-sections save-filter">
                                        <span class="save-filter-star"></span>
                                    </div>
                                    <script>
                        jQuery( document ).ready(function() {                            
                            var favFlag = '{!isFav}';
                            if(favFlag=='true'){
                                
                                //jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved');
                                jQuery('.save-filter .save-filter-star').addClass('favved'); 
                                 jQuery('.save-filter .save-filter-star').attr('title','Remove filter'); 
                            }else{
                                
                                //jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option');
                                jQuery('.save-filter .save-filter-star').removeClass('favved');
                                 jQuery('.save-filter .save-filter-star').attr('title','Save filter');
                            }
                        });
                        jQuery('.save-filter .save-filter-star').click( function(){ 
                            jQuery(".error-validation-msg").remove();                                                                      
                            if(jQuery(this).hasClass('favved')){
                                                                                                 
                                deleteFavs(); 
                                jQuery(this).removeClass('favved');
                                 jQuery('.save-filter .save-filter-star').attr('title','Save filter');
                            }
                            else{                                                      
                                jQuery('.inner-overley-save-filter').show();
                                jQuery('.save-filter-popup').show();
                                jQuery('#savedFN').val('');                                
                            }           
                        });
                        
                        /* added for enter on text box */
                    jQuery('#savedFN').bind('keypress', function (eInner){
                            if (eInner.keyCode == 13) {
                                var savedName = jQuery('#savedFN').val();
                                if(savedName!=null && savedName!=''){
                                    jQuery('.save-filter .save-filter-star').addClass('favved');                                                            
                                    jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                    createFavs(savedName); 
                                    jQuery('.save-filter .save-filter-star').attr('title','Remove filter');
                                }else{
                                    var msgError = '<div class="error-validation-msg" style="margin: 0 !important;width: 160px;float: left;">Please select a filter name.</div>';                  
                                    jQuery('#savedFN').parent().after(msgError);    
                                }  
                    }
                    });
                    /* End for enter on text box */

                        jQuery('.save-filter-popup .form-btn').click( function(){
                            jQuery(".error-validation-msg").remove();                           
                            var btn = jQuery(this).attr('value');
                            
                            if(btn=='Done'){                                
                                var savedName = jQuery('#savedFN').val();
                                if(savedName!=null && savedName!=''){ 
                                    jQuery('.save-filter .save-filter-star').addClass('favved');                                                                
                                    jQuery('.chosen-fav-claim-pointer.fab-option').attr('class','chosen-fav-claim-pointer fab-option favved'); 
                                    createFavs(savedName); 
                                     jQuery('.save-filter .save-filter-star').attr('title','Remove filter');
                                }else{
                                    var msgError = '<div class="error-validation-msg" style="margin: 0 !important;width: 160px;float: left;">Please select a filter name.</div>';                  
                                    jQuery('#savedFN').parent().after(msgError);    
                                }                            
                            }else{                       
                               
            
                            }                           
                        });
                        function validateFilterName(){
                            var savedName = jQuery('#savedFN').val();                                  
                            if((typeof savedName != typeof  undefined) && (savedName == '' || savedName == null || savedName == ' ') ){               
                                return false;
                            }else{
                               finalClosePopup();                                       
                               return true;                                    
                            }                                  
                        }
                        jQuery('.save-filter-popup .popup-close').click( function(){
                            finalClosePopup();  
                        });
                        function finalClosePopup(){                            
                            jQuery('.inner-overley-save-filter').hide();
                            jQuery('.save-filter-popup').hide();
                            jQuery('body').css({
                                'overflow-y': 'scroll'
                            }); 
                        }
                        jQuery('.tab-filter-btn').click( function(){                           
                            jQuery('.save-filter .save-filter-star').removeClass('favved');  
                             jQuery('.save-filter .save-filter-star').attr('title','Save filter');                           
                        });
                        </script>                  
                                </div>
                                    <apex:outputPanel id="ListView1" >
                                   
                                    <apex:outputPanel rendered="{!IF(lstOpenCase.size>0,true,false)}">
                                  
                                <div class="client-list-section">
                                    <table>
                                        <thead>
                                             <tr>
                                        <!--<apex:outputPanel rendered="{!usertype=='Broker'}">-->
                                                <th class="client-name" style="display:{!if(hasMultipleClients,'block;','none;')}"  onclick="jQuery('.overley,.loading').show();sortingFunction('Account.Name');"><!--4302 replaced style="display:{!if(usertype=='Broker','block;','none;')}"-->
                                                    <div class="th-container">Client
                                                        <div class="item-sort">
                                                            <div class="{!IF(orderByNew=='Account.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                                          
                                                        </div>
                                                    </div>
                                                </th>
                                       <!-- </apex:outputPanel>-->
                                               <th class="request-id"  onclick="jQuery('.overley,.loading').show();sortingFunction('CaseNumber');">
                                                    <div class="th-container">Request Id
                                                        <div class="item-sort">
                                                        <div class="{!IF(orderByNew=='CaseNumber',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                                         
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="request-type" onclick="jQuery('.overley,.loading').show();sortingFunction('Type');">
                                                    <div class="th-container">Request
                                                        <div class="item-sort">
                                                            <div class="{!IF(orderByNew=='Type',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="raised-date">
                                                    <div class="th-container">Object</div>
                                                </th>
                                                <th class="raised-date" onclick="jQuery('.overley,.loading').show();sortingFunction('CreatedDate');">
                                                     <div class="th-container">Raised date
                                                        <div class="item-sort">
                                                            <div class="{!IF(orderByNew=='CreatedDate',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="owner-name" onclick="jQuery('.overley,.loading').show();sortingFunction('Owner.Name');">
                                                    <div class="th-container">Case handler
                                                        <div class="item-sort">
                                                            <div class="{!IF(orderByNew=='Owner.Name',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>                                                            
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="case-status" onclick="jQuery('.overley,.loading').show();sortingFunction('Status');">
                                                    <div class="th-container">Status
                                                        <div class="item-sort">
                                                            <div class="{!IF(orderByNew=='Status',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="closure-date" onclick="jQuery('.overley,.loading').show();sortingFunction('CreatedDate');">
                                                    <div class="th-container">Expected closure date
                                                        <div class="item-sort">
                                                            <div class="{!IF(orderByNew=='CreatedDate',IF(sortDirection='ASC','sort-desc','sort-asc'),'unsorted')}"></div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="owner-name">
                                                    <div class="th-container">Raised by</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <apex:variable value="{!0}" var="rowNum"/>
                                        <apex:repeat value="{!lstOpenCase}" var="case">
                                    <tr class="{!IF(MOD(rowNum,2)==0,'odd','even')}">
                                        <td class="client-name {!IF(CONTAINS(shareClientName,case.Account.Name),'shared-client-name','')}" style="display:{!if(hasMultipleClients,'compact;','none;')}">{!case.Account.Name}</td><td class="request-id">
                                            <apex:commandLink action="{!viewRequest}" value="{!case.CaseNumber}" id="theCommandLink" target="_blank">
                                                <apex:param name="requestGuid" value="{!case.GUID__c}" assignTo="{!requestGuid}"/>
                                            </apex:commandLink>
                                        </td>
                                        <td class="request-type">
                                            <apex:commandLink action="{!viewRequest}" value="{!case.Type}" id="theRequestCommandLink" target="_blank">
                                                <apex:param name="requestGuid" value="{!case.GUID__c}" assignTo="{!requestGuid}"/>
                                            </apex:commandLink>
                                        </td>
                                        <td class="raised-date objects">
                                            <apex:outputPanel rendered="{!IF(case.RecordType.name == 'Request change',true,false)}">
                                              <!--  <apex:repeat value="{!case.Request_changes__r}" var="caseReq">  -->
                                                    <apex:outputText value="{!case.Existing_Object_Name__c}" escape="false" rendered="{!IF(case.Existing_Object_Name__c != null,true,false)}"/>
                                                    <apex:outputText value="{!case.New_object_name__c}" escape="false" rendered="{!IF(case.Existing_Object_Name__c == null,true,false)}"/>
                                             <!--   </apex:repeat>  -->
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!IF(CONTAINS(case.RecordType.name,'UWR'), TRUE, false)}">
                                            <!--    <apex:repeat value="{!case.UWForms__r}" var="caseReq"> -->
                                                    <apex:outputText value="{!case.Object_name__c}" escape="false"/>
                                             <!--   </apex:repeat>  -->
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!IF(case.RecordType.name == 'Blue card',true,false)}">
                                               <!-- <apex:repeat value="{!case.Blue_Card_Requests__r}" var="caseReq"> -->
                                                    <apex:outputText value="{!case.ObjectName__c}" escape="false" rendered="{!IF(case.ObjectName__c != null,true,false)}"/>
                                                <!--    <apex:outputText value="{!case.vesselName__c}" escape="false" rendered="{!IF(case.ObjectName__c == null,true,false)}"/>  -->
                                           <!--     </apex:repeat> -->
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!IF(case.RecordType.name == 'MLC Certificate',true,false)}">
                                              <!--  <apex:repeat value="{!case.MLC_certificates__r}" var="caseReq"> -->
                                                    <apex:outputText value="{!case.Object_Name_MLC__c}" escape="false" rendered="{!IF(case.Object_Name_MLC__c!= null,true,false)}"/>
                                                    <apex:outputText value="{!case.Fleet_name__c}" escape="false" rendered="{!IF(case.Object_Name_MLC__c == null,true,false)}"/>
                                         <!--       </apex:repeat>  -->
                                            </apex:outputPanel>
                                        </td>
                                        <td class="raised-date">
                                            <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                                <apex:param value="{!case.CreatedDate}" /> 
                                            </apex:outputText>
                                        </td>
                                        <td class="owner-name myRequest">
                                            <apex:outputPanel onclick="return currentOwner('{!case.Owner}',this);" styleClass="underwrt-popup-link" rendered="{!BEGINS(case.ownerId,'005')}">{!case.Owner.Name}</apex:outputPanel>
                                            <apex:outputPanel onclick="return currentOwnerQueue('{!case.Owner}',this);" styleClass="underwrt-popup-link" rendered="{!BEGINS(case.ownerId,'00G')}">{!case.Owner.Name}</apex:outputPanel>
                                        </td>
                                        <td class="case-status">
                                            <apex:commandLink action="{!viewRequest}" value="{!case.Status}" id="theStatusCommandLink" target="_blank">
                                                <apex:param name="requestGuid" value="{!case.GUID__c}" assignTo="{!requestGuid}"/>
                                            </apex:commandLink>
                                        </td>
                                        <td class="closure-date">
                                            <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                                <apex:param value="{!case.CreatedDate}" /> 
                                            </apex:outputText>
                                        </td>
                                        <td class="owner-name">
                                            <apex:outputText value="{!case.createdby.name}"/>
                                        </td>
                                    </tr>
                                    <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                  </apex:repeat>
                                        </tbody>
                                    </table>
                                </div>
                                <!--div class="record-detail-dwnld-section">                               
                                    <div class="global-print-dwnld">
                                        <apex:commandButton value="" title="Export to Excel" action="{!exportToExcelOpenClaims}" styleClass="global-dwnld" onClick="ga('send', 'event', 'Download', 'Excel', 'Open claims');"/>
                                        <apex:commandButton value="" title="Print" action="{!printDataOpenClaims}" styleClass="global-print"/>
                                    </div>
                                </div -->
                                 <!-- Pagination section start-->
                                 
                                <div class="pagination" style="display:{!IF(submissionSetConOpen.resultSize > submissionSetConOpen.PageSize,'block;','none;')}">
                                    <div class="record-details">Showing total records: <span class="record-starting">{!((pageNum-1)*10)+1}</span> – <span class="record-end">{!IF(pageNum*10<submissionSetConOpen.resultSize,pageNum*10,submissionSetConOpen.resultSize)}</span> of <span class="record-total">{!submissionSetConOpen.resultSize}</span></div>
                                    <div class="pagination-wrapper">
                                        <div class="pager">
                                            
                                            <apex:commandButton action="{!firstOpen}" rendered="{!submissionSetConOpen.hasPrevious}" reRender="ListView1" styleClass="pager-prev pager-section extream-first activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />                                              
                                            <apex:outputpanel styleClass="pager-prev pager-section extream-first deactivated" rendered="{!NOT(submissionSetConOpen.HasPrevious)}"/>   
                                            
                                            <apex:commandLink action="{!PreviousOpen}" rendered="{!hasPreviousOpen}" reRender="ListView1" styleClass="pager-prev pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();" />                                            
                                            <apex:outputPanel styleClass="pager-prev pager-section deactivated" rendered="{!NOT(HasPreviousOpen)}" />
                                            <div class="page-no pager-section" id="PgOpen"><apex:inputText value="{!pageNum}"  /></div>
                                                  <apex:actionFunction name="changePageNumberOpen" action="{!setpageNumberOpen}" reRender="ListView1" oncomplete="jQuery('.overley, .loading').hide();" />
                                            <div class="page-of pager-of-section">of {!CEILING(submissionSetConOpen.resultSize/submissionSetConOpen.PageSize)}</div>
                                            <apex:outputPanel styleClass="pager-next pager-section deactivated" rendered="{!NOT(submissionSetConOpen.HasNext)}" />                                                    
                                            <apex:commandLink rendered="{!HasNextOpen}" action="{!nextOpen}" reRender="ListView1" styleClass="pager-next pager-section activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"/>
                                            
                                            <apex:commandButton action="{!lastOpen}" rendered="{!submissionSetConOpen.HasNext}" reRender="ListView1" styleClass="pager-next pager-section extream-last activated" onclick="jQuery('.overley, .loading').show();" oncomplete="jQuery('.overley, .loading').hide();"  />   
                                            <apex:outputPanel styleClass="pager-next pager-section extream-last deactivated" rendered="{!NOT(submissionSetConOpen.HasNext)}" />
                                        </div>
                                    </div>
                                </div>           
                                
                                <!-- Pagination section end-->
                                <script>              
                                          /* Restricts the number, arrow, backspace and delete button for the pagination */
                                            jQuery('.page-no.pager-section > input[type="text"]').keypress( function(event){
                                                return validatePagination(event);
                                            });
                                        /* Restricts the number, arrow, backspace and delete button for the pagination */
                                       jQuery('.pagination-wrapper .page-no input[type="text"]').bind('keypress', function (eInner){
                                                    if (eInner.keyCode == 13) { 
                                                        enterPage   = jQuery('.page-no.pager-section > input[type="text"]').val();
                                                           
                                                           if(enterPage <= {!CEILING(submissionSetConOpen.resultSize/submissionSetConOpen.PageSize)} && enterPage != 0){
                                                                 
                                                                 jQuery('.overley, .loading').show();                         
                                                                 changePageNumberOpen();                             
                                                                 return false;
                                                             }
                                                             else{
                                                             jQuery('.page-no.pager-section > input[type="text"]').val('1');
                                                                 changePageNumberOpen();
                                                                 
                                                                 return false;
                                                             }
                                                        }    
                                                        
                                          }); 
                                          
                                      /* tooltrip for client-name start*/
                                    jQuery('td.client-name').each( function(){
                                        var formsName =  jQuery.trim(jQuery(this).text());
                                        if (formsName.length > 32) {
                                            jQuery(this).addClass('selectpicker-long-option');
                                            jQuery(this).attr('alt', formsName);
                                            jQuery(this).html(formsName.substring(0, 32) + '...');
                                        }
                                        else {
                                            jQuery(this).html(formsName);
                                        }
                                    });
                                    /* tooltrip for client-name end*/
                                    /* tooltrip for gard-ref-no start*/
                                    jQuery('td.gard-ref-no a').each( function(){
                                        var formsName = jQuery.trim(jQuery(this).text());
                                        if (formsName.length > 16) {
                                            jQuery(this).addClass('selectpicker-long-option');
                                            jQuery(this).attr('alt', formsName);
                                            jQuery(this).html(formsName.substring(0, 14) + '...');
                                        }
                                        else {
                                            jQuery(this).html(formsName);
                                        }
                                    });
                                     /*tooltrip for gard-ref-no end*/
                                     jQuery('td.gard-ref-no a').mouseenter( function(){
                                    jQuery('.custom-tooltip').remove();
                                    if(jQuery(this).attr('alt')) {
                                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                    }
                                    });
                                    jQuery('td.gard-ref-no a').mouseleave( function(){
                                                jQuery('.custom-tooltip').remove();
                                    });
                                    
                                    /* tooltrip for client-claim-ref start*/
                                    jQuery('.broker-view-page-container td.client-ref').each( function(){
                                        var formsName =  jQuery.trim(jQuery(this).text());
                                        if (formsName.length > 12) {
                                            jQuery(this).addClass('selectpicker-long-option');
                                            jQuery(this).attr('alt', formsName);
                                            jQuery(this).html(formsName.substring(0, 10) + '...');
                                        }
                                        else {
                                            jQuery(this).html(formsName);
                                        }
                                    });
                                    /*tooltrip for client-claim-ref end*/
                                    /*  ######## Client view tool trip start    */
                                        /* tooltrip for client-claim-ref start*/
                                    jQuery('.client-view-page-container td.client-ref').each( function(){
                                        var formsName =  jQuery.trim(jQuery(this).text());
                                        if (formsName.length > 16) {
                                            jQuery(this).addClass('selectpicker-long-option');
                                            jQuery(this).attr('alt', formsName);
                                            jQuery(this).html(formsName.substring(0, 14) + '...');
                                        }
                                        else {
                                            jQuery(this).html(formsName);
                                        }
                                    });
                                    /* tooltrip for client-claim-ref end*/
                                   /* tooltip for objects start*/
                                    
                                    jQuery('td.objects').each( function(){
                                                    var objectName = jQuery.trim(jQuery(this).text());
                                                    console.log('objectName:::::::::'+objectName);
                                                    var objectArray = objectName.replace(/(\d+)/g,''); 
                                                    //var objectArray = objectName; // added for 4679
                                                    console.log('objectArray:::::::::'+objectArray);
                                                    jQuery(this).html(objectArray);
                                                    });
                                    jQuery('td.objects').each( function(){
                                        var formsName =  jQuery.trim(jQuery(this).text());
                                        if (formsName.length > 26) {
                                            jQuery(this).addClass('selectpicker-long-option');
                                            jQuery(this).attr('alt', formsName);
                                            jQuery(this).html(formsName.substring(0, 25) + '...');
                                        }
                                        else {
                                            jQuery(this).html(formsName);
                                        }
                                    });
                                    /* tooltrip for objects end*/
                                
                                    /* JS for the auto trimming of claim-handler of report-claim td  */
                                    jQuery('.client-view-page-container .tab-reported-claim-section td.claims-handler span.underwrt-popup-link').each( function(){
                                                var emailText = jQuery.trim(jQuery(this).text());
                                                if (emailText.length > 46) {
                                                                jQuery(this).addClass('selectpicker-long-option');
                                                                jQuery(this).attr('alt', emailText);
                                                                jQuery(this).html(emailText.substring(0, 44) + '...');
                                                }
                                                else {
                                                                jQuery(this).html(emailText);
                                                }
                                });
                                jQuery('.client-view-page-container .tab-reported-claim-section td.claims-handler span.underwrt-popup-link').mouseenter( function(){
                                    jQuery('.custom-tooltip').remove();
                                    if(jQuery(this).attr('alt')) {
                                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                    }
                                });
                                jQuery('.client-view-page-container .tab-reported-claim-section td.claims-handler span.underwrt-popup-link').mouseleave( function(){
                                            jQuery('.custom-tooltip').remove();
                                });
                                
                                /* JS for the auto trimming of claim-handler report-claim td  */      
                                     /*  ######## Client view tool trip end */
                                    /* Provides the tooltip using jquery UI tooltip plugin */
                                    jQuery('td').mouseenter( function(){
                                        jQuery('.custom-tooltip').remove();
                                        if(jQuery(this).attr('alt')) {
                                            jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                        }
                                    });
                                    jQuery('td').mouseleave( function(){
                                        jQuery('.custom-tooltip').remove();
                                    });
                                    
                                    /* Provides the tooltip using jquery UI tooltip plugin */
                                     /* Underwriter popup starts*/
                                    function currentOwner(ownerid,emId){
                                        if(jQuery('.underwrt-popup-link .underwriter-popup').length <=0){
                                            //jQuery('.underwriter-popup').remove();
                                            jQuery(emId).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper"><span class="popup-loader">Loading...</span></div></div></div>');
                                            //jQuery('.overley').show();
                                            getOwnerInfo(ownerid+'#'+emId.id);
                                            return false;
                                        }
                                        else{
                                            return true;
                                        }
                                    }
                                    function currentOwnerQueue(ownerid,emId){
                                        if(jQuery('.underwrt-popup-link .underwriter-popup').length <=0){
                                            //jQuery('.underwriter-popup').remove();
                                            console.log('-----queue----');
                                            jQuery(emId).append('<div class="underwriter-popup normal-table-popup"><div class="und-popup-pointer"></div><div class="und-popup-wrapper" style="min-height:auto !important;"><span class="popup-loader">Loading...</span></div></div></div>');
                                            //jQuery('.overley').show();
                                            getOwnerQueueInfo(ownerid+'#'+emId.id);
                                            return false;
                                        }
                                        else{
                                            return true;
                                        }
                                    }
                                    /* Underwriter popup ends*/
                                     </script>
                    </apex:outputPanel>
                    <!-- If No data avilable start-->
                        <apex:outputPanel rendered="{!IF(lstOpenCase.size<=0,true,false)}">
                                     <div class="no-data-found">
                                        No records available.
                                    </div> 
                        </apex:outputPanel> 
                     <!-- If No data avilable end--> 
                                               
            </apex:outputPanel>
            <apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClients" immediate="true" onComplete="resetClientFields();">
                    <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
            </apex:actionFunction>
            </apex:form>                                            
                        </div>
                            
                            
                        </div>
                    </div>
             </div>             
          </div>
         </div>
        </div>
                 
        </apex:define>
    </apex:composition>
    <script>
        jQuery( document ).ready(function() {                      
           
            /*Added for Global Client Start */
            var favFlag = '{!isFav}';
            if(favFlag=='true'){
                var globalClient = '{!strGlobalClient}';
                 if(globalClient!=null && globalClient!=''){
                     var optionValues = [];
                     var options = jQuery('select[id$="site-search:globalClient"] option');              
                     if(options!=null){                         
                         jQuery.each(options,function (index, value) {
                             optionValues.push(jQuery(this).val());  
                         });                          
                         var counterAll = 0;
                         var counterSelected = 0;
                         jQuery.each(optionValues,function (index, value) {
                             counterAll++;
                             if(globalClient.indexOf(value) != -1){
                                 counterSelected++;                                
                                 jQuery("[value='"+value+"']").attr('checked','true');
                                 jQuery("[value='"+value+"']").attr('selected','true');
                             }else{
                                 jQuery("[value='"+value+"']").prop('checked', false);
                                 jQuery("[value='"+value+"']").prop('selected', false); 
                             }                       
                         });
                         if(counterAll==counterSelected){
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('checked',true);
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('selected',true);
                         }else{
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('checked',false);
                             jQuery('.global-user-select-wrapper-section li.multiselect-item.multiselect-all input').prop('selected',false);
                         }
                         if(globalClient.indexOf(';') != -1){
                             jQuery('.global-user-select-wrapper-section button.multiselect span').text('Multi');
                         }else{
                             if(jQuery("[client-id='"+globalClient+"']").attr('alt')!=null){
                                 jQuery('.global-user-select-wrapper-section button.multiselect span').text(jQuery("[client-id='"+globalClient+"']").attr('alt'));
                             }else{
                                 jQuery('.global-user-select-wrapper-section button.multiselect span').text(jQuery("[client-id='"+globalClient+"']").text());
                             }
                             
                         }
                     }       
                 }else if(globalClient==''){
                     var optionValues = [];
                     var options = jQuery('select[id$="site-search:globalClient"] option');              
                     if(options!=null){                      
                         jQuery.each(options,function (index, value) {
                             optionValues.push(jQuery(this).val());  
                         });
                         jQuery.each(optionValues,function (index, value) {                                                      
                             jQuery("[value='"+value+"']").prop('checked', false);
                             jQuery("[value='"+value+"']").prop('selected', false);                                                     
                         });
                         jQuery('.global-user-select-wrapper-section button.multiselect span').text('Select client');
                     }  
                 }  
            } 
            /*Added for Global Client End */                               
            jQuery('.from-btn').click( function(){
                var checked = jQuery('select[id$="site-search:globalClient"]').val();
                var allSelectedClients='';                
                if(checked!=null){
                    jQuery.each(checked,function (index, value) {                       
                        if(index=='0'){                     
                            allSelectedClients = value; 
                        }else{                      
                            allSelectedClients = allSelectedClients + ';' + value;
                        }
                                             
                    });                      
                }
                fetchSelectedClients(allSelectedClients); 
                                                                                              
            });            
             
                                                   
        });
        
        function resetClientFields(){
            var clientFilters = jQuery('.claims-filters-container .client select option');
            var clientValues = [];
            if(clientFilters!=null){
                jQuery.each(clientFilters,function (index, value) {
                    clientValues.push(jQuery(this).val());  
                });
                jQuery.each(clientValues,function (index, value) {                                                       
                     jQuery("[value='"+value+"']").prop('checked', false);
                     jQuery("[value='"+value+"']").prop('selected', false);                                                     
                });
                jQuery('.claims-filters-container .client .btn-group button').text('');
                jQuery('.claims-filters-container .client .btn-group button').attr('title','');
            }
        }  
        
        function limitText(limitField,limitNum) {
            if (limitField.value.length >= limitNum) {
                limitField.value = limitField.value.substring(0, limitNum);
            }            
        }                   
   </script>                                                        
   <apex:outputPanel id="filterScript">
                                   <script>
                                    jQuery('.gard-contact.claim-tabs-section .multiselect').multiselect({
                                        includeSelectAllOption: true,
                                        nonSelectedText: '',
                                        selectAllText: '<span>Check all</span>',
                                        enableFiltering: true,
                                        disableIfEmpty: true,
                                        filterBehavior: 'text',
                                        enableCaseInsensitiveFiltering: true,
                                        label: function(element) {
                                            var optionStr = jQuery(element).text();
                                            optionStr = jQuery.trim(optionStr);
                                            if (jQuery(element).parents('.request-forms').length > 0) {
                                                if (optionStr.length > 25) {
                                                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                                                }
                                                else {
                                                    return '<span class="select-options">' + optionStr + '</span>';
                                                }
                                            }
                                            if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                                                if (optionStr.length > 25) {
                                                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                                                }
                                                else {
                                                    return '<span class="select-options">' + optionStr + '</span>';
                                                }
                                            }
                                            else {
                                                if (optionStr.length > 19) {
                                                    return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                                                }
                                                else {
                                                    return '<span class="select-options">' + optionStr + '</span>';
                                                }
                                            }
                                        },
                                        buttonText: function(options, select) {
                                            if (options.length == 0) {
                                                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                                                    return ' <span>Select client</span>';
                                                }
                                                else {
                                                    return ' <b class="caret"></b>';
                                                }
                                            }
                                            else {
                                                if (options.length == 1) {
                                                    var labels = [];
                                                    options.each(function() {
                                                        if (jQuery(this).attr('label') !== undefined) {
                                                            labels.push(jQuery(this).attr('label'));
                                                        }
                                                        else {
                                                            var btnstr = jQuery(this).html();
                                                            if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                                                if (btnstr.length > 28) {
                                                                    labels.push(btnstr.substring(0, 26) + '...');
                                                                }
                                                                else {
                                                                    labels.push(btnstr);
                                                                }
                                                            }
                                                            else {
                                                                if (btnstr.length > 18) {
                                                                    labels.push(btnstr.substring(0, 18) + '...');
                                                                }
                                                                else {
                                                                    labels.push(btnstr);
                                                                }
                                                            }
                                                        }
                                                    });
                                                    return '<span>' + labels + '</span>';
                                                }
                                                else {
                                                    if (options.length > 1) {
                                                        /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                                                        return '<span>Multi</span> <b class="caret"></b>';
                                                    }
                                                }
                                            }
                                        }
                                    });
                                    /* new multiselect end */
                                    /* Default search by any word selection for the pick-list search option */
                                    //var incrementer = 1;
                                    jQuery('.claim-filter-sections .search-by-option-container').each( function(){
                                                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                    jQuery(this).html(searchOptions);
                                                    incrementer++;
                                    });
                                    /* Default search by any word selection for the pick-list search option */
                                
                                    
                                    /* Controls the opening/closing feature for the search by popup. */
                                    jQuery('.claim-filter-sections .search-by-icon-button').click( function(){
                                                    jQuery(this).children().show();
                                    });
                                    var searchByElement = jQuery('.claim-filter-sections .search-by-icon-button');
                                    jQuery(document).bind('mouseup', function (e){
                                                    if (searchByElement.has(e.target).length === 0) {
                                                                    jQuery(searchByElement).children().hide();
                                                    }
                                    });
                                    /* Controls the opening/closing feature for the search by popup. */
                                
                                    /* Controls the search by option popup for the single pick-list */
                                    jQuery('.claim-filter-sections .bs-searchbox').each( function(){
                                                    var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                    jQuery(this).append(searchOptions);
                                                    incrementer++;
                                    });
                                    jQuery('.claim-filter-sections .bs-searchbox .search-by-icon-button').click( function(e){
                                                    e.stopPropagation();
                                                    jQuery(this).children().show();
                                    });
                                    var searchByElementSingle = jQuery('.claim-filter-sections.client .bs-searchbox .search-by-icon-button');
                                    jQuery(document).bind('mousedown', function (e){
                                                    if (searchByElementSingle.has(e.target).length === 0) {
                                                                    jQuery(searchByElementSingle).children().hide();
                                                    }
                                    });
                                    jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
                                        mouseWheelPixels: 20,
                                        scrollEasing: "linear",
                                        scrollInertia: 0
                                    });
                                
                                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                jQuery('.mCSB_draggerContainer').click( function(e){
                                    e.stopPropagation();
                                });
                                /* added for shared client style in client dropdown start */
                                jQuery('.tab-open-claim-section .claim-filter-sections.client .checkbox span.select-options').each(function(){
                                var shid = '{!shareClientName}';
                                console.log('sharedClientName:'+shid);
                                if(shid.indexOf(jQuery(this).attr('alt')) >=0 || shid.indexOf(jQuery(this).text().trim()) >=0  ){jQuery(this).addClass('share-class');}
                                });
                                /* added for shared client style in client dropdown end */
                                var undElement = jQuery('td.owner-name.myRequest .underwrt-popup-link');
                                jQuery(document).bind('mouseup', function (e){
                                    if (undElement.has(e.target).length === 0) {
                                        jQuery('.underwriter-popup').remove();
                                    }
                                });
                                   </script>
                                   </apex:outputPanel>
</apex:page>