<apex:page controller="ContractReviewLOCCtrl" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" action="{!chkAccess}">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
.desc-tooltip-container {
    width: 317px !important;
}
.error-msg {
  font-family: AvenirMedium,Arial,Helvetica,sans-serif;
  font-size: 12px;
  margin: 0px;
  color: #E42704;
  padding: 5px 0px 0px !important;
}
.request-form-each-field-section label {
    color: #5b5448;
    line-height: 15px;
    margin: 0 0 4px !important;
    width: 100% !important;
    float: left;
    font-family: AvenirMedium,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.desc-tooltip-container {  
    margin: 29px 0px 0px -10px;
}
.request-for-loc .file-upload {
    margin: -30px 0 0 490px !important;
}
.request-for-loc .request-form-each-field-section.already-has-cont .blue-card-double-field-section label {
    line-height: inherit;
    margin-bottom: 0px;
    width: 287px !important;
}
.request-form-each-field-section.req-covers.already-has-cont {
    margin-top: 20px !important;
}
.request-form-each-field-section.already-has-cont {
    margin-bottom: 8px !important;
}
.request-for-loc .upld-field-desc {
    margin-bottom: 0;
    margin-left: 0px;
    float: right;
}
.cont-name {
    word-wrap: break-word;
    word-break: break-word;
    height: 93px;
    resize: none;    
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 93px;
    max-height: 93px !important;
}
.comments-text {
    min-width: 222px !important;
    max-width: 222px !important;
    width: 222px !important;
    height: 115px !important;
    min-height: 115px !important;
    max-height: 115px !important;
}
.req-object .select-wrapper .btn-group ul.multiselect-container{
    max-height: 200px !important;
}
.request-form-each-field-section.req-contact-preference {
    margin: 0 0 0 !important;
}
.reim-delete-expence, .reim-add-expence
{    
    float: right;
    margin: -26px -105px 0px 0px !important;
}
.request-form-each-field-section.req-product-area.uploadFile
{
        position: relative;
}
.msg-note-document {
    color: rgb(234, 0, 0) !important;
    margin-bottom: 8px !important;
    margin-left: 2px !important;
    font: 13px AvenirHeavy,Helvetica !important;
    text-align: left;
}
.msg-note-document a, .msg-note-document a:focus, .msg-note-document a:hover, .msg-note-document a:visited {
    color: rgb(234, 0, 0) !important;
    text-decoration: underline !important;
    font: 13px AvenirHeavy,Helvetica !important;
}
</style>
<script>
function applyNoEndDate()
{
    var no_end = jQuery('input[id$="no_enddate"]').is(':checked');
    if(no_end)
    {
        jQuery('input[id$="end-date-loc"]').val('');
        jQuery('input[id$="end-date-loc"]').attr('disabled','disabled');
        
    }
    else
    {
        jQuery('input[id$="end-date-loc"]').removeAttr("disabled");
    }
}
function setEndDateLimit(){    
    var startdate = jQuery('input[id$="start-date-loc"]').val();
   console.log('Start Date is ->' + startdate);                                        
    jQuery('.end-date .custom-datepicker').Zebra_DatePicker({
      //direction: true,
      format: 'd.m.Y',
      first_day_of_week: 0,
      direction: [startdate,false]
    });                                    
    jQuery('.end-date .custom-datepicker').data('Zebra_DatePicker');  
    jQuery('input[id$="end-date-loc"]').removeAttr("disabled"); 
}
    var incrementer = 100;
     function chkFile(s,t,v_text)
    {
        var str_id= t;
        text_field = v_text +':uploadFile';
        var uploadedFilesize = {!totalFileSize};
        var LastFileSize = s + uploadedFilesize;
            jQuery(".error-file-upload").removeClass("error-file-upload");
            jQuery(".error-file-upload-msg").remove();  
             var longname = jQuery("[id$='"+str_id+"']").val();
            longname = longname.substr(longname.lastIndexOf("\\") + 1);
            if(longname.length >80)
            {
              jQuery("[id$='"+text_field+"']").parent().append('<div class="error-file-upload-msg" style="margin:0 0 0 2px !important;" >File name can be max. 80 characters</div>');
              jQuery("[id$='"+text_field+"']").addClass("error-file-upload");                                                 
              jQuery("[id$='"+text_field+"']").val(''); 
              jQuery("[id$='"+str_id+"']").val('');  
              return false;
              } 
              else if(s>3145728){    //MYG-2965 change 5MB to 3MB    
                jQuery("[id$='"+str_id+"']").val('');        
                jQuery("[id$='"+text_field+"']").val('');
                jQuery("[id$='"+text_field+"']").parent().append('<div class="error-file-upload-msg" style="margin:0 0 0 2px !important;" >File size is bigger than 3MB</div>');
                jQuery("[id$='"+text_field+"']").addClass("error-file-upload");
                return false;
            }
           else if(LastFileSize >3145728){ //MYG-2965 change 5MB to 3MB         
                jQuery("[id$='"+str_id+"']").val('');        
                jQuery("[id$='"+text_field+"']").val('');   
                jQuery('.overley,.error-file-popup').show();             
            }          
            
            else{
             var fname = jQuery("[id$='"+str_id+"']").val();
             if(isvalidfiletype(fname)){
                fname = fname.substr(fname.lastIndexOf("\\") + 1);
                console.log(fname);
                jQuery("[id$='"+text_field+"']").val(fname);             
                jQuery(".error-file-upload-msg").remove(); 
                
                }
             else {
                  jQuery("[id$='"+str_id+"']").val('');
                  jQuery("[id$='"+text_field+"']").parent().append('<div class="error-file-upload-msg" style="margin:0 0 0 2px !important;" >Only following file types are allowed:<br/>pdf, docx, doc,jpg, xls, xlsx, ppt, pptx, pages, psd, dxf, eps, ps, xps, ai, tiff, svg, ttf</div>');
                  jQuery("[id$='"+text_field+"']").addClass("error-file-upload");
                  //fname = fname.substr(fname.lastIndexOf("\\") + 1);                
                  jQuery("[id$='"+text_field+"']").val('');  
                  return false;                
             }    
            }
    }
     function fileValidation(fname)
    {
         jQuery(".error-file-upload").removeClass("error-file-upload");
         jQuery(".error-file-upload-msg").remove(); 
         jQuery(".error-msg").remove();
        var textFilename =  jQuery("[id$='"+fname+"']").val();
        var name_contract = jQuery.trim(jQuery('textarea[id$="name-contract-loc"]').val());
        if((typeof textFilename != typeof undefined) && (textFilename=='' || textFilename==' ' || textFilename == null))
        {
                jQuery("[id$='"+fname+"']").parent().append('<div class="error-file-upload-msg" style="margin:0 0 0 2px !important;" >Please select a file before adding a new row.</div>');
                jQuery("[id$='"+fname+"']").addClass("error-file-upload");
                return false;
        }
        else if((name_contract != undefined) && (name_contract == '' || name_contract == null || name_contract == ' ')){
              var msgError = '<div class="error-msg" >Please provide name of contract.</div>';                  
                jQuery('textarea[id$="name-contract-loc"]').parent().after(msgError);                 
                return false;
         }
        else
        {
            jQuery('.overley,.loading').show();//Added for MYGP-209
            return true;
        }
    }   
    /* Controls the descriptive tooltip popup */
    jQuery('.desc-tooltip').click( function(){
        jQuery('.desc-tooltip-container').show();
        jQuery(this).addClass('selected');
    });
    var descTTEle = jQuery('.desc-tooltip');
    jQuery(document).bind('mouseup', function (e){
        if (descTTEle.has(e.target).length === 0) {
            jQuery(descTTEle).removeClass('selected');
            jQuery('.desc-tooltip-container').hide();
        }
    });
    /* Controls the descriptive tooltip popup */
    function retrieveCoverLstCall(){
        var selectedVal = jQuery('select[id$="client-loc"] option:selected').val();
        console.log('selectedVal------------>'+selectedVal);
        retrieveCoverLst(selectedVal);
    }
    function getObjectCall(){
        var selectedVal = jQuery('select[id$="cover-loc"] option:selected').val();
        console.log('selectedVal------------>'+selectedVal);
        getObject(selectedVal);
    }
    function locValidation()
    {
        jQuery(".error-msg").remove(); 
         var j$ = jQuery.noConflict();
         var client = jQuery('select[id$="client-loc"]').val();
         var cover = jQuery('select[id$="cover-loc"]').val();
         var objectname = jQuery('select[id$="object-loc"]').val();
         var ph_pref = jQuery('input[id$="loc_cont_ph"]').is(':checked');
         var email_pref = jQuery('input[id$="loc_cont_email"]').is(':checked');
         var name_contract = jQuery.trim(jQuery('textarea[id$="name-contract-loc"]').val());
         var start_date = jQuery.trim(jQuery('input[id$="start-date-loc"]').val());
         var end_date = jQuery.trim(jQuery('input[id$="end-date-loc"]').val());        
         var no_enddate = jQuery('input[id$="no_enddate"]').is(':checked');
         var attchdoc = jQuery.trim(jQuery('input[id$="uploadFile"]').val());
         var nationality = jQuery('select[id$="nationality"]').val();
         
         if( (client != undefined) && (client == '' || client == null || client == ' ') ){
           var msgError = '<div class="error-msg">Please select client.</div>';
               jQuery('select[id$="client-loc"]').parent().parent().append(msgError);                  
                console.log('Error in client'+msgError);                  
                return false;
         }
         else if( (nationality != undefined) && (nationality == '' || nationality == null || nationality == ' ') ){
           var msgError = '<div class="error-msg">Nationality of the crew.</div>';
               jQuery('select[id$="nationality"]').parent().parent().append(msgError);                  
                console.log('Error in client'+msgError);                  
                return false;
         }
         else if( (cover != undefined) && (cover == '' || cover == null || cover == ' ') ){
           var msgError = '<div class="error-msg">Please select cover.</div>';
               jQuery('select[id$="cover-loc"]').parent().parent().append(msgError);                  
                console.log('Error in client'+msgError);                  
                return false;
         }
         else if( (objectname == '' || objectname == null || objectname == ' ') ){
           var msgError = '<div class="error-msg">Please select object name.</div>';
               jQuery('select[id$="object-loc"]').parent().parent().append(msgError);                  
                console.log('Error in client'+msgError);                  
                return false;
         }
         else if((name_contract != undefined) && (name_contract == '' || name_contract == null || name_contract == ' ')){
          var msgError = '<div class="error-msg" >Please provide name of contract.</div>';                  
                jQuery('textarea[id$="name-contract-loc"]').parent().after(msgError);                 
                return false;
         }
         else if((start_date != undefined) && (start_date == '' || start_date == null || start_date == ' ')){
          var msgError = '<div class="error-msg" >Please select start date of contract.</div>';                  
                jQuery('input[id$="start-date-loc"]').parent().after(msgError);                 
                return false;
         }
         else if((end_date != undefined) && (end_date == '' || end_date == null || end_date == ' ') && no_enddate == false){
          var msgError = '<div class="error-msg" >Please select end date of contract.</div>';                  
                jQuery('input[id$="end-date-loc"]').parent().after(msgError);                 
                return false;
         }         
         else if((attchdoc != undefined) && (attchdoc == '' || attchdoc  == null || attchdoc == ' ')){
             var msgError = '<div class="error-msg" >Please provide Upload contract.</div>';
                jQuery('input[id$="uploadFile"]').next().next().after(msgError);                 
                return false;
         }
         else if(ph_pref == false && email_pref == false){
                var msgError = '<div class="error-msg" >Please provide at least one contact preference.</div>';
                jQuery('.req-contact-preference').after(msgError);                 
                return false;
            }         
        else
        {
            return true;
        }
    }
</script>
   <apex:composition template="PageFrame">
        <apex:define name="content" >
        <div  class="content">
            <div class="content-wrapper portfolio-content-area"> 
            <div class="page-title">Request crew contract confirmation</div>
        <div class="tab-details-section gard-contact claim-tabs-section portfolio">
            <div class="tab-detail-columns"> 
                
                    
            <apex:form >
                <apex:actionFunction name="getObject" action="{!retrieveAssetLst}" rerender="objsection">
                <apex:param name="selectedCover" assignTo="{!selectedCover}" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="retrieveCoverLst" action="{!retrieveCoverLst}" rerender="coversection,error_panel">
                   <apex:param name="selectedClient" assignTo="{!selectedClient}" value=""/>
                </apex:actionFunction>
                   <!--<apex:commandLink action="{!cancel}" styleClass="popup-close" id="closeBtn" oncomplete="jQuery('.inner-overley').hide();jQuery('body').css({'overflow-y': 'scroll'}); jQuery('body').removeClass('portfolio-broker-view-body-container');"-->  
                   <apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClients" rerender="otp1" ><!-- rerender="recordData,noData,filterClient,filterScript" -->
                <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
            </apex:actionFunction>
           </apex:form>
           <apex:form >  
            <div class="tab-open-claim-section  tab-detail-container broker-view cover">  <!-- tab-table-wrapper -->        
                    <div class="form-field-scrol-container">                     
                        <!--<div class="popup-calendar-container"></div>-->
                    <div class="contact-field">
                        <div class="request-form-fields-container request-for-loc">
                       <div class="report-new-claim-field-section">  
                        <div class="report-new-claim-field-section-left-panel">
      
                    <apex:outputPanel id="otp1">                    
                    <div class="request-form-each-field-section req-cover-new-client-name">
                        <label for="client-cover-new" class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
                         <apex:outputPanel rendered="{!AND(userType=='Broker',objMode == false)}">
                         <div class="select-wrapper">
                            <apex:selectList value="{!selectedClient}" multiselect="false" onchange="retrieveCoverLstCall();" styleClass="selectpicker" id="client-loc" size="1">
                                <apex:selectoptions value="{!clientLst}" />
                            </apex:selectList>
                          </div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!OR(userType=='Client',objMode == true)}">
                            <apex:inputText value="{!selectedClient_name}" styleClass="client-name" html-readonly="true" style="background: none repeat scroll 0 0 #f7f6f4;"/>
                        </apex:outputPanel>
                    </div>                  
                    <apex:outputpanel id="coversection">
                    <div class="request-form-each-field-section req-cover-new-cover">
                        <label for="client-cover-new" class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Cover:</label>
                        <apex:outputPanel rendered="{!NOT(objMode)}">
                            <div class="select-wrapper">
                               <apex:selectList value="{!selectedCover}" size="1" multiselect="false" onchange="getObjectCall();" styleClass="selectpicker" id="cover-loc">
                                    <apex:selectoptions value="{!coverLst}"/>
                                </apex:selectList>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!objMode}">
                            <apex:inputText value="{!selectedCover}" styleClass="cont-name" html-readonly="true" style="background: none repeat scroll 0 0 #f7f6f4;"/>
                        </apex:outputPanel>
                   </div>                  
                    <script>
                                    
                        /* Controls the search by option popup for the single pick-list */
                        
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .selectpicker').selectpicker({
                            noneResultsText: 'No match found!',
                            liveSearch: true,
                            searchAccentInsensitive: false
                        });  
                        /* disable if no value available */
                                     if (typeof jQuery('.request-form-each-field-section.req-cover-new-cover .select-wrapper .dropdown-menu ul.selectpicker li').html() == typeof undefined) {
                                       
                                        jQuery('.request-form-each-field-section.req-cover-new-cover button.selectpicker').addClass('disabled');
                                    }
                        /* disable if no value available */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                            //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                            //alert(jQuery(this).next().children().find('li.selected').length);
                            if (jQuery(this).next().children().find('li.selected').length != 0) {
                                //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                            }
                        });
                        /* Deselect any selection while choosong any picklist */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                            document.getSelection().removeAllRanges();
                        });
                        /* Deselect any selection while choosong any picklist */
                
                    /* Default search by any word selection for the pick-list search option */
                        //var incrementer = 1;
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .search-by-option-container').each( function(){
                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                            jQuery(this).html(searchOptions);
                            incrementer++;
                        });
                        /* Default search by any word selection for the pick-list search option */
                    
                        
                        /* Controls the opening/closing feature for the search by popup. */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .search-by-icon-button').click( function(){
                            jQuery(this).children().show();
                        });
                        var searchByElement = jQuery('.request-form-each-field-section.req-cover-new-cover .search-by-icon-button');
                        jQuery(document).bind('mouseup', function (e){
                            if (searchByElement.has(e.target).length === 0) {
                                jQuery(searchByElement).children().hide();
                            }
                        });
                        /* Controls the opening/closing feature for the search by popup. */
                    
                        /* Controls the search by option popup for the single pick-list */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .bs-searchbox').each( function(){
                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                            jQuery(this).append(searchOptions);
                            incrementer++;
                        });
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-cover .bs-searchbox .search-by-icon-button').click( function(e){
                            e.stopPropagation();
                            jQuery(this).children().show();
                        });
                        var searchByElementSingle = jQuery('.request-form-each-field-section.req-cover-new-cover .bs-searchbox .search-by-icon-button');
                        jQuery(document).bind('mousedown', function (e){
                            if (searchByElementSingle.has(e.target).length === 0) {
                                jQuery(searchByElementSingle).children().hide();
                            }
                        });                                   
                        jQuery(".request-for-loc .request-form-each-field-section.req-cover-new-cover .dropdown-menu.open ul").mCustomScrollbar({
                        mouseWheelPixels: 20,
                        scrollEasing: "linear",
                        scrollInertia: 0
                    }); 
                   </script>
                   </apex:outputpanel>  
                   <apex:outputpanel id="objsection">        
                    <div class="request-form-each-field-section req-object">
                        <label for="client-cover-new" class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Object name:</label>   
                        <apex:outputPanel rendered="{!NOT(objMode)}">                       
                           <div class="select-wrapper">     
                                <apex:selectList value="{!selectedMultiObj}" size="1" multiselect="true" styleClass="multiselect" id="object-loc">
                                    <apex:selectoptions value="{!objectLst}"/>
                                </apex:selectList>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!objMode}">
                            <apex:inputText value="{!selectedObj}" styleClass="cont-name" html-readonly="true" style="background: none repeat scroll 0 0 #f7f6f4;"/>
                        </apex:outputPanel>
                    </div>
                    <script>
                        /* object mutiselect */
                          /* bootstrap multiselect custom design */
                        jQuery('.request-form-each-field-section.req-object .multiselect').multiselect({
                                includeSelectAllOption: true,
                                selectAllText: '<span>Check all</span>',
                                enableFiltering: true,
                                disableIfEmpty: true,
                                filterBehavior: 'text',
                                enableCaseInsensitiveFiltering: true,
                                label: function(element) {
                                    var optionStr = jQuery(element).html();
                                    if (jQuery(element).parents('.request-forms').length > 0) {
                                        if (optionStr.length > 25) {
                                            return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                                        }
                                        else {
                                            return '<span class="select-options">' + optionStr + '</span>';
                                        }
                                    }
                                    else {
                                        if (optionStr.length > 19) {
                                            return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                                        }
                                        else {
                                            return '<span class="select-options">' + optionStr + '</span>';
                                        }
                                    }
                                },
                                buttonText: function(options, select) {
                                    if (options.length == 0) {
                                        return ' <b class="caret"></b>';
                                    }
                                    else {
                                        if (options.length == 1) {
                                            var labels = [];
                                            options.each(function() {
                                                if (jQuery(this).attr('label') !== undefined) {
                                                    labels.push(jQuery(this).attr('label'));
                                                }
                                                else {
                                                    var btnstr = jQuery(this).html();
                                                    if (btnstr.length > 18) {
                                                        labels.push(btnstr.substring(0, 18) + '...');
                                                    }
                                                    else {
                                                        labels.push(btnstr);
                                                    }
                                                }
                                            });
                                            return '<span>' + labels + '</span>';
                                        }
                                        else {
                                            if (options.length > 1) {
                                                /* return '<span>' + options.length + ' ' + this.nSelectedText + '</span> <b class="caret"></b>'; */
                                                return '<span>Multi</span> <b class="caret"></b>';
                                            }
                                        }
                                    }
                                }
                            });
                            
                            /* jQuery multiselect popup custom scroll bar */
                            jQuery(".request-form-each-field-section.req-object .select-wrapper .btn-group ul.multiselect-container").mCustomScrollbar({
                                mouseWheelPixels: 20,
                                scrollEasing: "linear",
                                scrollInertia: 0
                            });
                            
                                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                            jQuery('.request-form-each-field-section.req-object .mCSB_draggerContainer').click( function(e){
                                e.stopPropagation();
                            });
                            /* Default search by any word selection for the pick-list search option */
                            //var incrementer = 1;
                            jQuery('.request-form-each-field-section.req-object .search-by-option-container').each( function(){
                                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                jQuery(this).html(searchOptions);
                                incrementer++;
                            });
                            /* Default search by any word selection for the pick-list search option */
                        
                            
                            /* Controls the opening/closing feature for the search by popup. */
                            jQuery('.request-form-each-field-section.req-object .search-by-icon-button').click( function(){
                                jQuery(this).children().show();
                            });
                            var searchByElement = jQuery('.request-form-each-field-section.req-object .search-by-icon-button');
                            jQuery(document).bind('mouseup', function (e){
                                if (searchByElement.has(e.target).length === 0) {
                                    jQuery(searchByElement).children().hide();
                                }
                            });
                            /* Controls the opening/closing feature for the search by popup. */
                        
                            /* Controls the search by option popup for the single pick-list */
                            jQuery('.request-form-each-field-section.req-object .bs-searchbox').each( function(){
                                var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                jQuery(this).append(searchOptions);
                                incrementer++;
                            });
                            jQuery('.request-form-each-field-section.req-object .bs-searchbox .search-by-icon-button').click( function(e){
                                e.stopPropagation();
                                jQuery(this).children().show();
                            });
                            var searchByElementSingle = jQuery('.request-form-each-field-section.req-object .bs-searchbox .search-by-icon-button');
                            jQuery(document).bind('mousedown', function (e){
                                if (searchByElementSingle.has(e.target).length === 0) {
                                    jQuery(searchByElementSingle).children().hide();
                                }
                            });
                            jQuery('.request-form-each-field-section.req-object .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                //alert(jQuery(this).next().children().find('li.selected').length);
                                if (jQuery(this).next().children().find('li.selected').length != 0) {
                                    //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                }
                            });
                            /* Deselect any selection while choosong any picklist */
                            jQuery('.request-form-each-field-section.req-object .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                document.getSelection().removeAllRanges();
                            });
                            /* Deselect any selection while choosong any picklist */
                    
                    </script>
                 </apex:outputpanel>
                    <script>
                                   
                        /* Controls the search by option popup for the single pick-list */
                        
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .selectpicker').selectpicker({
                            noneResultsText: 'No match found!',
                            liveSearch: true,
                            searchAccentInsensitive: false
                        });  
                        
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                            //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                            //alert(jQuery(this).next().children().find('li.selected').length);
                            if (jQuery(this).next().children().find('li.selected').length != 0) {
                                //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                            }
                        });
                        /* Deselect any selection while choosong any picklist */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                            document.getSelection().removeAllRanges();
                        });
                        /* Deselect any selection while choosong any picklist */
                
                    /* Default search by any word selection for the pick-list search option */
                        //var incrementer = 1;
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .search-by-option-container').each( function(){
                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                            jQuery(this).html(searchOptions);
                            incrementer++;
                        });
                        /* Default search by any word selection for the pick-list search option */
                    
                        
                        /* Controls the opening/closing feature for the search by popup. */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .search-by-icon-button').click( function(){
                            jQuery(this).children().show();
                        });
                        var searchByElement = jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button');
                        jQuery(document).bind('mouseup', function (e){
                            if (searchByElement.has(e.target).length === 0) {
                                jQuery(searchByElement).children().hide();
                            }
                        });
                        /* Controls the opening/closing feature for the search by popup. */
                    
                        /* Controls the search by option popup for the single pick-list */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .bs-searchbox').each( function(){
                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                            jQuery(this).append(searchOptions);
                            incrementer++;
                        });
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button').click( function(e){
                            e.stopPropagation();
                            jQuery(this).children().show();
                        });
                        var searchByElementSingle = jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button');
                        jQuery(document).bind('mousedown', function (e){
                            if (searchByElementSingle.has(e.target).length === 0) {
                                jQuery(searchByElementSingle).children().hide();
                            }
                        });                                   
                        jQuery(".request-for-loc .request-form-each-field-section.req-cover-new-client-name .dropdown-menu.open ul").mCustomScrollbar({
                        mouseWheelPixels: 20,
                        scrollEasing: "linear",
                        scrollInertia: 0
                    }); 
                    
                        
                    
                </script>
            </apex:outputPanel>             
                    
                    
                    <div class="request-form-each-field-section req-effective-date start-date">
                        <label class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Start date of contract:</label>
                        <apex:inputText value="{!startDate}" styleClass="custom-datepicker" html-readonly="true" id="start-date-loc"/>                        
                    </div>
                    <div class="request-form-each-field-section req-comments">
                        <label class="loc-label" for="reqest-comments" style="margin: 3px -10px 0px 10px;">Comments:</label>
                        <apex:inputTextArea value="{!caseIns.comment__c}" onkeyup="limitText(this,500);" onkeypress="limitText(this,500);" styleClass="comments-text" />
                        <span class="request-form-comment-help">(Max 500 character)</span>
                    </div>
                </div>
                
                    
                <div class="report-new-claim-field-section-right-panel">
                    <apex:outputPanel >
                        <div class="request-form-each-field-section req-cover-new-nationality">         
                            <label for="client-cover-new" class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>  Nationality of the crew:</label>
                             <div class="select-wrapper">
                               <apex:selectList value="{!selectedCountry}" size="1" multiselect="false" styleClass="selectpicker" id="nationality">
                                   <apex:selectoptions value="{!Countrycodes}" />
                               </apex:selectList>   
                            </div>
                        </div>
                        <script>
                                    
                        /* Controls the search by option popup for the single pick-list */
                        
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .selectpicker').selectpicker({
                            noneResultsText: 'No match found!',
                            liveSearch: true,
                            searchAccentInsensitive: false
                        });  
                        /* disable if no value available */
                                     if (typeof jQuery('.request-form-each-field-section.req-cover-new-nationality .select-wrapper .dropdown-menu ul.selectpicker li').html() == typeof undefined) {
                                       
                                        jQuery('.request-form-each-field-section.req-cover-new-nationality button.selectpicker').addClass('disabled');
                                    }
                        /* disable if no value available */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                            //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                            //alert(jQuery(this).next().children().find('li.selected').length);
                            if (jQuery(this).next().children().find('li.selected').length != 0) {
                                //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                            }
                        });
                        /* Deselect any selection while choosong any picklist */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                            document.getSelection().removeAllRanges();
                        });
                        /* Deselect any selection while choosong any picklist */
                
                    /* Default search by any word selection for the pick-list search option */
                        //var incrementer = 1;
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .search-by-option-container').each( function(){
                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                            jQuery(this).html(searchOptions);
                            incrementer++;
                        });
                        /* Default search by any word selection for the pick-list search option */
                    
                        
                        /* Controls the opening/closing feature for the search by popup. */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .search-by-icon-button').click( function(){
                            jQuery(this).children().show();
                        });
                        var searchByElement = jQuery('.request-form-each-field-section.req-cover-new-nationality .search-by-icon-button');
                        jQuery(document).bind('mouseup', function (e){
                            if (searchByElement.has(e.target).length === 0) {
                                jQuery(searchByElement).children().hide();
                            }
                        });
                        /* Controls the opening/closing feature for the search by popup. */
                    
                        /* Controls the search by option popup for the single pick-list */
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .bs-searchbox').each( function(){
                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                            jQuery(this).append(searchOptions);
                            incrementer++;
                        });
                        jQuery('.request-for-loc .request-form-each-field-section.req-cover-new-nationality .bs-searchbox .search-by-icon-button').click( function(e){
                            e.stopPropagation();
                            jQuery(this).children().show();
                        });
                        var searchByElementSingle = jQuery('.request-form-each-field-section.req-cover-new-nationality .bs-searchbox .search-by-icon-button');
                        jQuery(document).bind('mousedown', function (e){
                            if (searchByElementSingle.has(e.target).length === 0) {
                                jQuery(searchByElementSingle).children().hide();
                            }
                        });                                   
                        jQuery(".request-for-loc .request-form-each-field-section.req-cover-new-nationality .dropdown-menu.open ul").mCustomScrollbar({
                        mouseWheelPixels: 20,
                        scrollEasing: "linear",
                        scrollInertia: 0
                    }); 
                   </script>
                    </apex:outputPanel>
                    <!--
                    <div class="select-wrapper">
                        <label class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Nationality of the crew:</label>
                           <apex:selectList value="{!selectedCountry}" multiselect="false" styleClass="selectpicker" id="Nationality">
                               <apex:selectoptions value="{!Countrycodes}" />
                           </apex:selectList>
                    </div>
                    -->
                    <div class="request-form-each-field-section req-product-area">
                        <label class="loc-label"><span class="form-req-field"><!-- <apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /> --> </span> Your reference no.:</label>
                       <apex:inputText value="{!caseIns.Client_contract_reference__c}" id="loc-ref-no" onkeyup="limitText(this,40);" onkeypress="limitText(this,40);"/>                        
                    </div>
                                       
                     
                    <div class="request-form-each-field-section req-product-area">
                        <label class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name of contract:</label>
                        <!--<apex:inputTextArea value="{!caseIns.Name_Of_Contract__c}" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);" styleClass="cont-name" id="name-contract-loc" />-->
                        <apex:inputTextArea value="{!caseIns.Name_Of_Contract__c}" styleClass="cont-name" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);" id="name-contract-loc"/>
                    </div>                   
                    <div class="request-form-each-field-section req-effective-date end-date">
                        <label class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> End date of contract:</label>
                        <apex:inputText value="{!endDate}" styleClass="custom-datepicker" html-readonly="true" id="end-date-loc" /><!-- disabled="true"-->
                        <div class="blue-card-double-label">
                        <apex:inputCheckbox value="{!caseIns.No_end_date__c}" id="no_enddate" style="display:none;" onchange="applyNoEndDate();"/>                                
                        <label for="{!$Component.no_enddate}" style="height:20px;padding-top: 3px;margin-top: 4px !important;">No end date</label>
                        </div>
                    </div>
                    <div class="request-form-each-field-section req-contact-preference" style="margin-top: -4px !important;">
                        <label for="reqest-contact-preference" class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Contact preference:</label>
                        <div class="select-wrapper blue-card-double-label">
                            <div class="subs-check-single">
                                <apex:inputCheckbox value="{!isEmail}" id="loc_cont_email"/>
                                <label for="{!$Component.loc_cont_email}" style="height:20px;padding-top: 3px;">Email</label>
                            </div>
                            <div class="subs-check-single">
                                <apex:inputCheckbox value="{!isPhone}" id="loc_cont_ph"/>
                                <label for="{!$Component.loc_cont_ph}" style="height:20px;padding-top: 3px;">Phone</label>
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
                    <!--right upload section start -->
                <div class="report-new-claim-field-section"> 
                 <div class="request-form-each-field-section req-covers already-has-cont">
                        <label for="reqest-covers" ></label>
                        <div class="blue-card-double-field-section">
                            <div class="blue-card-double-label">
                                <apex:inputCheckbox value="{!caseIns.Is_Confidential_Contract__c}" id="shared_contract"/> 
                                <label for="{!$Component.shared_contract}" >Contains sensitive information</label>
                                <label class="required-desc-tooltip">
                                <span class="label-text"></span>
                                <span class="desc-tooltip closed" style="left: 213px;margin-top: -20px;"><div class="desc-tooltip-container" style="display: none;"><div class="desc-tooltip-popup-pointer"></div><div class="desc-tooltip-popup-wrapper"><div class="desc-tooltip-popup-title">What is this?</div><div class="desc-tooltip-popup-text">{!$ObjectType.case.fields.Is_Confidential_Contract__c.InlineHelpText}</div></div></div></span>
                                </label>
                            </div>                            
                        </div>
                    </div>
                    <!-- MYGP-203 -->
                    <apex:outputPanel id="error_panel">
                    <div class="msg-note-document" style="display:{!IF(claim_handler_email!= '','block;','none;')}">
                        {!$Label.Contract_confirmation_document_total_file_size_error_text} {!claim_handler_name} (<a href="mailto:{!claim_handler_email}">{!claim_handler_email}</a>) 
                    </div>
                    </apex:outputPanel>
                    
                                            <!--MYGP-203 newly added popup-->
                                                    
                                                     <div id="contact-info-pop-container" class="global-popup global-popup-confirm final-claim-submit error-file-popup" style="z-index:9999990;" >                         
                                                            <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                                                 <div id="contact-info-pop-wrapper">
                                                                 <div class="popup-form-container">
                                                                 <div class="contact-field">
                                                                     <div class="pop-up-sub-title">
                                                                        The total size of attached files can not exceed 3MB.
                                                                     </div>                                      
                                                                
                                                             <div class="form-submit-section">
                                                             <input styleClass="form-btn" type="button" value="Ok" style="margin: 0 5px 0 0;" onclick="jQuery('.overley,.final-claim-submit').hide();"/> 
                                                             
                                                                  
                                                             </div>                                  
                                                            </div>
                                                            </div>
                                                        </div>
                                                       </div>      
                                                     </div>            
                                                    <apex:outputPanel rendered="{!isError}">
                                                      <script>
                                                          jQuery('.loading').hide();
                                                           jQuery('.overley,.error-file-popup').show();
                                                      </script>
                                                    </apex:outputPanel>
                                                    <!--MYGP-203 newly added popup end-->
                    <!-- MYGP-203 -->
                     <apex:variable var="rowNum" value="{!0}"/>
                    <apex:repeat var="att" value="{!lstAttachments}">
                    <div class="request-form-each-field-section req-product-area uploadFile">
                        <label for="reqest-object" class="loc-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Upload contract:</label>
                        <apex:inputText styleClass="new-claim-field doc-upld-field" html-readonly="true" id="uploadFile" value="{!att.name}"/>                        
                        <div class="new-claim-doc-upld file-upload btn btn-default form-btn" style="display:{!IF(att.name !='','none;','')}">
                            <span>Browse</span>
                          <apex:inputfile filename="{!att.name}" value="{!att.body}" styleClass="form-btn new-claim-upload-doc" onchange="return chkFile(this.files[0].size,this.id,{!rowNum});" rendered="{!att.name ==''}"  /> 
                        </div>
                        <apex:commandLink action="{!deleteDocuments}" styleClass="reim-delete-expence" value="x" rendered="{!IF(OR(rowNum>0,lstAttachments.size != 1),'true','false')}" onclick="jQuery('.overley,.loading').show();">
                        <apex:param assignTo="{!attRowNum}" value="{!rowNum}" name="rowNum"/>
                    </apex:commandLink>
                    <apex:commandLink value="+" styleclass="reim-add-expence" action="{!addDocuments}"  rendered="{!IF(rowNum == lstAttachments.size -1 ,'true','false')}" onclick="return fileValidation('{!rowNum}:uploadFile');"/>
             
                        <div class="upld-field-desc">(Max 3MB)</div>
                    </div>
                    
                    <apex:variable var="rowNum" value="{!rowNum+1}"/>
                    </apex:repeat>
                </div>
                <!--right upload section end-->
                </div>
    
                        <script>
         jQuery('body').addClass('portfolio-broker-view-body-container'); 
         jQuery('.calendar-container').removeClass('new-claim-calender');
         if(jQuery('input[id$="end-date-loc"]').val().length > 0 || (jQuery('input[id$="start-date-loc"]').val().length > 0 && !jQuery('input[id$="no_enddate"]').is(':checked')))
         {
             jQuery('input[id$="end-date-loc"]').removeAttr("disabled");
         }
         else
         {
             jQuery('input[id$="end-date-loc"]').attr('disabled','disabled');
         }
         jQuery('.end-date .custom-datepicker').Zebra_DatePicker({             
              format: 'd.m.Y',
              first_day_of_week: 0              
            });
            jQuery('.custom-datepicker').data('Zebra_DatePicker');  
         jQuery('.start-date .custom-datepicker').Zebra_DatePicker({
              //direction: true,
              format: 'd.m.Y',
              first_day_of_week: 0,
              onSelect : function(){setEndDateLimit();}              
            });
            /* set date to specific format */
         jQuery(".custom-datepicker").each( function(){
             if(jQuery(this).val().length > 10 )
                {
                    var fullDate = new Date(jQuery(this).val());
                    //convert day to 2 digits                        
                      var twoDigitDay = (fullDate.getDate() > 9)? (fullDate.getDate()) : '0' + (fullDate.getDate());
                    //convert month to 2 digits
                    var twoDigitMonth = ((fullDate.getMonth()+1) >9)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
                      
                    currentDate = twoDigitDay + "." + twoDigitMonth + "." + fullDate.getFullYear();
                    
                    jQuery(this).val(currentDate.toString());
                }
            });
            jQuery('.custom-datepicker').data('Zebra_DatePicker');
             jQuery('.popup-close').click( function(){
                                        jQuery('body').removeClass('portfolio-broker-view-body-container');
                                        jQuery(this).parent().hide();
                                        jQuery('.inner-overley').hide();
                                        if (jQuery('.home-fab-sidebar-container').length > 0) {
                                            jQuery('.home-fab-sidebar-container').css({
                                                'z-index': 999999
                                            });
                                        }
                                    });
        </script>                               
                        </div> 
                </div> 
                </div>
                <div class="form-submit-section">                        
                            <apex:commandButton value="Cancel" action="{!cancel}" styleClass="form-btn" />
                            <apex:commandButton value="Submit" action="{!saveRecord}" styleClass="form-btn"  style="float:right;" onclick="return locValidation();" />
                        </div> 
            </apex:form> 
        </div> 
        </div> 
        </div> 
        </div> 
        </apex:define>
    </apex:composition>
        <apex:form >     
        <!-- Success popup msg -->
                  <apex:outputPanel id="success-popup" >
                  <apex:outputPanel rendered="{!showConfirmPopUp}">
                  <div class="inner-overley" style="display:block;z-index:9999990;">
                     <div id="contact-info-pop-container" class="global-popup global-popup-confirm" style="display:block;z-index:9999990;" >
                         <!--<div class="popup-close"></div>-->
                             <div id="contact-info-pop" class="cont-info-pop popup-infos">
                                 <div id="contact-info-pop-wrapper">
                                 <div class="popup-form-container">
                                 <div class="contact-field">
                                     <div class="pop-up-sub-title">
                                         <!-- SF-3818 -->
                                         {!$ObjectType.Confirm_PopUp__mdt.fields.ContractReviewLOCRequest__c.inlineHelpText}                                      
                                     </div>
                                     <div class="form-submit-section">
                                         <apex:commandButton value="Ok" styleClass="form-btn" oncomplete="jQuery('body').css({'overflow-y': 'scroll'});jQuery('.inner-overley,.global-popup-confirm.success-message').hide();" action="{!cancel}" reRender="success-popup,fullPopup"/>
                                     </div>
                                 </div>
                             </div>
                             </div>
                         </div>
                     </div>
                     </div>                   
                     <script>                      
                     jQuery('.popup-close').click( function(){
                     jQuery('body').css({'overflow-y': 'scroll'});
                            jQuery('body').removeClass('portfolio-broker-view-body-container');
                            jQuery(this).parent().hide();
                            //jQuery('.inner-overley').hide();
                            if (jQuery('.home-fab-sidebar-container').length > 0) {
                                jQuery('.home-fab-sidebar-container').css({
                                    'z-index': 999999
                                });
                            }
                        });
                     </script>                    
                    </apex:outputPanel>                   
                   </apex:outputPanel>
           <!-- Success popup msg -->          
           
            <apex:actionFunction name="typeRequest" action="{!sendType}" reRender="otp1,fullPopup" status="afterFinished" /> 
          <apex:actionStatus id="afterFinished" onstop="jQuery('.inner-overley,.request-change-in-terms.request-forms.global-popup').show();" />
      
               <apex:inputHidden value="{!selectedReqType}" id="requestType1"/>        
               <apex:inputHidden value="{!prvUrl}" id="hiddUrl"/>
           
        <script>         
        jQuery('body').addClass('portfolio-broker-view-body-container');
         jQuery('.contact-field').on('click focusin', function() {
            jQuery('.error-validation-msg').remove();
        });
        var uri = window.location.href;
        jQuery('input[id$="hiddUrl"]').val(uri);
        if(uri.indexOf("MyObjectDetails")>0){
            var objId = uri.substr(uri.indexOf('=')+1);
            console.log('ID-'+objId);
            if(objId !='')
            {
                jQuery('input[id$="dummy_object"]').val(objId);            
                
            }
        }
        var reqSec =jQuery('input[id$="request-form-collection"]').val();
        console.log('selected--->'+reqSec);   
        jQuery('span[id$="requestType"]').text(reqSec);
        jQuery('input[id$="requestType1"]').val(reqSec);   
        typeRequest(); 
        console.log('showConfirmPopUp 1st--->{!showConfirmPopUp}');
        console.log('objmode--- 1st>{!objmode}');
         /*Added for Global Client End */                               
            jQuery('.from-btn').click( function(){
                var checked = jQuery('select[id$="site-search:globalClient"]').val();
                var allSelectedClients='';               
                if(checked!=null){
                    jQuery.each(checked,function (index, value) {                       
                        if(index=='0'){                     
                            allSelectedClients = value; 
                        }else{                      
                            allSelectedClients = allSelectedClients + ';' + value;
                        } 
                        console.log('allSelectedClients: '+allSelectedClients);                                          
                    });                      
                }
                fetchSelectedClients(allSelectedClients);                                                                                
            });      
      </script>
       </apex:form>     
</apex:page>