<!--GardContacts PDF page-->
<apex:page controller="GardContactsController" standardStylesheets="false" applyHtmlTag="false" showHeader="false" renderAs="PDF">
    <head>
        <style type="text/CSS">
            body.address-book-print-page {
                float: left;
                margin: 0;
                padding: 0px 0; 
                width: 100%;
            }
            .address-book-print-page-container {                 
                width: 100%; 
            }    
            .headerSection {
                border-bottom: 2px solid #2d271d;
                 float: left; 
                /* padding: 10px 0; */
                width: 100%;
                display:table-cell;
            }
            .leftHeadSection{
                float: left; 
                font: 24px AvenirHeavy,Helvetica;
                 text-align: right;
                width: 80%;                
                margin:0px;
            }
            .header-right-text {
                float: right;
                width: 100%;
                font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
                font-size:13pt;
                color: #2D271D;
            }
            .gard-logo {
                float: left; 
                width:20%;              
            }
            
            @media print{
                @page {  
                    size: A4 portrait;
                    margin-top: 15mm;
                }
                .single-cont-section {
                page-break-inside: avoid;
                }
                
            }
            .single-cont-sections {
    
    float: left;
    margin: -3px 0 0;
    padding: 9px 0 0;
    width:100%;
}


.major-add-section-title {
    border-bottom: 1px solid #666;
    float: left;
    font: 20px AvenirHeavy,Helvetica;
    margin: 30px 0 20px;
    padding: 0 0 5px;
    width: 100%;
}
.company-details-type {
    /* font: 17px/14px AvenirMedium,Helvetica; */
    float: left;
    width: 100%;
}
.cont-detail-area {
    /* width: 48% !important; */
    width: 38% !important;
    float: left;
}
.company-contact-details {
    float: right;
    
    /* font: 17px/14px AvenirMedium,Helvetica; */
    /* margin: 28px 0 0; */
    margin-top: 20px;
     margin-left:2%; 
    /* padding: 0 0 0 12px; */
    /* width: 48%; */
    min-width:30%;
    max-width: 60%;
    position: relative; 
}
.contact-each-section {
    float: right;
     margin: 0 0 5px;
    width: 100%; 
    display: inline-block;
}
.contact-each-section:empty {
    display: none;
}
.contact-each-section-title {
    /* display: table-cell; 
    display: inline-block; */
    width: 25%;
    float:left;
}
.contact-each-section-data {
   /* display: table-cell;
    display: inline-block; */
    line-height: 17px;
    max-width:75%;
    min-width:30%;
    float:left;
    display: table-cell;
    line-height: 17px;
}
.contact-role-each-section-data {
   /* display: table-cell;
    display: inline-block; */
    line-height: 17px;
    max-width:95%;
    min-width:30%;
    float:left;
}
span.contact-each-section-data{
    font-family: times;
    font-size:12pt;
    color: #2D271D;
}
span.address-details{
    font-family: times;
    font-size:12pt;
    color: #2D271D;
}
.occupation {
    line-height: 17px;
    /*width:300px !important;
    max-width:300px !important;
    min-width: 300px !important;*/
    width:100% !important;
    word-break: break-all;
    /*dispaly:block;*/
    display: table-cell;
}
.com-type {
    margin-top: 10px;
}
.cont-image{
      float: left;
      width: 139px;
  }
.cont-image img {
    border: 1px solid #fff;
    box-shadow: -1px 1px 1px 0 #cac0ad;  
    width: 77px;
}
.mainTable{
  border-collapse: collapse;
  border-spacing: 0;
  }
.contact-title-section {
    font: 19px AvenirHeavy,Helvetica;
} 
.gard-add-details-section {
    float: left;
    padding: 0 15px;
    width: 97%;
}
.gard-add-dtls-left, .gard-add-dtls-right {
    float: left;
    padding-right: 20px;
    width: 47.95%;
}
.emargency-tel-title {
    font-family: AvenirHeavy,Helvetica;
    margin: 0 0 5px;
}
.bold-font {
    font-family: AvenirHeavy,Helvetica;
}
.emargency-tel-part, .emargency-tel-section, .emargency-tel-title, .add-lines {
    float: left;
    width: 100%;
}
.emargency-tel-section {
    line-height: 19px;
    margin: -2px 0 7px;
}
.tel-title, .tel-data {
    display: table-cell;
    padding: 0 0 3px;
    width: 190px;
}
.add-lines .tel-title, .add-lines .tel-data {
    padding: 0;
}
.major-add-section {  
    float: left;
    width: 100%; 
}
.add-lines .tel-title {
    font-family: AvenirHeavy,Helvetica;
}
.info-name, .content .comp-name {
    color: #2D271D;
    font-family: AvenirHeavy,Arial,Helvetica,sans-serif;
    font-size: 12pt;
    margin: 0;
}
.cont-detail-area span.topic, span.contact-each-section-title {
    font-family: AvenirHeavy, Arial, Helvetica, sans-serif;
    font-size:12pt;
    color: #2D271D;
    word-wrap: break-word;
    display: table-cell;
}
.cont-detail-area span.topic{
    margin-top: 10px;
}
.clearfix {   
      clear: both;  
    }
    
.single-cont-section {
    float: left;
    margin-bottom: 20px;
    min-height: 150px;
    width: 100%;
    page-break-inside: avoid;
}
                     

        </style>
        
    </head>
      <!-->My address book</title -->
    <body class="address-book-print-page printContent" style="background: #fff;">
        <div class="address-book-print-page-container">
        <div align="center" style="width:100%;padding-right:45%;">My address book </div>
            
            <div class="headerSection">
                <div class="gard-logo" style="margin-bottom: 6px;">
                    <img src="{!URLFOR($Resource.logo)}" width="100px;" alt="gardLogo"/>
                </div>
                <div class="leftHeadSection">
                    <span class="header-right-text"  style="margin-top: 7px;">Client contacts for</span>  
                    <span class="header-right-text"  style="margin-top: 0px;">{!selectedAccName}</span>            
                </div>        
            </div> 
      <apex:outputPanel rendered="{!NOT(OR(ISNULL(lstRoleWrapper), (lstRoleWrapper.size==0)))}" id="ClientContact-section">
            <div class="single-cont-sections">
                <apex:repeat var="contactDet" value="{!lstRoleWrapper}" >  
                <div class="single-cont-section clearfix" style="border: 1px solid #fff;">     
                       <div class="cont-detail-area clearfix">
                           <div class="info-name contact-title-section" style="">
                               {!contactDet.allContact.LastName}<span/> {!contactDet.allContact.FirstName}
                           </div>
                            <div class="company-details-type">
                                <div class="occupation" style="display:{!IF((contactDet.allContact.title == null) && (contactDet.allContact.Department == null),'none;','block;')}" ><!--Added for SF-4891-->
                                    <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department != null,true,false)}" value="{!contactDet.allContact.title}"></apex:outputText>
                                    <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department != null,true,false)}" value=", "></apex:outputText>
                                    <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department != null,true,false)}" value="{!contactDet.allContact.Department}"></apex:outputText>
                                    <apex:outputText rendered="{!IF(contactDet.allContact.title != null && contactDet.allContact.Department == null,true,false)}" value="{!contactDet.allContact.title}"></apex:outputText>
                                    <apex:outputText rendered="{!IF(contactDet.allContact.title == null && contactDet.allContact.Department != null,true,false)}" value="{!contactDet.allContact.Department}"></apex:outputText>
                                </div>
                                    <div class="occupation" style="margin-bottom: 8px;display:{!IF((contactDet.allContact.OtherStreet == null) && (contactDet.allContact.OtherCity == null),'none;','block;')}">
                                        <span class="topic">Address:</span>
                                        <span class="address-details" style="display:{!IF(contactDet.allContact.OtherStreet == null,'none;',';')}">{!contactDet.allContact.OtherStreet},</span><span class="address-details"> {!contactDet.allContact.OtherCity},</span>
                                        <span class="address-details" style="display:{!IF(contactDet.allContact.OtherState == null,'none;',';')}">{!contactDet.allContact.OtherState},</span> <span class="address-details"> {!contactDet.allContact.OtherCountry},</span>
                                        <span class="address-details" style="display:{!IF(contactDet.allContact.OtherPostalCode == null,'none;',';')}">{!contactDet.allContact.OtherPostalCode}</span>
                                    </div>
                                    <!-- Add for Contact Role SF-3902 Start -->
                                    <apex:outputPanel styleClass="info-post contact-role-each-section-data" style="float: left;margin: 5px 0 0 0 !important;width: 100%;max-width:95% !important;min-width:30% !important;display:{!IF(contactDet.allRole == null || contactDet.allRole == '','none;',';')}" rendered="{!NOT(CONTAINS(contactDet.allRole, 'null'))}" >
                                    <span class="topic" style="float: left;">Contact for :&nbsp;</span>
                                        <apex:outputText value="{!SUBSTITUTE(contactDet.allRole,";", ", ")}" escape="false" title="Contact for" rendered="{!NOT(CONTAINS(contactDet.allRole, 'null'))}" />
                                    </apex:outputPanel>   
                                    <!-- Add for Contact Role SF-3902 End -->                                  
                            </div>
                            
                        </div>
                        <div class="company-contact-details clearfix">
                            <div class="contact-each-section"><apex:outputText rendered="{!If((contactDet.allContact.OtherPhone == null || contactDet.allContact.OtherPhone == ''),false,true)}" label="Office phone" value="{!contactDet.allContact.OtherPhone}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Office phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((contactDet.allContact.MobilePhone == null || contactDet.allContact.MobilePhone == ''),false,true)}" label="Mobile phone" value="{!contactDet.allContact.MobilePhone}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Mobile phone:</span></apex:outputText></div>
                            <div class="contact-each-section"><apex:outputText rendered="{!If((contactDet.allContact.Email == null || contactDet.allContact.Email == ''),false,true)}" label="Email" value="{!contactDet.allContact.Email}" styleClass="contact-each-section-data"><span class="contact-each-section-title">Email:</span></apex:outputText></div>    
                            
                        </div> 
                </div>                                            
                </apex:repeat>
            </div>
      </apex:outputPanel> 
       </div>
    </body> 
</apex:page>