<apex:page Controller="MyEventsCtrl" contentType="application/vnd.ms-excel#MyEvents.xls" cache="true">

<div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</div>

<style>
   .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }  
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
    .text{
          mso-number-format:"\@";/*force text*/
     }  
     
</style>
    <body style="background: #fff;">      
        
        <table class="gradienttable">
            <thead>
                <tr>
                    <th><apex:outputText value="Event name"/></th>
                    <th><apex:outputText value="Status"/></th>
                    <th><apex:outputText value="Date"/></th>
                    <th><apex:outputText value="Registration link"/></th>
                    <th><apex:outputText value="Program Link"/></th>
                </tr>
            </thead>
            <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstAllEventsForExcelAndPrint}" var="events">   
                <apex:repeat value="{!events}" var="event">
                    <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                        <td>{!event.eventName}</td>
                        <td>{!event.eventMemberStatus}</td>
                        <td class="text">
                            <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                                <apex:param value="{!event.eventDate}" />
                            </apex:outputText>
                        </td> 
                        <td><apex:outputText value="{!event.eventLink}"/></td>
                        <td><apex:outputText value="{!event.programLink}"/></td>
                    </tr>
                    <apex:variable var="row_counter" value="{!row_counter + 1}"/>
                </apex:repeat>
                </apex:repeat>
                <tr>
                  <td colspan="10" style="text-align:left; background: #cccccc; font-size:10px">  
                  <span style="float:left;">My Events Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>
                  </td>
                </tr>                
            </tbody>
        </table>        
        <apex:image id="theImage" value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65" />
    </body>   
</apex:page>