<apex:page Controller="ClaimReviewCtrl" contentType="application/vnd.ms-excel#ClaimsReview.xls" readOnly="true" cache="true">
    <div>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </div>
    
<style>
    .odd-row td {
            background: rgb(210, 246, 251);
        }
    .even-row td {
            background: rgb(234, 250, 253);
        }
    .text{
              mso-number-format:"\@";/*force text*/
         }
     thead th {
            background: rgb(25, 82, 111);
            color: #fff;
            vertical-align: middle;
            width: auto;
            height: auto;
            border: thin solid black;
        }
     tbody td {
            text-align: left;
            border: thin solid black;
        }
</style>
    <body style="background: #fff;">
    <table class="gradienttable">
    <thead>
        <tr>
            <th style="width: 100px;"><apex:outputText value="Object"/></th>
            <th style="width: 100px;"><apex:outputText value="Policy year"/></th>
            <th style="width: 100px;"><apex:outputText value="Reserve $ 100%"/></th>
            <th style="width: 100px;"><apex:outputText value="Paid $ 100%"/></th>
            <th style="width: 200px;"><apex:outputText value="Total $ 100%"/></th>
            <th style="width: 100px;"><apex:outputText value="Gard claim reference"/></th>
            <th style="width: 100px;"><apex:outputText value="Client claim reference"/></th>
            <th style="width: 100px;"><apex:outputText value="Claim description"/></th>
            <th style="width: 100px;"><apex:outputText value="commented on"/></th>
            <th style="width: 100px;"><apex:outputText value="commented by"/></th>
            <th style="width: 100px;"><apex:outputText value="Last comment"/></th>
        </tr>   
        </thead>
        <tbody>
                <apex:variable var="row_counter" value="{!1}" />
                <apex:repeat value="{!lstAllClaimForExcel}" var="lst">
                <apex:repeat value="{!lst}" var="case">
                <tr class="{!IF(MOD(row_counter,2)==0,'odd-row','even-row')}">
                    <td><apex:outputText value="{!case.Object__r.Name}"/></td>
                    <td><apex:outputText value="{!case.Contract_for_Review__r.Policy_Year__c}"/></td>
                    <td>
                        <apex:outputText value="{0, number, ###,##0}">
                            <apex:param value="{!case.Reserve__c}"/>
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, ###,##0}">
                             <apex:param value="{!case.Paid__c}"/>
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, ###,##0}">
                            <apex:param value="{!case.Total__c}"/>
                        </apex:outputText>
                    </td>
                    <td><apex:outputText value="{!case.Claim_Reference_Number__c}"/></td>
                    <td><apex:outputText value="{!case.Member_reference__c}"/></td>
                    <td>
                        <apex:outputText value="{!case.Description__c}" rendered="{!AND(case.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(case.Claim_Type__c=='Crew',case.Claim_Type__c=='Passenger',case.Claim_Type__c=='Person(s) other than Crew or Passenger'),(isPeopleClaim)),NOT(OR(case.Claim_Type__c=='Crew',case.Claim_Type__c=='Passenger',case.Claim_Type__c=='Person(s) other than Crew or Passenger'))))}"/>
                        <apex:outputText rendered="{!AND(case.Contract_for_review__r.Business_Area__c != 'Marine', OR(AND(OR(case.Claim_Type__c=='Crew',case.Claim_Type__c=='Passenger',case.Claim_Type__c=='Person(s) other than Crew or Passenger'),(!isPeopleClaim))))}" value="{!case.Claim_Description_Restricted__c}" />
                        <apex:outputText rendered="{!AND(case.Contract_for_review__r.Business_Area__c == 'Marine')}" value="{!case.Claim_Description_Restricted__c}" />
                    </td>
                    <apex:repeat var="Case2" value="{!case.ClaimServiceRequests__r}">
                    <!-- comment start for SF-5141-->
                    <!--<td class="last-commented-on"> <apex:outputText value="{0,date,dd'-'MM'-'yyyy}"> <apex:param value="{!Case2.createdDate}" /> </apex:outputText> </td>-->
					<!-- comment end for SF-5141-->
                    <td >                    
                     <c:FormattedDateTime datetimeValue="{!Case2.createdDate}" datetimeFormat="dd-MM-yyyy" />
                    </td>   
                    <td class="last-commented-by"> <apex:outputText value="{!Case2.createdBy.name}" /> </td>
                    <td class="last-commented">  <apex:outputText value="{!Case2.Description}" /> </td>
                    </apex:repeat>
                    <apex:outputPanel rendered="{!If(case.ClaimServiceRequests__r.size==0,true,false)}">
                    <td  class="last-commented-on"> <apex:outputText value="" /> </td>
                    <td  class="last-commented-by"> <apex:outputText value="" /> </td>
                    <td  class="last-commented"> <apex:outputText value="" /> </td>
                    </apex:outputPanel>
                                  
                </tr>
                <apex:variable var="row_counter" value="{!row_counter + 1}"/>
            </apex:repeat>
        </apex:repeat>
             <!--Commented start for SF-5141-->
                <!--
                <tr>
                  <td colspan="11" style="text-align:left; background: #cccccc; font-size:10px">
                  <span style="float:left;">Claims Review Displaying  <strong><apex:outputText value="{!noOfData}"></apex:outputText></strong>  records on  <strong><apex:outputText value="{!GenerateTimeStamp}"></apex:outputText></strong>.</span>
                  <span style="float:right;text-align:right;">Generated on <apex:outputText value=" {!GenerateTime} by {!UserName}."></apex:outputText></span>                    
                  </td>
                </tr>-->
              <!--Commented end for SF-5141-->
            </tbody>
    </table> 
    <apex:image value="https://{!$Site.Domain}{!URLFOR($Resource.logo)}" width="132" height="65"/>
    </body>    
</apex:page>