<apex:page controller="MultipleCompanyCtrl" showHeader="false" sidebar="false" action="{!checkIfMultiCompany }"> 
 
   <!-- New Theme CSS Add Start -->
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/bootstrap.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/bootstrap-select.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/bootstrap-multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/custom-scroll-jquery.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/default.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/style.css')}"/>

<!--<apex:stylesheet value="https://fast.fonts.net/cssapi/7ab9af04-f7c6-4b52-8132-18c325683e91.css"/>  -->
<!-- New Theme CSS Add End -->

<!-- New Theme Script Add Start -->
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-min.1.11.1.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-ui.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery.mousewheel-3.0.6.min.js')}" />
<!--<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/bootstrap.min.js')}" />-->
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/bootstrap.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/bootstrap-multiselect.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/bootstrap-select.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/custom-scroll-jquery.js')}" />
<!--<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery.MultiFile.js')}" />-->
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/zebra_datepicker.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/custom.js')}" />
<!-- New Theme Script Add End--> 
    <script>
 /* function checkCancel(){
        var oldURL = document.referrer;
    var findme = 'mygard';
        if(oldURL.indexOf(findme) > -1)
        {
            redirect = true;
        }
        else{
            redirect = false;
        }
        console.log('before call server----'+redirect);
        callServer(redirect);
    }*/
                              
 </script>
  <script>
       function validationPageCompany(){
            jQuery(".error-validation-msg").remove(); 
            
            var selectedClient = jQuery('select[id$="multicompany-select-company"]').val();
             if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
                    var msgError = '<div class="error-validation-msg">Please select company.</div>';                  
                    jQuery('select[id$="multicompany-select-company"]').next().after(msgError);                 
                    return false;
                }
                else{
                   /* jQuery('body').css({'overflow-y': 'scroll'});*/
                    return true;
                    }
            }
  </script> 
    <!--added for multi company starts-->
    <apex:form id="multiCompFrm"> 
    <apex:actionFunction action="{!cancel}" name="callServer" >
        <apex:param assignTo="{!redirect}" value="" name="redirect"/>
    </apex:actionFunction>  
    <!-- Added by Anju  -->
       <apex:outputPanel rendered="{!checkMultiLogin}" id="multiLogin"> 
                <div class="header-container">
                    <div id="header">
                        <!-- Site logo section starts -->
                        <div id="header-section">
                            <div id="project-logo"><a href="http://www.gard.no/" target="_blank"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/logo.png')}" /></a></div>
                        </div>
                        <!-- Site logo section ends -->
                    </div>
                </div>
               <div class="overley" style="display: block;floating:center;" >              
                            <div id="contact-info-pop11"  style="padding:25% 35% 35%">                           
                                     <div id="contact-info-pop-wrapper11">                                    
                                     <div class="popup-form-container">
                                     <div class="contact-field">
                                         <div class="pop-up-sub-title">
                                          The user is already logged in to the Community                                           
                                        </div>
                                        <div class="form-submit-section">
                                           <apex:commandButton value="Ok" action="{!RedirectedToMultiCompany}" reRender="multiCompFrm,MultiCompPopup" styleClass="form-btn" style="margin-left: 162px !important;"/>
                                        </div>  
                                    </div>
                                 </div>
                              </div>
                             </div>
                            </div>
            </apex:outputPanel>
          
    <!-- Added by Anju --> 
        <apex:outputPanel rendered="{!showMultiCompPopup}" id="MultiCompPopup" >
        <body class="home-page-body">
        <!-- Header section starts -->
                <div class="header-container">
                    <div id="header">
                        <!-- Site logo section starts -->
                        <div id="header-section">
                            <div id="project-logo"><a href="http://www.gard.no/" target="_blank"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/logo.png')}" /></a></div>
                        </div>
                        <!-- Site logo section ends -->
                    </div>
                </div>
            <!-- Header section end-->
        <div class="overley" style="display: block;">   
            <div class="home-page-feedback-popup company-selection-section" style="display: block;">
                <div class="popup-infos">
                    <div class="feedback-info-pop-wrapper">
                        <div class="pop-up-title">Select company to login</div>
                        <div class="popup-form-container">                           
                                <div class="field-secions">
                           
                             <div class="select-wrapper">                                
                               <apex:selectList value="{!selectedACMWrapperId}" multiselect="false" size="1" styleClass="selectpicker" id="multicompany-select-company" title="Select company">
                                       <apex:selectOptions value="{!lstCompany}"/>
                                       <apex:selectOptions value="{!lstCompany2}"/> 
                                </apex:selectList>
                            </div>
                            <script>
                                    //added for SF-4692 STARTS
                                    setTimeout(function(){
                                            console.log('onload run');
                                            var company = jQuery('.filter-option').text();
                                            var str = ";";
                                            if(company.indexOf(str) != -1){
                                                console.log(str + " found");
                                                console.log('old text - '+company);
                                                company = company.replace(str, str+' ');
                                                console.log('new text - '+company);
                                                jQuery('.filter-option').text(company);
                                            }
                                    },100);
                                    //added for SF-4692 ENDS
                                    
                               /* Controls the search by option popup for the single pick-list */
                                    
                                    jQuery('.company-selection-section .select-wrapper .selectpicker').selectpicker({
                                        noneResultsText: 'No match found!',
                                        liveSearch: true,
                                        searchAccentInsensitive: false
                                    });  
                                    
                                    jQuery('.company-selection-section .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                        //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                        //alert(jQuery(this).next().children().find('li.selected').length);
                                        if (jQuery(this).next().children().find('li.selected').length != 0) {
                                            //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                        }
                                    });
                                    /* Deselect any selection while choosong any picklist */
                                    jQuery('.company-selection-section .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                        document.getSelection().removeAllRanges();
                                    });
                                    /* Deselect any selection while choosong any picklist */
                            
                                /* Default search by any word selection for the pick-list search option */
                                    var incrementer = 1;
                                    jQuery('.company-selection-section .select-wrapper .search-by-option-container').each( function(){
                                        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                        jQuery(this).html(searchOptions);
                                        incrementer++;
                                    });
                                    /* Default search by any word selection for the pick-list search option */
                                
                                    
                                    /* Controls the opening/closing feature for the search by popup. */
                                    jQuery('.company-selection-section .select-wrapper .search-by-icon-button').click( function(){
                                        jQuery(this).children().show();
                                    });
                                    var searchByElement = jQuery('.company-selection-section .select-wrapper .search-by-icon-button');
                                    jQuery(document).bind('mouseup', function (e){
                                        if (searchByElement.has(e.target).length === 0) {
                                            jQuery(searchByElement).children().hide();
                                        }
                                    });
                                    /* Controls the opening/closing feature for the search by popup. */
                                
                                    /* Controls the search by option popup for the single pick-list */
                                    jQuery('.company-selection-section .select-wrapper .bs-searchbox').each( function(){
                                        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                        jQuery(this).append(searchOptions);
                                        incrementer++;
                                    });
                                    jQuery('.company-selection-section .select-wrapper .bs-searchbox .search-by-icon-button').click( function(e){
                                        e.stopPropagation();
                                        jQuery(this).children().show();
                                    });
                                    var searchByElementSingle = jQuery('.company-selection-section .select-wrapper .bs-searchbox .search-by-icon-button');
                                    jQuery(document).bind('mousedown', function (e){
                                        if (searchByElementSingle.has(e.target).length === 0) {
                                            jQuery(searchByElementSingle).children().hide();
                                        }
                                    });   
                                /* Controls the HOME page company chossing dropdown custom option */
                            jQuery('.company-selection-section .select-wrapper ul.dropdown-menu li a span.text').each( function(){
                            var tThisText = jQuery(this).html();
                            if (tThisText.indexOf(';') > -1) {
                                var splittedtThisText = tThisText.split(';');
                                console.log(splittedtThisText);                                
                                var singleSelOptn = splittedtThisText[0];
                                if(splittedtThisText.length>2)
                                {
                                    singleSelOptn = splittedtThisText[0] + splittedtThisText[1];                                    
                                    splittedtThisText[1] = splittedtThisText[2];                                    
                                }
                                    if (singleSelOptn.length > 35) {
                                        jQuery(this).parent('a').addClass('selectpicker-long-option');
                                        jQuery(this).parent('a').attr('alt', singleSelOptn);
                                        singleSelOptn = singleSelOptn.substring(0, 33) + '...';
                                    }
                                splittedtThisText[0] =  singleSelOptn;  
                                var newtHisText = splittedtThisText[0] + '<span class="sub-place">' + splittedtThisText[1] + '</span>';
                                var newtHisValue = splittedtThisText[0] + '; ' + splittedtThisText[1];
                                jQuery(this).html(newtHisText);
                                jQuery(this).parent().attr('data-normalized-text', newtHisValue);
                            }
                        });
                        jQuery('.company-selection-section .select-wrapper select option').each( function(){
                            var tThisText = jQuery(this).html();
                            if (tThisText.indexOf(';') > -1) {
                                var splittedtThisText = tThisText.split(';');
                                var newtHisValue = splittedtThisText[0] + '; ' + splittedtThisText[1];//', ' changed to '; ' for SF-4692
                                if(splittedtThisText.length>2)
                                {
                                    newtHisValue = splittedtThisText[0]+ splittedtThisText[1] + '; ' + splittedtThisText[2];//', ' changed to '; ' for SF-4692
                                }
                                jQuery(this).html(newtHisValue);
                            }
                        });
                            /* Controls the HOME page company chossing dropdown custom option */
     
                                    jQuery(".company-selection-section .select-wrapper .dropdown-menu.open ul").mCustomScrollbar({
                                       mouseWheelPixels: 20,
                                        autoHideScrollbar: true,
                                        scrollEasing: "linear",
                                        scrollInertia: 0
                                    });
                            /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                            jQuery('.mCSB_draggerContainer').click( function(e){
                                    e.stopPropagation();
                                    });
                                     
                                   /* jQuery('.company-selection-section .select-wrapper button.dropdown-toggle.selectpicker').each( function(){             
                                                        var emailText = jQuery.trim(jQuery(this).text());
                                                        if (emailText.length > 28) {
                                                                        jQuery(this).parent().addClass('selectpicker-long-option');
                                                                        jQuery(this).parent().attr('alt', emailText);
                                                                        jQuery(this).html(emailText.substring(0, 26) + '...');
                                                        }
                                                        else {
                                                                        jQuery(this).parent().removeClass('selectpicker-long-option');
                                                                        jQuery(this).html(emailText);
                                                        }
                                            });
                                            jQuery('.company-selection-section .select-wrapper button.dropdown-toggle.selectpicker').mouseenter( function(){
                                                if (jQuery(this).hasClass('selectpicker-long-option')) {
                                                    if(jQuery(this).attr('alt')) {
                                                        jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                                    }
                                                }
                                            })
                                            jQuery('.company-selection-section .select-wrapper button.dropdown-toggle.selectpicker').mouseleave( function(){
                                                jQuery('.custom-tooltip').remove();
                                            })*/
                               
                            </script>
                            <div class="form-submit-section">  
                                <apex:commandButton action="{!setCompanyForMultiple}" value="Continue" styleClass="form-btn" onclick="return validationPageCompany();"/>
                                <apex:outputPanel rendered="{!(renderCondn=='dontrender')}">
                                    <apex:commandButton action="{!cancel}" value="Cancel" styleClass="form-btn popup-form-cancel"/> 
                                </apex:outputPanel>  
                                <apex:outputPanel rendered="{!(renderCondn=='render')}">
                                    <apex:commandButton value="Cancel" styleClass="form-btn popup-form-cancel" onclick="history.back();return false;"/> 
                                </apex:outputPanel>                              
                            </div>
                         </div>                           
                        </div>
                    </div>
                </div>
            </div>
         </div>
        
         <div id="footer" style="display:none;" class="footer-container"></div>           
         </body>              
        </apex:outputPanel>
    </apex:form>    
    <!--added for multi company ends-->  
</apex:page>