<apex:page controller="PEMEClinicClientDetailsCtrl" showHeader="false" sidebar="false" action="{!loadData}">
<style>
.peme-clinic-client-address-detail-container .comp-name {
    margin: 10px 0px !important;
}
.content .my-info-sections .info-details {
    font-family: AvenirMedium,Helvetica;
    font-size: 13px;
}
.company-info .visiting-address {
    margin-top: 10px;
}
.cont-details-each {
    float: left;
    margin: 10px 0px 0px;
    width: 100%;
}
.my-info-content-section .info-tel {
    margin: 6px 0px 2px;
}
.cont-details-each .info-email {
    background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/claimer-detail-icons.png')}") no-repeat scroll left -55px;
    height: 26px;
    margin-top: 0px;
    padding-left: 25px;
}
</style>

  <apex:composition template="PageFrame" >
  <apex:define name="content">
  <apex:form >
  <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper report-a-new-claim peme-clinic-client-details-page">
                    <div class="page-title">PEME: {!clientName}</div>

                    <div class="tab-section-container">
                        <div class="tab-button-section">
                            <div class="peme-clinic-client-details-manning-agent single-tab deselected"><apex:outputLink value="/apex/PEMEClinicManningAgents?client={!selectedClient}">Manning agents</apex:outputLink></div>
                            <div class="peme-clinic-client-details-vessels single-tab deselected"><apex:outputLink value="/apex/PEMEClinicClientDetails?client={!selectedClient}">Objects</apex:outputLink></div>
                            <div class="peme-clinic-client-details-address single-tab selected"><apex:outputLink value="/apex/PEMEClinicClientAddress?client={!selectedClient}">Member information</apex:outputLink><div class="update-cover-wrapper-activated" style="display:block;"></div></div>
                        </div>

                        <div class="tab-details-section gard-contact my-addressbook-container peme-tabs">
                            <div class="tab-detail-columns">
                                                              
                                <!-- Address Section Starts -->
                                <div class="tab-grad-cont-section my-info-container-holder tab-detail-container peme-clinic-client-address-detail-container">
                                    <div class="form-field-scrol-container free-content-area">
                                        <div class="my-info-sections company-info">
                                            <div class="info-details">
                                                <div class="comp-name">{!clientName}</div>
                                                
                                                <div class="first-add"><div class="postal-add">Postal Address: </div>
                                                <apex:outputpanel rendered="{!objAcc.Billing_Street_Address_Line_1__c!=null}">{!objAcc.Billing_Street_Address_Line_1__c},</apex:outputpanel> 
                                                <apex:outputpanel rendered="{!objAcc.Billing_Street_Address_Line_2__c!=null}"> {!objAcc.Billing_Street_Address_Line_2__c},</apex:outputpanel> 
                                                <apex:outputpanel rendered="{!objAcc.Billing_Street_Address_Line_3__c!=null}"> {!objAcc.Billing_Street_Address_Line_3__c},</apex:outputpanel> 
                                                <apex:outputpanel rendered="{!objAcc.Billing_Street_Address_Line_4__c!=null}"> {!objAcc.Billing_Street_Address_Line_4__c},</apex:outputpanel>
                                                </div>
                                                <div class="last-add">
                                                <apex:outputpanel rendered="{!objAcc.BillingCity__c!=null}">{!objAcc.BillingCity__c}</apex:outputpanel>
                                                <apex:outputpanel rendered="{!objAcc.BillingPostalcode__c!=null}"> {!objAcc.BillingPostalcode__c}</apex:outputpanel>
                                                <apex:outputpanel rendered="{!objAcc.BillingState__c!=null}">, {!objAcc.BillingState__c}</apex:outputpanel>
                                                <apex:outputpanel rendered="{!objAcc.BillingCountry__c!=null}">, {!objAcc.BillingCountry__c}</apex:outputpanel>
                                                 </div>

                                                <div class="first-add visiting-address"><div class="postal-add">Visiting Address: </div>
                                                <apex:outputpanel rendered="{!objAcc.Shipping_Street_Address_Line_1__c!=null}">{!objAcc.Shipping_Street_Address_Line_1__c},</apex:outputpanel> 
                                                <apex:outputpanel rendered="{!objAcc.Shipping_Street_Address_Line_2__c!=null}"> {!objAcc.Shipping_Street_Address_Line_2__c},</apex:outputpanel> 
                                                <apex:outputpanel rendered="{!objAcc.Shipping_Street_Address_Line_3__c!=null}"> {!objAcc.Shipping_Street_Address_Line_3__c},</apex:outputpanel> 
                                                <apex:outputpanel rendered="{!objAcc.Shipping_Street_Address_Line_4__c!=null}"> {!objAcc.Shipping_Street_Address_Line_4__c},</apex:outputpanel>
                                                </div>
                                                <div class="last-add">
                                                <apex:outputpanel rendered="{!objAcc.ShippingCity__c!=null}">{!objAcc.ShippingCity__c}</apex:outputpanel>
                                                <apex:outputpanel rendered="{!objAcc.ShippingPostalCode__c!=null}"> {!objAcc.ShippingPostalCode__c}</apex:outputpanel>
                                                <apex:outputpanel rendered="{!objAcc.ShippingState__c!=null}">, {!objAcc.ShippingState__c}</apex:outputpanel>
                                                <apex:outputpanel rendered="{!objAcc.ShippingCountry__c!=null}">, {!objAcc.ShippingCountry__c}</apex:outputpanel>
                                                </div>

                                                <div class="cont-details-each my-info-content-section">
                                                    <div class="info-tel" x-ms-format-detection="none">{!objAcc.Phone}&nbsp;</div>
                                                    <div class="info-tel mobile-phone" x-ms-format-detection="none">{!objAcc.Mobile_Phone_1__c}&nbsp;</div>
                                                    <div class="info-tel mobile fax" x-ms-format-detection="none">{!objAcc.Fax}&nbsp;</div>
                                                    <div class="info-email"><a href="mailto:{!objAcc.Corporate_email__c}">{!objAcc.Corporate_email__c}&nbsp; </a></div>
                                                    <div class="website"><a href="http://{!objAcc.Website}" target="_blank">{!objAcc.Website}&nbsp;</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Address Section Ends -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content section ends -->
  </apex:form>
  </apex:define>
  </apex:composition>
  <script>
  jQuery(document).ready(function(){
  jQuery('.multiselect').multiselect({
                                includeSelectAllOption: true,
                                nonSelectedText: '',
                                selectAllText: '<span>Check all</span>',
                                enableFiltering: true,
                                disableIfEmpty: true,
                                filterBehavior: 'text',
                                enableCaseInsensitiveFiltering: true,
                                label: function(element) {
                                                var optionStr = jQuery(element).text();
                                                optionStr = jQuery.trim(optionStr);
                                                if (jQuery(element).parents('.request-forms').length > 0) {
                                                                if (optionStr.length > 25) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 24) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                                if (jQuery(element).parents('.claim-details-document-type-filter').length > 0) {
                                                                if (optionStr.length > 25) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 23) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                                else {
                                                                if (optionStr.length > 19) {
                                                                                return '<span class="select-options" alt="' + optionStr + '">' + optionStr.substring(0, 18) + '...' + '</span>';
                                                                }
                                                                else {
                                                                                return '<span class="select-options">' + optionStr + '</span>';
                                                                }
                                                }
                                },
                                buttonText: function(options, select) {
                                                if (options.length == 0) {
                                                                if (select.parent().parent().hasClass('global-user-select-wrapper-section')) {
                                                                                return ' <span>Select client</span>';
                                                                }
                                                                else {
                                                                                return ' <b class="caret"></b>';
                                                                }
                                                }
                                                else {
                                                                if (options.length == 1) {
                                                                                var labels = [];
                                                                                options.each(function() {
                                                                                                if (jQuery(this).attr('label') !== undefined) {
                                                                                                                labels.push(jQuery(this).attr('label'));
                                                                                                }
                                                                                                else {
                                                                                                                var btnstr = jQuery(this).html();
                                                                                                                if (select.parent().parent().hasClass('claim-details-document-type-filter')) {
                                                                                                                                if (btnstr.length > 28) {
                                                                                                                                                labels.push(btnstr.substring(0, 26) + '...');
                                                                                                                                }
                                                                                                                                else {
                                                                                                                                                labels.push(btnstr);
                                                                                                                                }
                                                                                                                }
                                                                                                                else {
                                                                                                                                if (btnstr.length > 18) {
                                                                                                                                                labels.push(btnstr.substring(0, 18) + '...');
                                                                                                                                }
                                                                                                                                else {
                                                                                                                                                labels.push(btnstr);
                                                                                                                                }
                                                                                                                }
                                                                                                }
                                                                                });
                                                                                return '<span>' + labels + '</span>';
                                                                }
                                                                else {
                                                                                if (options.length > 1) {
                                                                                                return '<span>Multi</span> <b class="caret"></b>';
                                                                                }
                                                                }
                                                }
                                }
                });           
                /* Multiselect custom dropdown for the header global drop down */

                /* jQuery multiselect popup custom scroll bar */
                jQuery(".select-wrapper .btn-group ul.multiselect-container, .dropdown-menu.open ul").mCustomScrollbar({
                                mouseWheelPixels: 20,
                                scrollEasing: "linear",
                                scrollInertia: 0
                });
  });
</script>
<script>
/* Controls My Info website trimming */
jQuery(document).ready(function(){
if (jQuery('.website > a').text().length > 57) {
    var singleSelOptn = jQuery('.website > a').text();
    jQuery('.website > a').addClass('selectpicker-long-option');
    jQuery('.website > a').attr('alt', singleSelOptn);
    jQuery('.website > a').html(singleSelOptn.substring(0, 57) + '...');
}
});
/* Controls My Info website trimming */
</script>
</apex:page>