<apex:page controller="SearchGard" tabStyle="case" sidebar="false" showHeader="false" standardStylesheets="true" >
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>
<apex:stylesheet value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/css/style.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/jquery-min.1.11.1.js')}" />
<apex:includeScript value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/js/custom.js')}" />
<style type="text/css">

.individualPalette .caseBlock .tertiaryPalette{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
body .bPageBlock, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock{
    background-color: #FFF !important;
}
.individualPalette .caseBlock .secondaryPalette{
    background-color: #19BDE1;
    border-color: #19BDE1;
}
body .bPageBlock .detailList tr td{
    border-color: #FFF; 
}
body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th{
    background: none repeat scroll 0 0 #003f5f;
    border: 1px solid #fff;
    border-bottom: none;    
    padding: 12px 5px 7px 4px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;   
   /* outline: 1px solid #8fdff1;*/
    vertical-align: top;
}
.apexp .detailList .list td, .apexp .detailList .list th, .apexp .editPage .bPageBlock .detailList .list tr td, .apexp .editPage .bPageBlock .detailList .list tr th{
    border-bottom:none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;  
    
}
.even{
    background: none repeat scroll 0 0 #D2F6FB !important;
}
.odd{
    background: none repeat scroll 0 0 #eafafd !important;
}
body .pbBody table.list tr.dataRow th, body .pbBody table.list tr.dataRow td {
    border-width: 0 0 1px 0;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
.pbBody table.list tr.dataRow.highlight td {
    background-color: rgba(0, 0, 0, 0) !important;
}
tr.even {
    background: #daf5fb none repeat scroll 0 0 !important;
}
tr.odd {
    background: #edf9fc none repeat scroll 0 0 !important;
}
.pbBody table.list tr.dataRow td {
    border: 1px #fff solid !important;
    border-right: none !important;
}
.apexp .detailList .list .headerRow th {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-bottom: 1px solid #fff !important;
    padding: 0;
}
.apexp .detailList .list .headerRow th > div {
    background: #003f5f none repeat scroll 0 0;
    padding: 10px 0 10px 7px;
}
.apexp .detailList .list .headerRow th:last-child > div {
    border-right: 1px solid #003f5f;
}
table.detailList > tbody > tr > td.first.last {
    border: 1px solid #8fdff1 !important;
    padding: 1px 2px;
}
table tbody tr td:last-child {
    background-image: none !important;
}
tbody::before {
    content: none;
    height: 0;
}
table.detailList {
    margin-top: 10px !important;
}
.pbBody > div[id$="results_from_outside"] {
    padding: 0 6px 4px 6px;
}
table.detailList > tbody > tr > .dataCol.first.last {
    border: medium none !important;
}
table, th, td {
    cursor: default;
}
.overall-search-container {
    margin: 0 auto;
    width: 1170px;
}
.search-page-title {
    color: #584e3c;
    float: left;
    font-family: "Neo Sans W01",Helvetica,sans-serif;
    font-size: 24px;
    margin: -3px 10px -2px -2px;
    position: relative;
    width: 100%;
}
.overall-search-container .bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border: medium none;
}
.hideListButton {
    background: url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/default-accrodion-opener-ison.png')}") no-repeat scroll 0 0 transparent !important;
    height: 26px !important;
    left: -13px;
    position: absolute;
    top: 8px;
    width: 26px !important;
    outline: 0 none;
    border: 0;
}
.showListButton {
    background: url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/default-accrodion-closer-ison.png')}") no-repeat scroll 0 0 transparent !important;
    height: 26px !important;
    left: -13px;
    position: absolute;
    top: 8px;
    width: 26px !important;
    outline: 0 none;
    border: 0;
}
h2.mainTitle {
    background: transparent url("{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/new-claim-right-title-icon.png')}") no-repeat scroll 0 0;
    color: #003f5f !important;
    cursor: default;
    font: 14px Neo Sans W01 Medium !important;
    margin: 5px 0 7px !important;
    padding: 1px 0 0 22px !important;
}
.pbBody table.list {
    border: medium none !important;
}
.pbBody > div {
    background: #fbfbfa none repeat scroll 0 0;
    border: 1px solid #dccbb1;
    border-radius: 3px;
    float: left;
    margin: 0 0 10px 10px;
    padding: 7px 16px 16px;
    position: relative;
    width: 100%;
}
body .bPageBlock .pbBody .pbSubheader {
    padding: 6px 0 1px;
}
.pbSubheader {
    margin-top: 0 !important;
}
.pbSubheader > h3 {
    color: #2d271d;
    font: 14px AvenirHeavy,Helvetica !important;
}
.result-not-found {
    color: #e33000;
    font: 14px AvenirHeavy,Helvetica !important;
}
.pbBody a {
    color: #008faf !important;
    font: 14px AvenirHeavy,Helvetica;
}
.pbBody a:hover {
    color: #00b6de !important;
}
.bPageBlock .detailList tr td {
    border-color: rgba(0, 0, 0, 0) !important;
}
.caseBlock {
    margin-left: -13px !important;
}

.free-content-area {
    float: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
            thead {
            display: table-header-group;
        }
    }
</style>

<script>
    jQuery(document).ready( function(){
        var onLoadWindHeight = jQuery(window).height();
        var flexiFreeContainerHeight = (onLoadWindHeight);
        jQuery('.free-content-area').css('min-height', flexiFreeContainerHeight);
        jQuery(window).resize(function(){
            var dynamicWindowHeight = jQuery(window).height();
            var dynamicflexiContainerHeight = (dynamicWindowHeight);
            jQuery('.free-content-area').css('min-height', dynamicflexiContainerHeight);
            mainMenuHeightAdjust();
        });
        gardNoSearch();
        caseSearch();
        serviceReqSearch();
        assetSearch();
        gardContactSearch();
        objectSearch();
        contactSearch();
        pemeSearch();
        
    });
    function mainMenuHeightAdjust() {
        var scrollingFooterHeight = jQuery('#footer').offset().top;
        var windowRelTop = jQuery(window).scrollTop();
        var menuPos = scrollingFooterHeight - windowRelTop - 1;
        jQuery('.floating-main-menu-container').height(menuPos);
    }
    <!--SF-4987 - 'type' argument introduced to separate Claim and ServiceRequest as these are using SObject Case-->
    function showCaseDetails(id,sObject,type){
        console.log('val---->'+type);
        jQuery('[id$="param"]').val(id);
        if(sObject === 'Case' && type=='Claim'){
        showCase();
        }
        else if(sObject === 'Case' && type=='ServiceRequest'){
        showRequestDetail();
        }
        else if(sObject === 'Contact' && type=='Contact')
        showContact();
        else if(sObject === 'Object' && type=='Object')
        showObject();
        else if(sObject === 'GardContact' && type=='GardContact')
        showGardContact();
        else if(sObject === 'Asset' && type=='Asset')
        showAsset();
        else if(sObject === 'PemeInvoice' && type=='PemeInvoice') <!-- 4274 -->
        showPemeInvoice(); <!-- 4274 -->
    }
</script>
<apex:composition template="PageFrame" >
        <apex:define name="content" >
   <apex:form >
   <apex:inputHidden id="param" value="{!Identifier}"/>
   <div class="content">
            <div class="content-wrapper portfolio-content-area"> 
  
      <div class="overall-search-container free-content-area" style="min-height:450px !important;">
          <div class="search-page-title">Search results</div>  
     
     <!-- This outputText will be printed when no result found from total search -->
     <apex:outputText style="font-style: italic; font-weight: bold; " value="{!noRsltFndFrmTotalSrch}" rendered="{!NOT(ISNULL(noRsltFndFrmTotalSrch))}"/>
     
             
     
      <!--from inside of Salesforce -->
     <apex:pageBlock title="Results from MyGard with '{!forMsg}' text" id="block">
                
         <apex:pageBlockSection title="Gard contacts" columns="1" id="contact_gard_block"><!-- rendered="{!NOT(OR(ISNULL(lstGrdCont),(lstGrdCont.size==0)))}"-->             
              <apex:outputPanel rendered="{!!isDoneGardContact}">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!AND(isDoneGardContact,lstGrdCont.size>0)}">
            <script>console.log('lstGrdCont---{!lstGrdCont}');</script>
           <apex:pageBlockTable value="{!lstGrdCont}" var="rslt">            
                  <apex:column headerValue="Gard contact name">
                      
                     <!-- <apex:commandLink value="{!rslt.FirstName__c} {!rslt.LastName__c}" action="{!GrdContRetriver}" style="color:#009FC2">
                          <apex:param value="{!rslt.Id}" assignTo="{!Identifier}" name="Identifier"/>
                      </apex:commandLink> -->
                      <apex:outputLink value="javaScript:showCaseDetails('{!rslt.Id}','GardContact','GardContact');" id="gardcontactlink" style="color:#009FC2" >{!rslt.FirstName__c} {!rslt.LastName__c}</apex:outputLink>
                 </apex:column> 
                 
                  <apex:column headerValue="Title" value="{!rslt.Title__c}"/> 
                  <apex:column headerValue="Email id" value="{!rslt.Email__c}"/>
                  <apex:column headerValue="Phone no" value="{!rslt.Phone__c}"/>
            </apex:pageBlockTable>
            </apex:outputPanel> 
           <apex:outputPanel rendered="{!AND(isDoneGardContact,lstGrdCont.size==0)}">
            No result found  <script>jQuery('[id$="contact_gard_block"]').remove();</script>
            </apex:outputPanel>     
         </apex:pageBlockSection>
         
         <apex:pageBlockSection title="Contacts" columns="1" id="contact_block"><!-- rendered="{!NOT(OR(ISNULL(resultContactList),(resultContactList.size==0)))}" -->      
            <apex:outputPanel rendered="{!!isDoneContact}">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!AND(isDoneContact,resultContactList.size>0)}">
            <apex:pageBlockTable value="{!resultContactList}" var="rslt">            
                  <apex:column headerValue="Account name">                    
                      <!--<apex:commandLink value="{!rslt.Account.name}" action="{!contactRetriver}" style="color:#009FC2" >
                          <apex:param value="{!rslt.AccountId}" assignTo="{!Identifier}" name="Identifier"/>
                      </apex:commandLink>--> 
                      <apex:outputLink value="javaScript:showCaseDetails('{!rslt.AccountId}','Contact','Contact');" id="contactlink" style="color:#009FC2" >{!rslt.Account.name}</apex:outputLink>
                  </apex:column> 
                  <apex:column headerValue="Contact name" value="{!rslt.Firstname} {!rslt.Lastname}"/>
                  <apex:column headerValue="Mobile no" value="{!rslt.MobilePhone}"/>
                  <apex:column headerValue="Email id" value="{!rslt.email}"/>
            </apex:pageBlockTable> 
            </apex:outputPanel>
            <apex:outputPanel rendered="{!AND(isDoneContact,resultContactList.size==0)}">
              No result found  <script>jQuery('[id$="contact_block"]').remove();</script>
            </apex:outputPanel>          
         </apex:pageBlockSection>
                     
         <apex:pageBlockSection title="Objects" columns="1" id="object_block" ><!-- rendered="{!NOT(OR(ISNULL(objectLst),(objectLst.size==0)))}" --> 
            <apex:outputPanel rendered="{!!isDoneObject}">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>   
            <apex:outputPanel rendered="{!AND(isDoneObject,objectLst.size>0)}">                  
            <apex:pageBlockTable value="{!objectLst}" var="rslt"> 
                  <apex:column headerValue="Object name">                       
                     <!--<apex:commandLink value="{!rslt.Object__r.Name}" action="{!viewObject}" style="color:#009FC2">
                          <apex:param value="{!rslt.Object__c}" assignTo="{!Identifier}" name="Identifier"/>
                      </apex:commandLink>-->
                      <apex:outputLink value="javaScript:showCaseDetails('{!rslt.Object__c}','Object','Object');" id="contactlink" style="color:#009FC2" >{!rslt.Object__r.Name}</apex:outputLink>                                         
                  </apex:column>
                  <apex:column headerValue="Cover" value="{!rslt.Product_Name__c}"/>
                   <apex:column headerValue="IMO/Lloyds no." value="{!rslt.Object__r.Imo_Lloyds_No__c}"/>
                  <apex:column headerValue="Object type" value="{!rslt.Object__r.Object_Type__c}"/>    
                  <apex:column headerValue="Sub object type" value="{!rslt.Object__r.Object_Sub_Type__c}"/>                 
            </apex:pageBlockTable> 
            </apex:outputPanel>
            <apex:outputPanel rendered="{!AND(isDoneObject,objectLst.size==0)}"> 
                No result found  
                <script>jQuery('[id$="object_block"]').remove();</script>
            </apex:outputPanel>  
         </apex:pageBlockSection>    
        
        <apex:pageBlockSection title="Covers" columns="1" id="asset_block" > <!-- rendered="{!NOT(OR(ISNULL(AssetLst),(AssetLst.size==0)))}"-->
               <apex:outputPanel rendered="{!!isDoneAsset }">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>   
            <apex:outputPanel rendered="{!AND(isDoneAsset,AssetLst.size>0)}">         
            <apex:pageBlockTable value="{!AssetLst}" var="rslt">            
                  <apex:column headerValue="Cover name">
                      <!--<apex:commandLink value="{!rslt.Product_Name__c}" action="{!assetRetriver}" style="color:#009FC2">
                          <apex:param value="{!rslt.Id}" assignTo="{!Identifier}" name="Identifier"/>
                      </apex:commandLink> -->
                      <apex:outputLink value="javaScript:showCaseDetails('{!rslt.Id}','Asset','Asset');" id="assetlink" style="color:#009FC2" >{!rslt.Product_Name__c}</apex:outputLink>                                         
                  </apex:column>
                   <!-- apex:column headerValue="Risk Id">
                  {!rslt.Id}
                  </apex:column>
                  <apex:column headerValue="Risk Indicator">
                  {!rslt.On_risk_indicator__c}
                  </apex:column> -->
                  <apex:column headerValue="Client">
                        <apex:outputText value="{!rslt.Agreement__r.Client__r.Name}">
                           
                        </apex:outputText>                      
                  </apex:column> 
                 
                  <apex:column headerValue="Business area" value="{!rslt.Agreement__r.Business_Area__c}"/> 
                  <apex:column headerValue="Expiry date">
                      <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!rslt.Expiration_Date__c}" />
                        </apex:outputText>
                  </apex:column>
                  <apex:column headerValue="Policy year" value="{!rslt.Agreement__r.Policy_Year__c}"/>
            </apex:pageBlockTable> 
          </apex:outputPanel>
          <apex:outputPanel rendered="{!AND(isDoneAsset,AssetLst.size==0)}">    
           No result found  <script>jQuery('[id$="asset_block"]').remove();</script>
          </apex:outputPanel>           
         </apex:pageBlockSection>      
                
        <apex:pageBlockSection title="Claims" columns="1" id="case_block"><!-- rendered="{!NOT(OR(ISNULL(claimLst),(claimLst.size==0)))}"-->  
        <apex:outputPanel rendered="{!!isDoneCase}">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>   
         <apex:outputPanel rendered="{!AND(isDoneCase,claimLst.size>0)}">          
            <apex:pageBlockTable value="{!claimLst}" var="rslt">            
                  <apex:column headerValue="Gard ref no.">
                      <!-- <apex:commandLink value="{!rslt.Claim_Reference_Number__c}" action="{!showCaseDetails}" style="color:#009FC2">
                          <apex:param value="{!rslt.Id}" assignTo="{!Identifier}" name="Identifier"/>
                      </apex:commandLink> --><!-- value="/apex/ClaimsDetail?id={!rslt.GUID__c}&isMyClaims=true" --> 
                      <apex:outputLink value="javaScript:showCaseDetails('{!rslt.id}','Case','Claim');" id="caselink" style="color:#009FC2" >{!rslt.Claim_Reference_Number__c}</apex:outputLink>
                  </apex:column>  
                  <apex:column headerValue="Member ref No." value="{!rslt.Member_reference__c}"/>  
                  <apex:column headerValue="Claim type" value="{!rslt.Claim_Type__c}"/>  
                  
                  <apex:column headerValue="Event date">
                      <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!rslt.Event_Date__c}" />
                        </apex:outputText>
                  </apex:column>                
            </apex:pageBlockTable>  
            </apex:outputPanel> 
            <apex:outputPanel rendered="{!AND(isDoneCase,claimLst.size==0)}">  
            No result found  <script>jQuery('[id$="case_block"]').remove();</script>
          </apex:outputPanel>              
         </apex:pageBlockSection> 
         <!--SF-4823 Service Requests starts-->
         <apex:pageBlockSection title="Service Requests" columns="1" id="serviceReq_block">
         <apex:outputPanel rendered="{!AND(isDoneServiceReq,serviceReqList.size>0)}">          
            <apex:pageBlockTable value="{!serviceReqList}" var="rslt">                       
                  <apex:column headerValue="Request ID">
                      <!--<apex:commandLink value="{!rslt.CaseNumber}" id="theCommandLink" target="_blank" onclick="viewRequestDetail">
                        <apex:param name="requestGuid" value="{!rslt.GUID__c}" assignTo="{!serviceReq_guid}"/>
                      </apex:commandLink>-->
                   <apex:outputLink value="javaScript:showCaseDetails('{!rslt.id}','Case','ServiceRequest');" id="caselink" style="color:#009FC2" >{!rslt.CaseNumber}</apex:outputLink>  
                  </apex:column>
                  <apex:column headerValue="Status" value="{!rslt.status}"/>  
                  <apex:column headerValue="Request" value="{!rslt.type}"/>  
                  
                  <apex:column headerValue="Expected Closure Date">
                      <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!rslt.Expected_closure_date__c}" />
                        </apex:outputText>
                  </apex:column>                
            </apex:pageBlockTable>  
            </apex:outputPanel>          
            <apex:outputPanel rendered="{!AND(isDoneServiceReq,serviceReqList.size==0)}">  
            No result found  <script>jQuery('[id$="serviceReq_block"]').remove();</script>
            </apex:outputPanel>
         </apex:pageBlockSection>
        <!--SF-4823 Service Requests ends-->

         <apex:pageBlockSection title="PEME Invoice" columns="1" id="peme_block"><!-- rendered="{!NOT(OR(ISNULL(lstPEMEInvoice),(lstPEMEInvoice.size==0)))}"-->             
             <apex:outputPanel rendered="{!!isDonePEME}">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>  
            <apex:outputPanel rendered="{!AND(isDonePEME,lstPEMEInvoice.size>0)}">
            <apex:pageBlockTable value="{!lstPEMEInvoice}" var="rslt">           
                 
                  <apex:column headerValue="Client name" value="{!rslt.Client__r.name}"/>  
                  <apex:column headerValue="Clinic name" value="{!rslt.Clinic__r.name}"/>  
                   <!-- 4274 --> 
                  <apex:column headerValue="Invoice number">
                  <apex:outputLink value="javaScript:showCaseDetails('{!rslt.Id}','PemeInvoice','PemeInvoice');" id="pemeinvoicelink" style="color:#009FC2" >{!rslt.Clinic_Invoice_Number__c}</apex:outputLink>
                  </apex:column> 
                  <!-- 4274 --> 
                  <apex:column headerValue="Invoice date">
                      <apex:outputText value="{0,date,dd'-'MM'-'yyyy}">
                            <apex:param value="{!rslt.Invoice_Date__c}" />
                        </apex:outputText>
                  </apex:column> 
                  <apex:column headerValue="Reference no" value="{!rslt.PEME_reference_No__c}"/>               
            </apex:pageBlockTable> 
         </apex:outputPanel>
         <apex:outputPanel rendered="{!AND(isDonePEME,lstPEMEInvoice.size==0)}">
         No result found  <script>jQuery('[id$="peme_block"]').remove();</script>
          </apex:outputPanel>              
         </apex:pageBlockSection> 
         
       <apex:pageBlockSection title="Forms" columns="2" rendered="{!NOT(OR(ISNULL(attachments),(attachments.size==0)))}">            
                        <apex:repeat value="{!attachments}" var="item"> 
                        <apex:outputLink value="/servlet/servlet.FileDownload?file={!item.Id}" style="color:#009FC2">{!item.Name}</apex:outputLink> 
                               
                        </apex:repeat> 
                    
      </apex:pageBlockSection>  
      <apex:outputPanel id="gard_search_result">
      <apex:outputText style="font-style: italic; font-weight: bold; " value="No result found with {!forMsg} search text" rendered="{!AND(isDonePEME,lstPEMEInvoice.size==0,isDoneCase,claimLst.size==0,isDoneAsset,AssetLst.size==0,isDoneObject,objectLst.size==0,isDoneContact,resultContactList.size==0,isDoneGardContact,lstGrdCont.size==0)}"/>     
       </apex:outputPanel>
     </apex:pageBlock> 
     <!--from outside of Salesforce -->
      <apex:pageBlock title="Results from gard.no with '{!forMsg}' text" id="gard_no_block">  
            <apex:outputPanel rendered="{!!isDoneGardNo }">
                <center><img src="/img/loading.gif" /></center>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!isDoneGardNo }">              
            <apex:pageBlockSection id="results_from_outside" columns="2" rendered="{!NOT(OR(ISNULL(resultList), (resultList.size==0)))}">            
            <apex:repeat value="{!resultList}" var="rslt">            
                <a target="_blank" style="text-decoration:none" href="http://{!rslt.url}">{!rslt.header}</a>
            </apex:repeat>                 
            </apex:pageBlockSection>
            <!-- This outputText will be printed when no result found from gard.no -->
                 <apex:outputText style="font-style: italic; font-weight: bold;" styleClass="result-not-found" value="{!noRsltFndFrmGrdNo}" rendered="{!NOT(ISNULL(noRsltFndFrmGrdNo))}"/>
         </apex:outputPanel> 
     </apex:pageBlock>  
     </div>
    </div>
    </div>  
    <apex:actionFunction name="gardNoSearch" action="{!doSearchGardNo}" reRender="gard_no_block,gard_search_result"/> 
    <apex:actionFunction name="contactSearch" action="{!doSearchContact}" reRender="contact_block,gard_search_result"/> 
    <apex:actionFunction name="caseSearch" action="{!doSearchCase}" reRender="case_block,gard_search_result"/> 
    <apex:actionFunction name="serviceReqSearch" action="{!doSearchServiceRequests}" reRender="serviceReq_block,gard_search_result"/><!--4823-->
    <apex:actionFunction name="assetSearch" action="{!doSearchAsset}" reRender="asset_block,gard_search_result"/> 
    <apex:actionFunction name="gardContactSearch" action="{!doSearchgardContact}" reRender="contact_gard_block,gard_search_result"/> 
    <apex:actionFunction name="objectSearch" action="{!doSearchObject}" reRender="object_block,gard_search_result"/>
    <apex:actionFunction name="pemeSearch" action="{!doPEMESearch}" reRender="peme_block,gard_search_result"/>   
    <apex:actionFunction name="showCase" action="{!showCaseDetails}" />
    <apex:actionFunction name="showContact" action="{!contactRetriver}" />
    <apex:actionFunction name="showObject" action="{!viewObject}" />
    <apex:actionFunction name="showGardContact" action="{!GrdContRetriver}" />
    <apex:actionFunction name="showAsset" action="{!assetRetriver}" />
    <apex:actionFunction name="showRequestDetail" action="{!viewServiceRequest}" /><!--SF-4823-->
    <apex:actionFunction name="showPemeInvoice" action="{!PemeInvoiceDetails}" /> <!--4274 -->
   </apex:form>
    </apex:define>
    </apex:composition>
</apex:page>