<apex:page controller="UWRLayUpFormCtrl" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" action="{!chkAccess}">
<apex:includeScript value="{!$Resource.GoogleAnalytics}"/>

<style>
.uw-mou-obg-detl-container button.Zebra_DatePicker_Icon, .ri-table button.Zebra_DatePicker_Icon, .uw-form-field-container button.Zebra_DatePicker_Icon {
    left: 196px !important;
}
.client-view-page-container .request-form-each-field-section.req-object.pushed-fieldset 
{
    margin-top: 64px !important;
}
.broker-view-page-container .request-form-each-field-section.req-object.pushed-fieldset 
{
    margin-top: 64px !important;
}
.ui-autocomplete-loading { 
      background: #F1F1F0 url(/img/loading32.gif) right center no-repeat !important;
      background-size: 15px 15px !important;
  }
.auto-popup{
      width: 387px;
      display: table-cell;
     /* border: 2px solid #F1F1F0;*/
  } 
  .obj-name-auto {
      /*width: 125px;*/
      float: left;
      font-weight: bold;
    }
    .imo-auto{
        float: right;
        padding-right: 10px;
    }
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background-color: #FFF !important;
    }
    .AutoCompleteTopDivPanel{
      overflow-y: auto;
      max-height: 291px;
      width: 438px;
      border: 2px solid #F1F1F0;
      z-index: 99;
      position: absolute;
      background: none repeat scroll 0 0 #FFF;
    }
    .uw-form-for-ship-owner .form-req-field img{
        margin-left: -10px !important;
    }
   .personal-details-section, .personal-claim-details, .personal-category {
      float: left;
      width: 100%;
    }
    .itopf-right-field-section {
      background: none repeat scroll 0 0 #fff !important;
      border: none !important;
      border-radius: 0px !important;
      padding: 0px !important;
    }
    label.uw-right-label {
      width: 200px;
    }
    .hint-section-each {
        color: black !important;
    }
    .attached-doc-text-section label {
        color: black !important; 
    }
    .uw-review-desc-infos-title {
        color: black !important; 
    }
    uw-attachment-upload-section{
    width: 600px !important ;
    }
    .error-validation-msg {
        margin: 0 !important;
    }
    /* IE10+ specific styles go here  for SF-1802*/  
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        .search-by-imo-ie-style{
            opacity: 0.6;
        }
    }
    </style>
<script type="text/javascript">
    var incrementer = 50;
    var isPageLoad = false;
    //sfEdit Testing variables STARTS
    var callCounter = 0;
    //sfEdit Testing variables ENDS
    
    /* validation for file uploading */
    function chkFile(s,t,v_text){ 
        jQuery(".error-validation-msg").remove(); 
        var i = t.id;                                           
        var str_id=i.substr(i.lastIndexOf(":")+1);                       
        jQuery(".error-file-upload").removeClass("error-file-upload");
        jQuery(".error-file-upload-msg").remove(); 
        var longname = jQuery('[id$="pi-upload-doc1"]').val(); 
        longname = longname.substr(longname.lastIndexOf("\\") + 1);
        if(longname.length >80)
        {
            jQuery('[id$="uploadFile"]').next().next().after('<div class="error-file-upload-msg" style="margin: 0 !important;width: 350px;float: left;" >File name can be max. 80 characters</div>');
            jQuery('[id$="uploadFile"]').addClass("error-file-upload");                                                 
            jQuery('[id$="pi-upload-doc1"]').val(''); 
            jQuery('[id$="uploadFile"]').val('');   
            return false;
        }    
        if(s>5242880){        
            jQuery('[id$="pi-upload-doc1"]').val('');        
            jQuery('[id$="uploadFile"]').val('');
            jQuery('[id$="uploadFile"]').next().next().after('<div class="error-file-upload-msg" style="margin: 0 !important;width: 160px;float: left;">File size is bigger than 5MB</div>');
            jQuery('[id$="uploadFile"]').addClass("error-file-upload");
        }else{
            var fname = jQuery('[id$="pi-upload-doc1"]').val();
            if((fname)){   // changed for 5009, if(isvalidfiletype(fname))
                fname = fname.substr(fname.lastIndexOf("\\") + 1);
                console.log(fname);
                jQuery('[id$="uploadFile"]').val(fname);          
                jQuery(".error-file-upload-msg").remove(); 
                
            }
            else{
                
                jQuery("[id$='"+str_id+"']").val('');
                jQuery('[id$="uploadFile"]').next().next().after('<div class="error-file-upload-msg" style="margin: 0 !important;width: 350px;float: left;" >Only following file types are allowed:<br/>pdf, docx, doc,jpg, xls, xlsx, ppt, pptx, pages, psd, dxf, eps, ps, xps, ai, tiff, svg, ttf, png</div>');
                jQuery('[id$="uploadFile"]').addClass("error-file-upload");
                //fname = fname.substr(fname.lastIndexOf("\\") + 1);                
                jQuery('[id$="pi-upload-doc1"]').val(''); 
                jQuery('[id$="uploadFile"]').val('');                 
            }                       
        }                
    } 
    /* end of file uploading validation */
    function clearSearch(){
        jQuery('input[id$="objSearch"]').val('');
        jQuery('.AutoCompleteTopDivPanel').hide();
    }
    function callSearchOption(){
        callCounter++;//sfEdit Testing
        
        jQuery(".error-validation-msg").remove();
        var strKey = jQuery.trim(jQuery('input[id$="objSearch"]').val());
        var clientSelected =jQuery('select[id$="lay-up-client"]').val();
        var arrDate = jQuery('input[id$="lay-up-arr-date"]').val();
        
        if(callCounter > 2){//sfEdit Testing
            //alert('callSearchOption called  - '+callCounter+' / strKey - '+strKey+' / isNaN(strKey)/strKey.length - '+(isNaN(strKey))+'/'+(strKey.length));
        } // sfEdit testing
        if((typeof clientSelected != typeof  undefined) && (clientSelected == '' || clientSelected == null || clientSelected == ' ') ){
            var msgError = '<div class="error-validation-msg" style="margin-left: 212px;">Please select client.</div>';                  
            jQuery('select[id$="lay-up-client"]').parent().after(msgError);                 
            return false;
        }else if((typeof arrDate != typeof  undefined) && (arrDate == '' || arrDate == null || arrDate == ' ') ){
            var msgError = '<div class="error-validation-msg" style="margin-left: 212px;">Arrival date can not be blank.</div>';                  
            jQuery('input[id$="lay-up-arr-date"]').after(msgError);                 
            return false;
        }
        if(!isNaN(strKey) && strKey.length==7){
            jQuery('input[id$="objSearch"]').attr('readonly','readonly');
            jQuery('input[id$="objSearch"]').addClass('ui-autocomplete-loading');
            jQuery('input[id$="keyStr"]').val('imo');
            //fetchObjectDetails(strKey,/*clientSelected,*/'imo',arrDate );//4302 clientSelected Commented
            //alert('calling for imoNo');//sfEdit Testing, remove it
            //alert('calling for imoNo with params(strKey,clientSelected,\'imoNo\',arrDate) - ('+strKey+','+clientSelected+',imoNo,'+arrDate+')');//sfEdit Testing,remove it
            //alert('clientSelected - '+clientSelected);
            fetchObjectDetails(strKey,clientSelected,'imo',arrDate );//sfEdit Testing, uncomment last line
        }else if( isNaN(strKey) && strKey.length >= 3){
            jQuery('input[id$="objSearch"]').attr('readonly','readonly');
            jQuery('input[id$="objSearch"]').addClass('ui-autocomplete-loading');
            jQuery('input[id$="keyStr"]').val('objname');
            //fetchObjectDetails(strKey,/*clientSelected,*/'objname',arrDate  );//4302 clientSelected Commented
            //alert('calling for objectName with params(strKey,clientSelected,\'objname\',arrDate) - ('+strKey+','+clientSelected+',objname,'+arrDate+')');//sfEdit Testing,remove it
            //alert('clientSelected - '+clientSelected);
            fetchObjectDetails(strKey,clientSelected,'objname',arrDate);//sfEdit Testing, uncomment last line
        }
    }
    function validationPage1LayUp(){    
        jQuery(".error-validation-msg").remove(); 
        
        var selectedClient = jQuery('select[id$="lay-up-client"]').val();
        var location =jQuery.trim(jQuery('input[id$="lay-up-location"]').val());
        var arrDate = jQuery('input[id$="lay-up-arr-date"]').val();
        var dtDep = jQuery('input[id$="lay-up-dep-date"]').val();
        var objName = jQuery('input[id$="lay-up-obj-name"]').val();
        var grossTonnage = jQuery('input[id$="lay-up-gross-tonnage"]').val();
        var OwnersInsured = jQuery.trim(jQuery('input[id$="lay-up-Owners-Insured"]').val());
        var noOfCrew = jQuery.trim(jQuery('input[id$="no-of-crew"]').val());
        var checkForm = '{!formType}';     
        var retValReason = '';
        var retVal = true;
        if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
            var msgError = '<div class="error-validation-msg">Please select client.</div>';                  
            jQuery('select[id$="lay-up-client"]').parent().after(msgError);      
            retValReason+='1';
            retVal = false;
            //return false;
        }
        /*else*/ if((typeof location != typeof  undefined) && (location == '' || location == null || location == ' ') ){
            var msgError = '<div class="error-validation-msg">Lay-up location can not be blank.</div>';                  
            jQuery('input[id$="lay-up-location"]').after(msgError);              
            retValReason+='2';
            retVal = false;
            return false;
        }
        /*else*/ if((typeof arrDate != typeof  undefined) && (arrDate == '' || arrDate == null || arrDate == ' ') ){
            var msgError = '<div class="error-validation-msg">Arrival date can not be blank.</div>';                  
            jQuery('input[id$="lay-up-arr-date"]').after(msgError);                 
            retValReason+='3';
            retVal = false;
            //return false;
        }
        /*else*/ if((typeof dtDep != typeof  undefined) && (dtDep == '' || dtDep == null || dtDep == ' ') ){
            var msgError = '<div class="error-validation-msg">Departure date can not be blank.</div>';                  
            jQuery('input[id$="lay-up-dep-date"]').after(msgError);                 
            retValReason+='4';
            retVal = false;
            //return false;
        }
        /*else*/ if((typeof objName != typeof  undefined) && ( objName == '' || objName == null || objName == ' ') ){
            var msgError = '<div class="error-validation-msg" >Please select object name.</div>';                  
            jQuery('input[id$="lay-up-obj-name"]').after(msgError);
            retValReason+='5';
            retVal = false;
            //return false;
        }           
        /*else*/ if((typeof grossTonnage != typeof  undefined) && (grossTonnage == '' || grossTonnage == null || grossTonnage == ' ') ){
            var msgError = '<div class="error-validation-msg">Gross tonnage can not be blank.</div>';                  
            jQuery('.request-form-each-field-section.req-gross-tonnage').after(msgError);
            retValReason+='6';
            retVal = false;
            //return false;
        }
        /*else*/ if((typeof OwnersInsured != typeof  undefined) && (OwnersInsured == '' || OwnersInsured == null || OwnersInsured == ' ') && (checkForm != 'PI')){
            var msgError = '<div class="error-validation-msg">Owners/Insured can not be blank.</div>';                  
            jQuery('input[id$="lay-up-Owners-Insured"]').after(msgError);                             
            retValReason+='7';
            retVal = false;
            //return false;
        }
        /*else*/ if(isNaN(noOfCrew)){
            var msgError = '<div class="error-validation-msg">This is a number field.</div>';                  
            jQuery('input[id$="no-of-crew"]').after(msgError);                 
            retValReason+='8';
            retVal = false;
            //return false;                
        }
        /*else*/ if(retVal){
            retValReason+='All Well - TRUE';
            retVal = true;
            //return true;
        }
        //alert('returning Val(message) - '+retVal+'('+retValReason+')');
        return retVal;
    }
 
</script>
<!--<script src="/soap/ajax/31.0/connection.js" type="text/javascript"></script>-->
<apex:composition template="PageFrame" >
        <apex:define name="content" > 
             <!-- Content section starts -->
            <div id="content" class="content">
                <div class="content-wrapper">
                    <div class="page-title">My portfolio<!--<apex:outputText value="{!IF(formType=='PI','Layup form P&I','Layup form Marine')}" />--></div>
                    <div class="tab-section-container">
                        <apex:include pageName="requestPage"/>
                        <div class="tab-button-section">                            
                           <div class="tab-header-container">
                            <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >My covers</apex:outputLink></div>
                            <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >My objects</apex:outputLink></div>
                            <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                            <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                            <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                           </div>
                        </div>
                        <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                        <div class="tab-detail-columns">
                        <apex:form >
                                <apex:actionFunction name="fetchObjectDetails" action="{!searchByImoObjectName}" reRender="popup2" oncomplete="jQuery('.reqest-object.search-object-name').removeClass('ui-autocomplete-loading');">
                                <apex:param name="param_selectedObject" value="" assignTo="{!ObjName}"/>
                                <apex:param name="param_selectedClient" value="" assignTo="{!selectedClient}"/>
                                <apex:param name="param_FindBy" value="" assignTo="{!FindBy}"/>
                                <apex:param name="param_ArrvDate" value="" assignTo="{!arrivalDate}"/>
                            </apex:actionFunction>
                            <!-- added by ss -->
                            <apex:outputPanel id="popup2">
            <script>
                                //alert('isPopup1={!isPopup1}'+{!isPopup1});
            jQuery('.reqest-object.search-object-name').removeClass('ui-autocomplete-loading');
           if({!isPopup1} == false){
             jQuery('.AutoCompleteTopDivPanel').remove(); 
             jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
           }
           
           
                   var searchVal = jQuery.trim(jQuery('input[id$="objSearch"]').val());
                   var keyVal = jQuery('input[id$="keyStr"]').val();
                   if(({!lstObject.size} < 1) && ((searchVal != undefined) && (searchVal != '' || searchVal != null || searchVal != ' ')) && (isPageLoad == true) )
                   {
                       
                        var msgNoRecord = '<div class="AutoCompleteTopDivPanel"><div class="auto-popup">No object found.</div></div>'; 
                        jQuery(msgNoRecord).insertAfter(jQuery('input[id$="objSearch"]'));
                        jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
                        isPageLoad  = true;            
                   } 
                   var undElement = jQuery('.AutoCompleteTopDivPanel');
                    jQuery(document).bind('mouseup', function (e){
                    if (undElement.has(e.target).length === 0) {
                        jQuery(undElement).hide();
                        jQuery('.AutoCompleteTopDivPanel').remove();
                        jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
                        isPageLoad = true;
                    }
                });   
           
           </script>
            <apex:outputPanel rendered="{!isPopup1}">
                <div class="AutoCompleteTopDivPanel">
                <div class="auto-popup">              
                    <apex:repeat value="{!lstObject}" var="obj">
                        <div style="width:100%;">
                            <span class="obj-name-auto">
                                    <apex:commandLink action="{!setObjectSelection}" value="{!obj.name}" rerender="popup2,imoPanel,grossPanel,obj-name" oncomplete="clearSearch();return false;">
                                        <apex:param name="selObject" assignTo="{!selectedObj}" value="{!obj.id}"/>
                                    </apex:commandLink>
                            </span>
                            <span class="imo-auto">
                                IMO# &nbsp;<apex:outputText value="{!obj.Imo_Lloyds_No__c}"/>
                            </span> 
                            <div style="width:100%;float:left;border-bottom: 1px solid #F1F1F0;">
                            <apex:outputText value="{!obj.Object_Type__c}"/>,&nbsp;
                            <apex:outputText value="{!obj.Flag__c}"/>                           
                            </div>
                        </div>                      
                    </apex:repeat>  
                </div>
                </div>
                <script>
                /* jQuery multiselect popup custom scroll bar */
                jQuery(".AutoCompleteTopDivPanel").mCustomScrollbar({
                    mouseWheelPixels: 20,
                    scrollEasing: "linear",
                    scrollInertia: 0
                });
                /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                jQuery('.mCSB_draggerContainer').click( function(e){
                    e.stopPropagation();
                });
                var undElement = jQuery('.AutoCompleteTopDivPanel');
                jQuery(document).bind('mouseup', function (e){
                    //alert('requisite script run');
                    if (undElement.has(e.target).length === 0) {
                        jQuery(undElement).hide();
                        jQuery('.AutoCompleteTopDivPanel').remove();
                        jQuery('input[id$="objSearch"]').removeAttr('readonly'); 
                        isPageLoad = true;
                    }
                });
//alert('about to show AutoCompleteTopDivPanel'); //sfEdit testing, remove it
                jQuery('.AutoCompleteTopDivPanel').insertAfter(jQuery('input[id$="objSearch"]'));
                function showAutoCompleteTopDivPanel(){
                    jQuery('.AutoCompleteTopDivPanel').insertAfter(jQuery('input[id$="objSearch"]'));
                }
                </script>
            </apex:outputPanel>
           
        </apex:outputPanel>
                            <!-- added by ss -->
                        </apex:form>
                        <!-- newly added -->
                        <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                                    <div class="multistep-form-step-container layup-pi-form-container">                                       
                                            <div class="contact-field">
                                            <apex:form id="fr1" >
                                            
                                                <div class="form-field-scrol-container">
                                                
                                                    <div class="multistep-form-path-pointer">
                                                        <div class="common-path-bar"></div>
                                                        <div class="completed-path-bar"></div>
                                                        <div class="section-titles obj-det-title">Object details</div>
                                                        <div class="section-titles rev-title">Review and submit</div>
                                                        <div class="obj-details-dot dots current"></div>
                                                        <div class="review-dot dots"></div>
                                                    </div>
                                                    <!--<div class="calendar-container new-claim-calender"></div>-->
                                                    
                                                    <apex:outputPanel id="otp1">
                                                    <div class="new-claim-report-section sub-sec-title-area">Layup form &nbsp; <apex:outputText value="{!IF(formType=='PI','P&I','Marine')}" /></div>
                                                    <div class="request-form-fields-container uw-mou-obg-detl-container multistep-content-holder visible-form-section">
                                                        <div class="report-new-claim-field-section">
                                                            <div class="report-new-claim-field-section-left-panel">
                                                                <div class="request-form-each-field-section req-cover-new-client-name">
                                                                    
                                                                    <apex:outputPanel rendered="{!(hasMultipleClients)}">
                                                                    <!--sfEdit for 4302 replaced rendered="{!(userType=='Broker')}"-->
                                                                        <label for="client-cover-new"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
                                                                        <div class="select-wrapper">
                                                                            <apex:selectList value="{!selectedClient}" styleClass="selectpicker" id="lay-up-client" onchange="clearFieldValues();/*changeSelectedClientIdFormsCSActionFunction();*/" >
                                                                                <apex:selectOptions value="{!clientLst}"/>  
                                                                             </apex:selectList>
                                                                        </div>
                                                                        <script>
                                                                    /* Controls the search by option popup for the single pick-list */
                                                                                        
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .selectpicker').selectpicker({
                                                                                            noneResultsText: 'No match found!',
                                                                                            liveSearch: true,
                                                                                            searchAccentInsensitive: false
                                                                                        });  
                                                                                        
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                                            //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                                                                            //alert(jQuery(this).next().children().find('li.selected').length);
                                                                                            if (jQuery(this).next().children().find('li.selected').length != 0) {
                                                                                                //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                                                                            }
                                                                                        });
                                                                                        /* Deselect any selection while choosong any picklist */
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                                            document.getSelection().removeAllRanges();
                                                                                        });
                                                                                        /* Deselect any selection while choosong any picklist */
                                                                                
                                                                                    /* Default search by any word selection for the pick-list search option */
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-option-container').each( function(){
                                                                                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                                            jQuery(this).html(searchOptions);
                                                                                            incrementer++;
                                                                                        });
                                                                                        /* Default search by any word selection for the pick-list search option */
                                                                                    
                                                                                        
                                                                                        /* Controls the opening/closing feature for the search by popup. */
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button').click( function(){
                                                                                            jQuery(this).children().show();
                                                                                        });
                                                                                        var searchByElement = jQuery('.request-form-each-field-section.req-cover-new-client-name .search-by-icon-button');
                                                                                        jQuery(document).bind('mouseup', function (e){
                                                                                            if (searchByElement.has(e.target).length === 0) {
                                                                                                jQuery(searchByElement).children().hide();
                                                                                            }
                                                                                        });
                                                                                        /* Controls the opening/closing feature for the search by popup. */
                                                                                    
                                                                                        /* Controls the search by option popup for the single pick-list */
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox').each( function(){
                                                                                            var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                                            jQuery(this).append(searchOptions);
                                                                                            incrementer++;
                                                                                        });
                                                                                        jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button').click( function(e){
                                                                                            e.stopPropagation();
                                                                                            jQuery(this).children().show();
                                                                                        });
                                                                                        var searchByElementSingle = jQuery('.request-form-each-field-section.req-cover-new-client-name .bs-searchbox .search-by-icon-button');
                                                                                        jQuery(document).bind('mousedown', function (e){
                                                                                            if (searchByElementSingle.has(e.target).length === 0) {
                                                                                                jQuery(searchByElementSingle).children().hide();
                                                                                            }
                                                                                        });                                  
                                                                                        jQuery(".request-form-each-field-section.req-cover-new-client-name .dropdown-menu.open ul").mCustomScrollbar({
                                                                                        mouseWheelPixels: 20,
                                                                                        scrollEasing: "linear",
                                                                                        scrollInertia: 0
                                                                                    }); 
                                                                                    
                                                                                    /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                                                                    jQuery('.mCSB_draggerContainer').click( function(e){
                                                                                        e.stopPropagation();
                                                                                    });
                                                                            </script>  
                                                                        </apex:outputPanel>
                                                                      <!--Client Part-->
                                                                    <apex:outputPanel rendered="{!(!hasMultipleClients)}"><!-- sfEdit 4302 replaced rendered="{!(userType=='Client')}"-->
                                                                           <label for="client-cover-new"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Client:</label>
                                                                           <div class="emptyPanelStyle" id="lay-up-client" Style = "margin-top: 0 !important;">
                                                                               <apex:outputText value="{!clientName}"/>
                                                                           </div>                                                                          
                                                                    </apex:outputPanel> 
                                                                    <!--Client Part End-->
                                                                </div>
                                                                <div class="request-form-each-field-section req-effective-date almost-middle-date">
                                                                    <label class="long-uw-label" for="ship-owner-att-risk-date"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>
                                                                    <apex:outputText escape="false" value="{!If(formType=='Marine',' Arrival date final moorings:',' Arrival date:')}" />
                                                                    </label>
                                                                    <apex:inputText value="{!arrivalDate}" styleClass="pi-arrival-date" id="lay-up-arr-date"/> <!-- custom-datepicker -->
                                                                </div>
                                                              <apex:inputHidden value="{!FindBy}" id="keyStr"/>
                                                                <div class="request-form-each-field-section req-effective-date floating-or-carrier"> 
                                                                    <!-- <label class="floating-or">Or</label> -->
                                                                   <!--  <label class="uw-right-label" for="reqest-object">Search by Object name/IMO no.:</label>  -->
                                                                    <apex:inputText id="objSearch" value="{!ObjName}" onkeyup="callSearchOption();" html-placeholder="Search by object name / IMO" styleClass="reqest-object search-object-name search-by-imo-ie-style" />
                                                                </div>
                                                                <apex:outputPanel id="obj-name">
                                                                  <div class="request-form-each-field-section req-object-name">
                                                                        <label for="char-entry-cont-per"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>
                                                                        Object name:
                                                                        </label>
                                                                       <!-- <div class="emptyPanelStyle" Style = "margin-top: 0 !important;" > -->
                                                                        <apex:inputText value="{!objectIns.name}"  html-readonly="true" styleClass="readonlytext" id="lay-up-obj-name"/> 
                                                                       <!-- </div>-->
                                                                  </div>
                                                                </apex:outputPanel>
                                                                <apex:outputpanel rendered="{!(formType=='PI')}">
                                                                    <apex:outputPanel id="grossPanel">
                                                                        <div class="request-form-each-field-section req-gross-tonnage">
                                                                            <label for="char-entry-cont-per"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Gross tonnage:</label>
                                                                            <!--<div class="emptyPanelStyle" Style = "margin-top: 0 !important;" >-->
                                                                            <apex:inputText value="{!uwf.tonnage__c}"  id="lay-up-gross-tonnage" html-readonly="true" styleClass="readonlytext"/>
                                                                        <!--</div>-->
                                                                        </div>
                                                                     </apex:outputPanel>                                     
                                                                </apex:outputPanel>
                                                                <apex:outputpanel rendered="{!(formType=='Marine')}">
                                                                        <div class="request-form-each-field-section req-effective-date">
                                                                            <label for="char-entry-cont-per"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Owners/Insured:</label>
                                                                            <apex:inputText value="{!uwf.Owners_Insured__c}" id="lay-up-Owners-Insured" onkeyup="limitText(this,250);" maxlength="250" onkeypress="limitText(this,250);"/>
                                                                        </div>
                                                                </apex:outputpanel>
                                                            </div>
                                                            
                                                            <div class="report-new-claim-field-section-right-panel">
                                                                <div class="request-form-each-field-section uw-flag">
                                                                    <label for="reqest-type"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Lay-up location:</label>
                                                                    <div class="select-wrapper">
                                                                        <apex:inputText value="{!uwf.Layup_location__c}" id="lay-up-location" onkeyup="limitText(this,50);" maxlength="250" onkeypress="limitText(this,50);"/> 
                                                                        <!--<apex:selectList value="{!uwf.Layup_location__c}" multiselect="false" size="1" styleClass="selectpicker">
                                                                                <apex:selectoptions value="{!layupOption}"></apex:selectoptions>
                                                                        </apex:selectList> -->
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="request-form-each-field-section req-effective-date almost-middle-date">
                                                                    <label class="long-uw-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span>
                                                                    <apex:outputText value="{!If(formType=='Marine',' Departure date:',' Departure date:')}" />
                                                                    </label>
                                                                    <apex:inputText value="{!departureDate}" styleClass="pi-departure-date" id="lay-up-dep-date"/> <!-- custom-datepicker -->
                                                                </div>
                                        
                                                                <div class="request-form-each-field-section req-object pushed-fieldset {!IF(formType=='Marine','double-line','')}" style="margin-top: 40px !important;">
                                                                    <apex:outputPanel id="imoPanel">
                                                                        <div class="alternate-imo-no">
                                                                        <label class="uw-right-label" for="reqest-object">IMO no.:</label>
                                                                       <!-- <div class="emptyPanelStyle" style="margin-top: 0px !important;"> -->
                                                                         <apex:inputText id="imo1" value="{!uwf.Imo_Lloyds_No__c}" html-readonly="true" styleClass="readonlytext"/>
                                                                         <!-- </div> -->
                                                                           <!-- <span class="ri-or-separator">or</span>
                                                                            <div class="uw-unknown-imo">
                                                                                <div class="subs-check-single">
                                                                                    <apex:inputcheckbox value="{!noImoNo}" id="imo_chk_pi"/>
                                                                                    <label for="{!$Component.imo_chk_pi}">IMO# not known</label>
                                                                                </div>
                                                                            </div>-->
                                                                        </div> 
                                                                    </apex:outputPanel>                                        
                                                                </div>
                                                                <apex:outputpanel rendered="{!(formType=='Marine')}">
                                                                    <div class="request-form-each-field-section req-effective-date">
                                                                    <div class="alternate-imo-no">
                                                                            <label class="uw-right-label"  for="client-field"> Number of crew onboard:</label>
                                                                            <apex:inputText value="{!uwf.Number_of_crew__c}" maxlength="100" id="no-of-crew"/> 
                                                                    </div>
                                                                    </div>
                                                                </apex:outputpanel>

                                                            </div>
                                                        </div>
                                                        
                                                        <div class="report-new-claim-field-section new-claim-right-section">
                                                            <div class="personal-details-section itopf-right-field-section">
                                                            <apex:outputpanel rendered="{!(formType=='PI')}">
                                                                <div class="report-new-claim-field-section-right-panel">
                                                                    <div class="request-form-each-field-section pi-cargo-onboard-section">
                                                                        <label> Cargo onboard:</label>
                                                                        <div class="pi-right-radio-container">
                                                                            <div class="overall-site-rate-section pi-right-radio-each">
                                                                                <apex:selectRadio value="{!cargo}" styleClass="overall-site-rate-section pi-right-radio-each">
                                                                                        <apex:selectOption itemValue="Yes" itemLabel="Yes"></apex:selectOption>  
                                                                                        <apex:selectOption itemValue="No" itemLabel="No"></apex:selectOption>              
                                                                                </apex:selectRadio>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="report-new-claim-field-section-left-panel">
                                                                    <div class="request-form-each-field-section pi-hc-layup-section uw-separator">
                                                                        <label> Hot/Cold lay up<sup>1</sup>:</label>
                                                                        <div class="pi-right-radio-container">
                                                                            <apex:selectRadio value="{!layup}" styleClass="overall-site-rate-section pi-right-radio-each">
                                                                                <apex:selectOption itemValue="Hot" itemLabel="Hot"></apex:selectOption>  
                                                                                <apex:selectOption itemValue="Cold" itemLabel="Cold"></apex:selectOption>              
                                                                            </apex:selectRadio> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </apex:outputpanel>
                                                                <div class="request-form-each-field-section req-cover-new-client-name marine-doc-up">
                                                                    <div class="uw-attachment-upload-section">
                                                                        <label for="claim-list" class="char-entry-form-lebel">Attach documents<!--<span class="doc-up-limit">
                                                                          <span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Total upload: 5mb)
                                                                        </span>-->
                                                                        <!--<span class="desc-tooltip" style="margin-right: 343px">
                                                                            <div class="desc-tooltip-container" style="display: none;">
                                                                                <div class="desc-tooltip-popup-pointer"></div>
                                                                                <div class="desc-tooltip-popup-wrapper">
                                                                                    <div class="desc-tooltip-popup-title">What is this?</div>
                                                                                    <div class="desc-tooltip-popup-text">Please upload the relevant documents via browse button below and these would be sent to the Underwriter on Submit</div>
                                                                                </div>
                                                                            </div>
                                                                            </span>-->
                                                                        </label>
                                                                        <div class="marine-doc-up-each uploadFileArea">
                                                                            <apex:inputText id="uploadFile" html-readonly="true" styleClass="new-claim-field doc-upld-field" value="{!attachment.name}"/>                                                        
                                                                            <div class="new-claim-doc-upld file-upload btn btn-default form-btn">
                                                                                <span>Browse</span>
                                                                                <apex:inputFile id="pi-upload-doc1"  value="{!attachment.body}" filename="{!attachment.name}" styleclass="form-btn new-claim-upload-doc" onchange="chkFile(this.files[0].size,this,0);"/>                                                            
                                                                            </div>
                                                                            <div class="upld-field-desc">(Max 5 MB)</div>                                                        
                                                                        </div>
                                                                       <!-- <div class="marine-doc-up-each uploadFile1" style="display:none;margin-left: 168px;">
                                                                            <apex:inputText id="uploadFile1" html-readonly="true" styleClass="new-claim-field doc-upld-field"/>                                                        
                                                                            <div class="new-claim-doc-upld file-upload btn btn-default form-btn">
                                                                                <span>Browse</span>
                                                                                <apex:inputFile id="pi-upload-doc2"  value="{!attachment1.body}" filename="{!attachment1.name}" styleclass="form-btn new-claim-upload-doc" onchange="chkFile(this.files[0].size,this,1);"/>                                                            
                                                                            </div>
                                                                            <div class="upld-field-desc">(Max 5 MB)</div>                                                        
                                                                        </div>
                                                                        <div class="marine-doc-up-each uploadFile2" style="display: none;margin-left: 168px;">
                                                                            <apex:inputText id="uploadFile2" html-readonly="true" styleClass="new-claim-field doc-upld-field"/>                                                        
                                                                            <div class="new-claim-doc-upld file-upload btn btn-default form-btn">
                                                                                <span>Browse</span>
                                                                                <apex:inputFile id="pi-upload-doc3"  value="{!attachment2.body}" filename="{!attachment2.name}" styleclass="form-btn new-claim-upload-doc" onchange="chkFile(this.files[0].size,this,2);"/>                                                            
                                                                            </div>
                                                                            <div class="upld-field-desc">(Max 5 MB)</div>                                                        
                                                                        </div>                                                                                                     
                                                                        
                                                                        <div class="marine-doc-up-each uploadFile3" style="display: none;margin-left: 168px;">
                                                                            <apex:inputText id="uploadFile3" html-readonly="true" styleClass="new-claim-field doc-upld-field"/>                                                        
                                                                            <div class="new-claim-doc-upld file-upload btn btn-default form-btn">
                                                                                <span>Browse</span>
                                                                                <apex:inputFile id="pi-upload-doc4"  value="{!attachment3.body}" filename="{!attachment3.name}" styleclass="form-btn new-claim-upload-doc" onchange="chkFile(this.files[0].size,this,3);"/>                                                            
                                                                            </div>
                                                                            <div class="upld-field-desc">(Max 5 MB)</div>                                                        
                                                                        </div>                                                                                                    
                                                                        
                                                                        <div class="marine-doc-up-each uploadFile4" style="display: none;margin-left: 168px;">
                                                                            <apex:inputText id="uploadFile4" html-readonly="true" styleClass="new-claim-field doc-upld-field"/>                                                        
                                                                            <div class="new-claim-doc-upld file-upload btn btn-default form-btn">
                                                                                <span>Browse</span>
                                                                                <apex:inputFile id="pi-upload-doc5"  value="{!attachment4.body}" filename="{!attachment4.name}" styleclass="form-btn new-claim-upload-doc" onchange="chkFile(this.files[0].size,this,4);"/>                                                            
                                                                            </div>
                                                                            <div class="upld-field-desc">(Max 5 MB)</div>                                                        
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                                <div class="request-form-each-field-section req-cover-new-client-name pi-attach-heading">
                                                                    <div class="uw-review-desc-infos">
                                                                        <div class="uw-review-desc-infos-title">Attached documents (please tick off as applicable):</div>
                                                                    </div>
                                                                </div>
                                                                
                                                                
                                                                <apex:outputpanel rendered="{!(formType=='PI')}">
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">
                                                                            <apex:inputCheckbox value="{!uwf.Lay_up_location__c}" id="pi_doc_check1"/>                                               
                                                                            <label for="{!$Component.pi_doc_check1}">Lay-up location (Port Authority, Class, Surveyor, H&amp;M Underwriter)</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">
                                                                            <apex:inputCheckbox value="{!uwf.Mooring_arrangements__c}" id="pi_doc_check2"/>                                               
                                                                            <label for="{!$Component.pi_doc_check2}">Mooring arrangements (Class, Third party, H&amp;M Underwriter)</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">
                                                                            <apex:inputCheckbox value="{!uwf.Manning_arrangements__c}" id="pi_doc_check3"/>                                                
                                                                            <label for="{!$Component.pi_doc_check3}">Manning arrangements (Flag State)</label>
                                                                        </div>
                                                                    </div>
                                                              </apex:outputpanel>
                                                              <apex:outputpanel rendered="{!(formType=='Marine')}">
                                                                   <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">                                                                           
                                                                            <apex:inputCheckbox value="{!uwf.Complete_Lay_up_plan_including_follow__c}" id="marine_doc_check1"/>                                                
                                                                            <label for="{!$Component.marine_doc_check1}"> Complete Lay-up plan,including following sub items:</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">                                                                          
                                                                            <apex:inputCheckbox value="{!uwf.Lay_up_declaration__c}" id="marine_doc_check2"/>                                                
                                                                            <label for="{!$Component.marine_doc_check2}"> Lay-up declaration approved by Class/Third party </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single"> 
                                                                            <apex:inputCheckbox value="{!uwf.Mooring_arrangements__c}" id="marine_doc_check4"/>                                                                          
                                                                            <!--Commented By Geetham and Replaced by Above line-->
                                                                            <!--apex:inputCheckbox value="{!uwf.Manning_arrangements__c}" id="marine_doc_check4"/> -->                                               
                                                                            <label for="{!$Component.marine_doc_check4}"> Mooring arrangements approved by Class/Third party</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">                                                                         
                                                                            <apex:inputCheckbox value="{!uwf.Lay_up_site__c}" id="marine_doc_check3"/>                                                
                                                                            <label for="{!$Component.marine_doc_check3}"> Lay-up site approved by Port/Class/Third party</label>
                                                                        </div>
                                                                    </div>                                                
                                                                    <div class="request-form-each-field-section ri-long-check attached-doc-text-section">
                                                                        <div class="subs-check-single">                                                                         
                                                                            <apex:inputCheckbox value="{!uwf.Maintenance_Preservation_declaration__c}" id="marine_doc_check5"/>                                                
                                                                            <label for="{!$Component.marine_doc_check5}"> Maintenance/Preservation declaration or plan according to Manufacturers recommendations</label>
                                                                        </div>
                                                                    </div>
                                                              </apex:outputpanel>
                                                                
                                                                <div class="request-form-each-field-section req-effective-date">
                                                                    <label for="reqest-effective-date" class="long-uw-label double-line-label"> Other information:</label> <!-- long-label-textarea -->
                                                                    <apex:inputTextarea value="{!uwf.Other_Info__c}" styleClass="long-description-uw" onkeyup="limitText(this,100);" onkeypress="limitText(this,100);"/> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <apex:outputpanel rendered="{!(formType=='PI')}">
                                                        <div class="pi-hint-section">
                                                            <div class="hint-section-each"><sup>1</sup>Hot lay-up: Machinery is kept in operation for the sake of fast re-commissioning.</div>
                                                            <div class="hint-section-each">Cold lay-up: Machinery is taken out of service and the vessel is kept electrically dead with the exception of emergency power.</div>
                                                        </div>
                                                    </apex:outputpanel>
                                                    </div>
                                                   <!-- ############# SF-3912 starts here ################ -->  
                                                   <script>
                                            /* Control for custom datepicker */
                                                    jQuery('.pi-arrival-date').Zebra_DatePicker({
                                                                     format: 'd.m.Y',
                                                                     first_day_of_week: 0
                                                                 }); 
                                                                jQuery('.pi-arrival-date').Zebra_DatePicker({
                                                                   // direction: false,
                                                                    format: 'd.m.Y',
                                                                    first_day_of_week: 0,
                                                                    onSelect : function()
                                                                    {   var selected = jQuery(this).val();
                                                                        console.log('##### selected_load_date ####'+selected);
                                                                        refreshCover(selected);
                                                                    }
                                                                 });
                                                                jQuery('.pi-arrival-date').data('Zebra_DatePicker');   
                                                                jQuery('.pi-departure-date').Zebra_DatePicker({
                                                                     format: 'd.m.Y',
                                                                     first_day_of_week: 0
                                                                 }); 
                                                                function refreshCover(selectedDate){
                                                                     //var evdate = jQuery('input[id$="lay-up-dep-date"]').val();
                                                                    
                                                                    //console.log('Now Event Date is ->' + evdate);
                                                                    
                                                                    //var today = getToDay(); 
                                                                     //console.log('toDay is ->' + today );                                    
                                                                                                      
                                                                     jQuery('.pi-departure-date').Zebra_DatePicker({
                                                                       //direction: true,
                                                                       format: 'd.m.Y',
                                                                       first_day_of_week: 0,
                                                                       direction: [selectedDate,false]
                                                                     });                                    
                                                                     jQuery('.pi-departure-date').data('Zebra_DatePicker');
                                                                 }
                                                            
                                             </script>           
                                                    <!-- ############# SF-3912 ends here ################ -->
                                            </apex:outputPanel>
                                          
                                          </div>                                        
                                
                                <div class="form-submit-section">
                                    <div class="left-button-set">
                                        <apex:commandButton value="Next" action="{!saveRecord}" styleClass="form-btn next-nav" onclick="return validationPage1LayUp();" />
                                        <apex:commandButton value="Cancel" action="{!clearRecord}" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;" />
                                    </div>
                                    <div class="right-button-set">
                                        <apex:commandButton value="Review and submit" action="{!saveRecord}" styleClass="form-btn rvw-sub-multi" onclick="return validationPage1LayUp();" /> 
                                    </div>
                                </div>
                               <apex:actionRegion >
                                <apex:actionFunction action="{!fetchSelectedClients}" name="fetchSelectedClientsPF" reRender="otp1" onComplete="clearFieldValues();">
                                    <apex:param name="allSelectedClients" value="" assignTo="{!strSelected}" />
                                    <!--<apex:actionFunction action="{!changeSelectedClientIdFormsCS}" name="changeSelectedClientIdFormsCSActionFunction" reRender="otp1" onComplete="clearFieldValues();"/>-->
                                </apex:actionFunction>
                                   
                                </apex:actionRegion>
                                 
                                </apex:form>
                            </div>
                        </div>
                    </div>
                <!-- newly added -->
                   <!-- POPUP STARTS --> 
                    
         <apex:form >
          
       
        <!-- POPUP ENDS -->        
         </apex:form>    
                </div>
            </div>
            </div>
          </div>
         </div>    
    </apex:define>
    </apex:composition>
    <script>
    jQuery('.from-btn').click( function(){
        var checked = jQuery('select[id$="site-search:globalClient"]').val();
        var allSelectedClients='';       
        if(checked!=null){
            jQuery.each(checked,function (index, value) {               
                if(index=='0'){                     
                    allSelectedClients = value; 
                }else{                      
                    allSelectedClients = allSelectedClients + ';' + value;
                }                                  
            });                      
        }
        fetchSelectedClientsPF(allSelectedClients);                                                                               
    });
    jQuery(document).ready(function(){
        //alert('inside document.ready - ');
        var selectedClient = jQuery('select[id$="lay-up-client"]').val(); 
        //alert('selectedClient - '+selectedClient);
       if((typeof selectedClient != typeof  undefined) && (selectedClient == '' || selectedClient == null || selectedClient == ' ') ){
           clearFieldValues();                 
       }
       /* JS for the auto trimming of underwriter popup long email */
                                    jQuery('.emptyPanelStyle').each( function(){          
                                                    var emailText = jQuery.trim(jQuery(this).text());
                                                    if (emailText.length > 28) { 
                                                                    jQuery(this).attr('alt', emailText);
                                                                    jQuery(this).html(emailText.substring(0, 26) + '...');
                                                    }
                                                    else {
                                                                    jQuery(this).html(emailText);
                                                    }
                                    });
                                    /* JS for the auto trimming of underwriter popup long email */    
                                    /* Provides the tooltip using jquery UI tooltip plugin */
                                    jQuery('.emptyPanelStyle').mouseenter( function(){
                                        jQuery('.custom-tooltip').remove();
                                        if(jQuery(this).attr('alt')) {
                                            jQuery('body').append('<span class="custom-tooltip">' + jQuery(this).attr('alt') + '</span>');
                                        }
                                    });
                                    jQuery('.emptyPanelStyle').mouseleave( function(){
                                        jQuery('.custom-tooltip').remove();
                                    });
        
    });
    function clearFieldValues(){
        jQuery('input[id$="lay-up-obj-name"]').attr('value','');
        jQuery('input[id$="lay-up-gross-tonnage"]').attr('value','');
        jQuery('input[id$="imo1"]').attr('value','');
    }
    </script>
</apex:page>