<apex:page id="offshore" controller="UWRforOffshoreVesselCtrl" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
<style>
    .error-validation-msg {
        margin: 0 !important;
    }
    .desc-tooltip {
        margin: 0px -5px 0 0;
    }
    .extream-bottom-place-finder .autocomplete-wrappers, .extrem-last-dropdown .dropdown-menu.open {
    bottom: 29px;
    box-shadow: 1px -1px 2px 0px rgba(73, 59, 38, 0.2);
    left: 0px;
    top: auto;
    }
    .Zebra_DatePicker {
            display: none !important;
        }
    .request-form-each-field-section.vat-section .select-wrapper .btn.dropdown-toggle.selectpicker.disabled.btn-default,
        .request-form-each-field-section.vat-section .select-wrapper .btn-group .multiselect.disabled.btn-default {
                background-position: 130px 11px !important;
        }
    
    .portfolio .broker-view.forms .multistep-content-holder .select-wrapper .dropdown-menu.open ul.dropdown-menu.selectpicker {
        width: 146px !important;
    }
</style>
    <script> 
         jQuery('.main-menu-links').removeClass('active');
         jQuery('.main-menu-links.portfolio').addClass('active');
        
           //method for checking checkboxes and related textboxes
    jQuery(document).ready(function() {     
        console.log('onload method');
        //check for same-as-assured checkbox
        var invoice1 = jQuery('input[id$="ship-owner-name-premium-invoice"]');
        var assNo = jQuery('textarea[id$="ship-owner-name-of-assured"]').val();
        var same_name1 = jQuery('input[id$="same_as_assured"]').is(':checked');
        if(same_name1)
        {
            invoice1.attr("disabled", "disabled");  
            invoice1.val(assNo);              
        }
        else
        {
            invoice1.removeAttr("disabled");              
        }
        //check for VAT-Not-Applicable checkbox
        var objVatNo1 = jQuery('input[id$="vatNo"]');
        //Added By Geetham For SF-4915
        var Objvatname1 = jQuery('textarea[id$="ship-owner-vat-name"]');
        var vat_app_chk1 = jQuery('input[id$="vat_applicable"]').is(':checked');
        console.log(vat_app_chk1);
        if(vat_app_chk1){
            console.log('inside loop:'+objVatNo1);
            objVatNo1.attr("disabled", "disabled");  
            Objvatname1.attr("disabled", "disabled"); 
            objVatNo1.val('');
            Objvatname1.val('');
            jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children().addClass("disabled");
            jQuery('button.selectpicker .filter-option').html(' ');
        }
        else{
            objVatNo1.removeAttr("disabled");
            Objvatname1.removeAttr("disabled");
            jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children(3).removeClass('disabled');
        }           
        
    });

        
        function noVAT(vatId)
        {           
            var objVatNo = jQuery('input[id$="vatNo"]');
            //Added By Geetham For SF-4915
            var Objvatname = jQuery('textarea[id$="ship-owner-vat-name"]');
            var vat_app_chk = jQuery('input[id$="vat_applicable"]').is(':checked');
            if(vat_app_chk){
                objVatNo.attr("disabled", "disabled");
                Objvatname.attr("disabled", "disabled"); 
                jQuery('input[id$="vatNo"]').val('');
                jQuery('textarea[id$="ship-owner-vat-name"]').val('');
                // jQuery('input[id$="ship-owner-country-prefix"]').val('');
                jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children().addClass("disabled");
                jQuery('button.selectpicker .filter-option').html(' ');
            }
            else{
                objVatNo.removeAttr("disabled");
                Objvatname.removeAttr("disabled");
                jQuery('select[id$="country_select_id"]').parents(".select-wrapper").children().children(3).removeClass('disabled');
            }           
        }
        function checkAssured(assNm)
        {
            var invoice = jQuery('input[id$="ship-owner-name-premium-invoice"]');
            var assNo = jQuery('textarea[id$="ship-owner-name-of-assured"]').val();
            var same_name = jQuery('input[id$="same_as_assured"]').is(':checked');
            
            if(same_name)
            {
                invoice.attr("disabled", "disabled");
                invoice.val(assNo);
            }
            else{
                invoice.removeAttr("disabled");
                 invoice.val();
                }
        }
        function validationPage2Shipowner(){
            jQuery(".error-validation-msg").remove(); 
            var regName = jQuery.trim(jQuery('textarea[id$="ship-owner-registered-owner"]').val());
            var ownerName = jQuery.trim(jQuery('textarea[id$="ship-owner-name-of-assured"]').val());
            var premiumInvoice = jQuery.trim(jQuery('input[id$="ship-owner-name-premium-invoice"]').val());
            var ownerVatName = jQuery.trim(jQuery('textarea[id$="ship-owner-vat-name"]').val());
            var vatNo = jQuery.trim(jQuery('input[id$="vatNo"]').val());
            var countryPrefix = jQuery.trim(jQuery('input[id$="ship-owner-country-prefix"]').val());
            var vat_chk = jQuery('input[id$="vat_applicable"]').is(':checked');
            var regex=/^[a-zA-Z]+$/;
            var Country = jQuery('select[id$="country_select_id"]').val();
            if(regName == ''){
                var msgError = '<div class="error-validation-msg" style="margin-left: 300px;">This field can not be blank.</div>';                  
               jQuery('textarea[id$="ship-owner-registered-owner"]').after(msgError);                 
                return false;
            }
            else if(ownerName == ''){
                var msgError = '<div class="error-validation-msg" style="margin-left: 300px;">This field can not be blank.</div>';                  
               jQuery('textarea[id$="ship-owner-name-of-assured"]').after(msgError);                 
                return false;
            }
             else if(premiumInvoice == ''){
                var msgError = '<div class="error-validation-msg" style="margin-left: 300px;">This field can not be blank.</div>';                  
               jQuery('input[id$="ship-owner-name-premium-invoice"]').after(msgError);                 
                return false;
            }
            else if(ownerVatName == '' && vat_chk == false){
                var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
               jQuery('textarea[id$="ship-owner-vat-name"]').after(msgError);                 
                return false;
            }
            else if(vatNo == '' && vat_chk == false){
                var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
               jQuery('input[id$="vatNo"]').after(msgError);                 
                return false;
            }
            else if(countryPrefix != '' && !countryPrefix.match(regex)){
                var msgError = '<div class="error-validation-msg">Country code should be text only.</div>';                  
               jQuery('input[id$="ship-owner-country-prefix"]').after(msgError);                 
                return false;
            }
             else if(!vat_chk && (typeof Country != typeof  undefined) && (Country == '' || Country == null || Country == ' ')) {
                                                            var msgError = '<div class="error-validation-msg">Please select Country.</div>';                  
                                                            jQuery('select[id$="country_select_id"]').next().after(msgError);                
                                                            return false;
                                                        }
            /*else if(!vat_chk){
                var msgError = '<div class="error-validation-msg">This field can not be blank.</div>';                  
               jQuery('input[id$="vat_applicable"]').next().after(msgError);                 
                return false;
            }*/
            else{
            return true;
            }
        }
    </script>
 <apex:composition template="PageFrame" >
        <apex:define name="content" >             
           
            <div id="content" class="content">
                <div class="content-wrapper">
                    <!--SF-4582 starts-->
                <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                    <div class="page-title">My portfolio</div>
                  </apex:outputPanel>
                <!--4582 Ends-->
                    <div class="tab-section-container">
                    <!--SF-4582 starts-->
                      <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                        <apex:include pageName="requestPage"/>
                       </apex:outputPanel>
                     <!--4582 Ends-->
                        <div class="tab-button-section">                            
                           <div class="tab-header-container">
                            <!--SF-4582 starts-->
                               <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">
                                    <div class="cover single-tab deselected"><apex:outputLink value="/apex/MyCovers" >My covers</apex:outputLink></div>
                                    <div class="object single-tab deselected"><apex:outputLink value="/apex/MyObjects" >My objects</apex:outputLink></div>
                                    <div class="documents single-tab deselected"><apex:outputLink value="/apex/ViewDocument" >Documents</apex:outputLink></div>
                               </apex:outputPanel> 
                               <!--SF-4582 ends-->
                                    <div class="forms single-tab selected"><apex:outputLink value="/apex/PortfolioForms" >Forms</apex:outputLink><div class="update-cover-wrapper-activated"></div></div>
                               <!--SF-4582 starts-->
                               <apex:outputPanel rendered="{!if(usertype!='GUEST',true,false)}">                            
                                    <div class="portfolio-report single-tab deselected"><apex:outputLink value="/apex/PortfolioReports">Portfolio reports</apex:outputLink></div>
                               </apex:outputPanel>
                               <!--SF-4582 ends-->
                           </div>
                        </div>
                            <div class="tab-details-section gard-contact claim-tabs-section portfolio">
                                <div class="tab-detail-columns">            
                        <!-- new HTML added -->
                         <apex:form id="frm1"> 
                        <div class="tab-object-section tab-table-wrapper tab-detail-container broker-view forms" style="display: block;">
                                        <div class="multistep-form-step-container ship-owner-form-container">
                                                <div class="contact-field">
                                                    <div class="form-field-scrol-container">
                                                        <div class="multistep-form-path-pointer">
                                                            <div class="common-path-bar"></div>
                                                            <div class="completed-path-bar" style="width: 205px;"></div>
                                                            <div class="section-titles obj-det-title">Object details</div>
                                                            <div class="section-titles add-det-title">Additional details</div>
                                                            <div class="section-titles rev-title">Review and submit</div>
                                                            <div class="obj-details-dot dots current"></div>
                                                            <div class="add-details-dot dots"></div>
                                                            <div class="review-dot dots"></div>
                                                        </div>
                                                        <div class="calendar-container new-claim-calender"></div>
                                                        <div class="new-claim-report-section sub-sec-title-area">Application form for Offshore object</div>
                                                        <div class="uw-additional-details multistep-content-holder" style="display:block;">
                                                            <div class="report-new-claim-field-section">                
                                                                <div class="request-form-each-field-section">
                                                                     <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span><apex:outputText value=" Registered owner's name and address:"/></label>
                                                                    <apex:inputTextarea value="{!uwf.Registered_owner_s_name_and_address__c}" styleClass="uw-additional-reg-owner-name-add" id="ship-owner-registered-owner" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
                                                                </div>
                                                                <div class="request-form-each-field-section">
                                                                    <!--<label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name of assured / members:</label> for SF-4964-->
                                                                    <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name of assured/members and capacity (full name, including city/country)</label>
                                                                    <apex:inputTextarea value="{!uwf.Name_of_Assured_Member__c}" styleClass="uw-additional-reg-owner-name-add" id="ship-owner-name-of-assured" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
                                                                </div>
                                                                <div class="request-form-each-field-section">
                                                                    <!--<label class="uw-add-det-left-label long-label-textarea" for="uw-additional-reg-owner-name-add">Name of co-assureds (if any) and capacity:</label> SF-4964-->
                                                                    <label class="uw-add-det-left-label long-label-textarea" for="uw-additional-reg-owner-name-add">Name of co-assured (if any) and capacity (full name, including city/country)</label>
                                                                    <apex:inputTextarea value="{!uwf.Co_assureds_capacity__c}" styleClass="uw-additional-reg-owner-name-add" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
                                                                </div>
                                                            </div>
                                                            <div class="report-new-claim-field-section new-claim-right-section">
                                                                <div class="request-form-each-field-section">
                                                                    <label class="uw-add-det-left-label long-label-textarea" for="uw-additional-reg-owner-name-add">Mortgagee(s), name and address:</label>
                                                                    <apex:inputtextarea value="{!uwf.Mortgagee_Name_and_Address__c}" styleClass="uw-additional-reg-owner-name-add" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
                                                                </div>
                                                                <div class="request-form-each-field-section">
                                                                    <div class="half-text-section">
                                                                        <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label long-label-textarea"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Name to appear on premium invoice:</label>
                                                                        <apex:inputText value="{!uwf.Name_on_Premium_Invoice__c}" styleClass="uw-additional-prem-inv-name" id="ship-owner-name-premium-invoice" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
                                                                    </div>
                                                                    <div class="subs-check-single same-assured">
                                                                        <apex:inputcheckbox onClick="checkAssured(this)" id="same_as_assured" value="{!isSame}"/>                
                                                                        <label for="{!$Component.same_as_assured}">Same as assured</label>
                                                                    </div>
                                                                </div>
                                                                <!--SF-4915--Starts-->
                                                                <div class="request-form-each-field-section uw-add-det-vat-nap">
                                                                    <label class="uw-add-det-left-label" for="uw-additional-reg-owner-name-add"></label>
                                                                    <div class="subs-check-single">
                                                                        <apex:inputcheckbox onClick="noVAT(this)" id="vat_applicable" value="{!uwf.VAT_Not_Applicable__c}"/>                
                                                                        <label for="{!$Component.vat_applicable}">VAT not applicable</label>
                                                                    </div>
                                                                </div>
                                                                <!--SF-4915--Ends-->
                                                                <div class="request-form-each-field-section">
                                                                    <label class="uw-add-det-left-label double-line-label long-label-textarea" for="uw-additional-reg-owner-name-add"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> VAT &ndash; Name and address of the operating company:</label>
                                                                    <apex:inputtextarea value="{!uwf.VAT_Name_AddressOf_Company__c}" styleClass="uw-additional-reg-owner-name-add" id="ship-owner-vat-name" onkeyup="limitText(this,1000);" onkeypress="limitText(this,1000);"/>
                                                                </div>
                                                                <div class="request-form-each-field-section vat-section" style="height:100px !important;">
                                                                    <div class="half-text-section">
                                                                         <label for="uw-additional-reg-owner-name-add" class="uw-add-det-left-label"><span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}" /></span> Registered for VAT – VAT number:</label>
                                                                        <apex:inputText id="vatNo" value="{!uwf.VAT_number__c}" styleClass="uw-add-vat-no" maxlength="100"/> 
                                                                    </div>
                                                                   <!-- <div class="cnt-pref">
                                                                        <label for="uw-additional-reg-owner-name-add" class="uw-add-right-to-right-label" style="margin-left: 0px !important;"> Country code:</label>
                                                                        <apex:inputText value="{!uwf.Country_prefix__c}" styleClass="uw-add-right-to-right-field" id="ship-owner-country-prefix" maxlength="10"/>
                                                                    </div> -->
                                                                    <div class="cnt-pref extrem-last-dropdown">
                                                                        <label for="uw-additional-reg-owner-name-add" class="uw-add-right-to-right-label" style="margin-left: 0px !important;margin-bottom: 1px;">
                                                                        <span class="form-req-field"><apex:image value="{!URLFOR($Resource.gardExtranetResources, 'newTheme/images/request-form-required-field-icon.png')}"/></span>
                                                                        <span class="label-text">Country code:</span>
                                                                        <span class="desc-tooltip closed" style="left: 85px; margin: 0px -10px 0 0;"><div class="desc-tooltip-container" style="display: none; margin: 23px 0 0px -158px; width: 200px;"><div class="desc-tooltip-popup-pointer" style="margin: 0px 0 0 160px;"></div><div class="desc-tooltip-popup-wrapper"><div class="desc-tooltip-popup-title">What is this?</div><div class="desc-tooltip-popup-text">{!$ObjectType.UWForm__c.fields.Country_prefix__c.InlineHelpText}</div></div></div></span>
                                                                        </label>
                                                                        <!--<apex:inputText value="{!uwf.Country_prefix__c}" styleClass="uw-add-right-to-right-field" id="ship-owner-country-prefix" maxlength="10"/>-->
                                                                        <div class="select-wrapper">
                                                                            <apex:selectList value="{!selectedCountryCode}" size="1" multiselect="false" styleClass="selectpicker" id="country_select_id">
                                                                                        <apex:selectOptions value="{!Countrycodes}"/>
                                                                            </apex:selectList>
                                                                        </div>
                                                                    </div>
                                                                    <script>
                                                                         /* Controls the search by option popup for the single pick-list */
                                                                                    
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .selectpicker').selectpicker({
                                                                                        noneResultsText: 'No match found!',
                                                                                        liveSearch: true,
                                                                                        searchAccentInsensitive: false
                                                                                    });  
                                                                                    
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                                        //jQuery('.dropdown-menu.inner.selectpicker .mCSB_container').css('display', 'block');
                                                                                        //alert(jQuery(this).next().children().find('li.selected').length);
                                                                                        if (jQuery(this).next().children().find('li.selected').length != 0) {
                                                                                            //alert(jQuery(this).next().children().find('.mCSB_container').css('top')/* .children('.mCSB_container').css('top') */);
                                                                                        }
                                                                                    });
                                                                                    /* Deselect any selection while choosong any picklist */
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .select-wrapper .btn-group button.multiselect, .select-wrapper .dropdown-toggle.selectpicker').click( function(){
                                                                                        document.getSelection().removeAllRanges();
                                                                                    });
                                                                                    /* Deselect any selection while choosong any picklist */
                                                                            
                                                                                /* Default search by any word selection for the pick-list search option */
                                                                                    //var incrementer = 1;
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .search-by-option-container').each( function(){
                                                                                        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                                        jQuery(this).html(searchOptions);
                                                                                        incrementer++;
                                                                                    });
                                                                                    /* Default search by any word selection for the pick-list search option */
                                                                                
                                                                                    
                                                                                    /* Controls the opening/closing feature for the search by popup. */
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .search-by-icon-button').click( function(){
                                                                                        jQuery(this).children().show();
                                                                                    });
                                                                                    var searchByElement = jQuery('.request-form-each-field-section .cnt-pref .search-by-icon-button');
                                                                                    jQuery(document).bind('mouseup', function (e){
                                                                                        if (searchByElement.has(e.target).length === 0) {
                                                                                            jQuery(searchByElement).children().hide();
                                                                                        }
                                                                                    });
                                                                                    /* Controls the opening/closing feature for the search by popup. */
                                                                                
                                                                                    /* Controls the search by option popup for the single pick-list */
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .bs-searchbox').each( function(){
                                                                                        var searchOptions = '<span class="search-by-icon-button selectpicker-long-option" alt="Search by"><span class="search-by-pointer"></span><div class="search-by-option"><div class="search-by-text">Search by<span class="close-search-by"></span></div><div class="search-options"><input class="any-word" id="search-by-any-word' + incrementer + '" type="radio" value="0" name="search-option' + incrementer + '" checked><label for="search-by-any-word' + incrementer + '">Any word</label></div><div class="search-options"><input class="exact-phrase" id="search-by-exact-phrase' + incrementer + '" type="radio" value="1" name="search-option' + incrementer + '"><label for="search-by-exact-phrase' + incrementer + '">Exact phrase</label></div></div></span>';
                                                                                        jQuery(this).append(searchOptions);
                                                                                        incrementer++;
                                                                                    });
                                                                                    jQuery('.request-form-each-field-section .cnt-pref .bs-searchbox .search-by-icon-button').click( function(e){
                                                                                        e.stopPropagation();
                                                                                        jQuery(this).children().show();
                                                                                    });
                                                                                    var searchByElementSingle = jQuery('.request-form-each-field-section .cnt-pref .bs-searchbox .search-by-icon-button');
                                                                                    jQuery(document).bind('mousedown', function (e){
                                                                                        if (searchByElementSingle.has(e.target).length === 0) {
                                                                                            jQuery(searchByElementSingle).children().hide();
                                                                                        }
                                                                                    });                                  
                                                                                    jQuery(".request-form-each-field-section .cnt-pref .dropdown-menu.open ul").mCustomScrollbar({
                                                                                        mouseWheelPixels: 20,
                                                                                        scrollEasing: "linear",
                                                                                        scrollInertia: 0
                                                                                    }); 
                                                                                
                                                                                    /* Stop multi-select dropdown closing event clicking on the custom scroll bar */
                                                                                    jQuery('.mCSB_draggerContainer').click( function(e){
                                                                                        e.stopPropagation();
                                                                                    });
                                                                        </script>
                                                                </div>
                                                                <!--Commented for SF-4915 By Geetham STARTS-->
                                                                <!--div class="request-form-each-field-section uw-add-det-vat-nap">
                                                                    <label class="uw-add-det-left-label" for="uw-additional-reg-owner-name-add"></label>
                                                                    <div class="subs-check-single">
                                                                       <apex:inputcheckbox onClick="noVAT(this)" id="vat_applicable" value="{!uwf.VAT_Not_Applicable__c}"/> 
                                                                        <label for="{!$Component.vat_applicable}">VAT not applicable</label>
                                                                    </div>
                                                                </div-->
                                                                <!--Commented for SF-4915 By Geetham ENDS-->
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="form-submit-section">
                                                            <div class="left-button-set">
                                                                <!--<input type="submit" id="submit" class="form-btn prev-nav" name="submit" value="Prev"/>
                                                                <input type="submit" id="submit" class="form-btn next-nav" name="submit" value="Next"/>
                                                                <input type="submit" id="submit" class="form-btn multi-clear-btn" name="submit" value="Cancel"/>
                                                                -->
                                                                                
                                                                <apex:commandButton value="Prev" styleClass="form-btn prev-nav" action="{!goPrevForAddlInfo}" />                
                                                                <apex:commandButton value="Next" styleClass="form-btn next-nav" action="{!goNextForAddlInfo}" style="margin-left: 4px;" onclick="return validationPage2Shipowner();" />
                                                                <apex:commandButton value="Cancel" action="{!clearRecordForAddlInfo}" rerender="otp1,otp2,otp3" styleClass="form-btn multi-clear-btn" style="margin-left: 4px;"/>
                                                                
                                                            </div>
                                                            <div class="right-button-set">
                                                                <!--<input id="submit" class="form-btn rvw-sub-multi" type="submit" name="submit" value="Review and submit"/>
                                                                -->
                                                                <apex:commandButton value="Review and submit" action="{!saveRecordForAddlInfo}" styleClass="form-btn rvw-sub-multi" onclick="return validationPage2Shipowner();" />
                                                            </div>
                                                        </div>
                                                </div>
                                                        
                                               
                                              </div>
                                            
                                        </div>
                                </apex:form>
                        <!-- end of new HTML added -->
                        </div>   
                        </div>
                        </div>
                        
                    </div>
                </div>
        
     </apex:define>
    </apex:composition>
</apex:page>