<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="ShowClaimDetailsCtrl" cache="True" contenttype="text/x-vcard#{!claimsHandler.FirstName__c} {!claimsHandler.LastName__c}.vcf; charset=utf-8">
BEGIN:VCARD
VERSION:3.0
N;CHARSET=utf-8:<apex:outputText value="{!claimsHandler.FirstName__c}" />;<apex:outputText value=" {!claimsHandler.LastName__c}" />
FN;CHARSET=utf-8:<apex:outputText value="{!claimsHandler.FirstName__c} {!claimsHandler.LastName__c}" />
TITLE:<apex:outputText value="{!claimsHandler.Title__c}" />
ABPerson
PHOTO;ENCODING=BASE64;TYPE=JPG:<apex:outputText value="{!base64Photo}"/>
TEL;TYPE=WORK,VOICE:<apex:outputText value="{!claimsHandler.Phone__c}" />
TEL;TYPE=CELL,VOICE:<apex:outputText value="{!claimsHandler.MobilePhone__c}" />
ADR;TYPE=WORK:;;;<apex:outputText value="{!claimsHandler.Office_city__c}" />;;;
LABEL;TYPE=WORK:;;;<apex:outputText value="{!claimsHandler.Office_city__c}" />;;;
EMAIL;TYPE=PREF,INTERNET:<apex:outputText value="{!claimsHandler.Email__c}" /> 
END:VCARD
</apex:page>